<template>
    <div class>
        <el-button
            v-for="item in carbutton"
            @click="deviceData(item.ic)"
            :key="item.ic"
            type="primary"
        >{{ item.id }}</el-button>
    </div>
</template>

<script>
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';
import { onMounted, ref, reactive, watch, computed } from 'vue';
export default {
    setup(props) {
        const store = useStore()
        let carbutton = ref([
            {ic:800186,id:123},
            {ic:12345,id:5678},
            {ic:800182,id:2},
            {ic:800183,id:3},
            {ic:800052,id:4},
        ])
        const deviceData = (item) => {
            // console.log(item);
            let maps = {}
            maps[item] = ""
            store.dispatch("deviceData", {
                map:maps
            })
        }
        return {
            carbutton,
            deviceData
        }
    },
    components: {

    }
}
</script>

<style lang='less' scoped>
</style>
