<template>
    <div class="castScreen">
        <div class="title">{{ ScreenTitle }}</div>
        <div class="screenContent">
            <div class="track">
                <div class="trackImg">
                    <div class="trackTitle">赛道图</div>
                    <div class="trackImgcon">
                        <img :src="ImgUrl + ScreenSaidaoImg" alt />
                    </div>
                </div>
                <div class="waittingPlayer">
                    <div class="trackTitle">下一场车手准备</div>
                    <div class="trackPlayerCon">
                        <div class="playerItem" v-for="(item,index) in prepareUsers" :key="index">
                            <div class="playerIcon">
                                <img :src="item.pic" alt />
                            </div>
                            <div class="playerName">{{ item.name }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rank">
                <div class="ranList">
                    <div class="tableHeader">
                        <div class="tableHeaderItem">状态</div>
                        <div class="tableHeaderItem">名次</div>
                        <div class="tableHeaderItem">照片</div>
                        <div class="tableHeaderItem">车手</div>
                        <div class="tableHeaderItem">车号</div>
                        <div class="tableHeaderItem">圈数</div>
                        <div class="tableHeaderItem">最快单圈</div>
                        <div class="tableHeaderItem">最快圈</div>
                        <div class="tableHeaderItem" v-if="gameRankList[0]?.gameType !== 'JS'">圈差</div>
                        <div class="tableHeaderItem" v-if="gameRankList[0]?.gameType == 'DQHDS'">总时间差</div>
                        <div class="tableHeaderItem">当圈成绩</div>
                        <div class="tableHeaderItem">总时间</div>
                    </div>
                    <div class="tableBody">
                        <transition-group name="flip-list" tag="div">
                            <div
                                class="tableList"
                                v-for="(item,index) in gameRankList"
                                :key="item.clubCarNo"
                            >
                                <div class="tableListItem">{{ item.status }}</div>
                                <div class="tableListItem">
                                    <span
                                        :class="index == 0 ? 'firstming' : index == 1 ? 'secondming' : index == 2 ? 'thirdming' : 'defaultming'"
                                    >{{ index + 1 }}</span>
                                </div>
                                <div class="tableListItem">
                                    <div class="userIcon">
                                        <img :src="item.pic" alt />
                                    </div>
                                </div>
                                <div class="tableListItem">{{ item.name }}</div>
                                <div class="tableListItem">{{ item.clubCarNo }}</div>
                                <div class="tableListItem">{{ item.totalTurns }}</div>
                                <div class="tableListItem">{{ item.durationFmt }}</div>
                                <div class="tableListItem">{{ item.turnsNo }}</div>
                                <div
                                    class="tableListItem"
                                    v-if="gameRankList[0].gameType !== 'JS'"
                                >{{ item.turnsDiffFmt }}</div>
                                <div
                                    class="tableListItem"
                                    v-if="gameRankList[0].gameType == 'DQHDS'"
                                >{{ item.turnsDiffFmt }}</div>
                                <div class="tableListItem">{{ item.lastDurationFmt }}</div>
                                <div class="tableListItem">{{ item.totalDurationFmt }}</div>
                            </div>
                        </transition-group>
                    </div>
                </div>
                <div class="ranFour">
                    <div class="rankFourItem">
                        <div class="rankFourHeader">本周排名</div>
                        <el-table
                            :header-row-class-name="headerRowblack"
                            :cell-class-name="otherRow"
                            :data="weekDataList"
                            stripe
                            style="width: 100%"
                        >
                            <el-table-column align="center" label="名次" width="70">
                                <template #default="scope">
                                    <span
                                        :class="scope.$index == 0 ? 'firstming' : scope.$index == 1 ? 'secondming' : scope.$index == 2 ? 'thirdming' : 'defaultming'"
                                    >{{ scope.$index + 1 }}</span>
                                </template>
                            </el-table-column>
                            <el-table-column align="center" label="照片" width="70">
                                <template #default="scope">
                                    <img style="width:1rem;height:1rem" :src="scope.row.pic" alt />
                                </template>
                            </el-table-column>
                            <el-table-column align="center" label="车手" prop="name" />
                            <el-table-column align="center" label="最快单圈" prop="durationFmt" />
                        </el-table>
                    </div>
                    <div class="rankFourItem">
                        <div class="rankFourHeader">本月排名</div>
                        <el-table
                            :header-row-class-name="headerRowblack"
                            :cell-class-name="otherRow"
                            :data="MonthDataList"
                            stripe
                            style="width: 100%"
                        >
                            <el-table-column align="center" label="名次" width="70">
                                <template #default="scope">
                                    <span
                                        :class="scope.$index == 0 ? 'firstming' : scope.$index == 1 ? 'secondming' : scope.$index == 2 ? 'thirdming' : 'defaultming'"
                                    >{{ scope.$index + 1 }}</span>
                                </template>
                            </el-table-column>
                            <el-table-column align="center" label="照片" width="70">
                                <template #default="scope">
                                    <img style="width:1rem;height:1rem" :src="scope.row.pic" alt />
                                </template>
                            </el-table-column>
                            <el-table-column align="center" label="车手" prop="name" />
                            <el-table-column align="center" label="最快单圈" prop="durationFmt" />
                        </el-table>
                    </div>
                    <div class="rankFourItem">
                        <div class="rankFourHeader">季度排名</div>
                        <el-table
                            :header-row-class-name="headerRowblack"
                            :cell-class-name="otherRow"
                            :data="JiduDataList"
                            stripe
                            style="width: 100%"
                        >
                            <el-table-column align="center" label="名次" width="70">
                                <template #default="scope">
                                    <span
                                        :class="scope.$index == 0 ? 'firstming' : scope.$index == 1 ? 'secondming' : scope.$index == 2 ? 'thirdming' : 'defaultming'"
                                    >{{ scope.$index + 1 }}</span>
                                </template>
                            </el-table-column>
                            <el-table-column align="center" label="照片" width="70">
                                <template #default="scope">
                                    <img style="width:1rem;height:1rem" :src="scope.row.pic" alt />
                                </template>
                            </el-table-column>
                            <el-table-column align="center" label="车手" prop="name" />
                            <el-table-column align="center" label="最快单圈" prop="durationFmt" />
                        </el-table>
                    </div>
                    <div class="rankFourItem">
                        <div class="rankFourHeader">本年排名</div>
                        <el-table
                            :header-row-class-name="headerRowblack"
                            :cell-class-name="otherRow"
                            :data="YearDataList"
                            stripe
                            style="width: 100%"
                        >
                            <el-table-column align="center" label="名次" width="70">
                                <template #default="scope">
                                    <span
                                        :class="scope.$index == 0 ? 'firstming' : scope.$index == 1 ? 'secondming' : scope.$index == 2 ? 'thirdming' : 'defaultming'"
                                    >{{ scope.$index + 1 }}</span>
                                </template>
                            </el-table-column>
                            <el-table-column align="center" label="照片" width="70">
                                <template #default="scope">
                                    <img style="width:1rem;height:1rem" :src="scope.row.pic" alt />
                                </template>
                            </el-table-column>
                            <el-table-column align="center" label="车手" prop="name" />
                            <el-table-column align="center" label="最快单圈" prop="durationFmt" />
                        </el-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { useStore } from 'vuex';
import { useRouter, useRoute } from 'vue-router';
import { onMounted, ref, reactive, watch, computed } from 'vue';
import { WSconnect } from "@/utils/rankSocket.js";
export default {
    setup(props) {
        // 初始化store
        const store = useStore()
        const route = useRoute()
        // 大屏标题
        let ScreenTitle = ref("")
        // 赛道图
        let ScreenSaidaoImg = ref("")
        // 准备车手
        let planPlayer = ref([])
        // 周
        let weekDataList = ref([])
        // 月
        let MonthDataList = ref([])
        // 季度
        let JiduDataList = ref([])
        // 年
        let YearDataList = ref([])
        let ImgUrl = ref("https://karting-club.oss-cn-hangzhou.aliyuncs.com/")
        // 标题字体大小
        let ScreenTitlefont = ref("")
        const headerRow = ({ row, rowIndex }) => {
            if (rowIndex === 0) {
                return 'headerRow'
            }
        }
        const headerRowblack = ({ row, rowIndex }) => {
            if (rowIndex === 0) {
                return 'headerRowblack'
            }
        }
        const otherRow = ({ row, rowIndex }) => {
            if (rowIndex % 2 == 1) {
                return 'otherRow'
            } else {
                return 'anotherRow'
            }
        }
        onMounted(() => {
            
            // WSconnect()
            WSconnect(route.query.clubId)
            // let id = localStorage.getItem('gameScheduleId')
            store.dispatch('gameRank', { clubId: route.query.clubId })
            store.dispatch("clubDetail", { id: route.query.clubId }).then(res => {
                console.log(res);
                ScreenTitle.value = res.data.name
                ScreenSaidaoImg.value = res.data.banner
                ScreenTitlefont.value = ScreenTitlefont.value==0?`30px`:`${res.data.screenTitleFont}px`
            })
            // 准备场次车手
            store.dispatch('getGameScheduleUserbig', { gameScheduleId: 'wait-game-schedule-id' })

            store.dispatch("rankByPeriod", { type: "W", clubId: route.query.clubId }).then(res => {

                weekDataList.value = res.data.splice(0, 5)
            })
            store.dispatch("rankByPeriod", { type: "M", clubId: route.query.clubId }).then(res => {

                MonthDataList.value = res.data.splice(0, 5)
            })
            store.dispatch("rankByPeriod", { type: "Q", clubId: route.query.clubId }).then(res => {

                JiduDataList.value = res.data.splice(0, 5)
            })
            store.dispatch("rankByPeriod", { type: "Y", clubId: route.query.clubId }).then(res => {

                YearDataList.value = res.data.splice(0, 5)
            })
        })
        const tableData = ref([
            {
                date: '2016-05-03',
                name: 'Tom',
                address: 'No. 189, Grove St, Los Angeles',
            },
            {
                date: '2016-05-02',
                name: 'Tom',
                address: 'No. 189, Grove St, Los Angeles',
            },
            {
                date: '2016-05-04',
                name: 'Tom',
                address: 'No. 189, Grove St, Los Angeles',
            },
            {
                date: '2016-05-01',
                name: 'Tom',
                address: 'No. 189, Grove St, Los Angeles',
            },
        ])
        return {
            headerRow,
            tableData,
            otherRow,
            headerRowblack,
            ScreenTitlefont,
            ScreenTitle,
            ScreenSaidaoImg,
            ImgUrl,
            planPlayer,
            weekDataList,
            MonthDataList,
            JiduDataList,
            YearDataList,
            gameRankList: computed(() => store.state['karting'].gameRankList),
            prepareUsers: computed(() => store.state['karting'].prepareUsers),
        }
    },
    components: {

    }
}
</script>

<style lang='less' scoped>
.castScreen {
    width: 100%;
    height: 100%;
    background: #0b0b0b;
    .title {
        height: 100px;
        font-size: v-bind("ScreenTitlefont");
        letter-spacing: 1px;
        font-weight: 600;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .screenContent {
        height: calc(100% - 100px);
        padding: 0 20px 20px;
        display: grid;
        grid-template-columns: 30% calc(70% - 20px);
        grid-template-rows: 100%;
        box-sizing: border-box;
        .track {
            background: #1f1f1f;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 70% 30%;
            .trackImg,
            .waittingPlayer {
                .trackTitle {
                    text-align: right;
                    height: 40px;
                    line-height: 40px;
                    font-size: 18px;
                    padding-right: 20px;
                    box-sizing: border-box;
                    color: white;
                    width: 100%;
                    background: linear-gradient(to left, #4285f4, #1f1f1f);
                }
                .trackPlayerCon {
                    height: calc(100% - 40px);
                    padding: 12px 0 0 12px;
                    box-sizing: border-box;
                    overflow-y: scroll;
                    .playerItem {
                        width: 90px;
                        height: 100px;
                        float: left;
                        padding: 0 10px;
                        box-sizing: border-box;
                        .playerIcon {
                            width: 100%;
                            height: 70px;
                            border-radius: 50%;
                            overflow: hidden;
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .playerName {
                            height: 30px;
                            line-height: 30px;
                            text-align: center;
                            font-size: 15px;
                            color: white;
                        }
                    }
                }
                .trackPlayerCon::-webkit-scrollbar {
                    display: none;
                }
            }
            .trackImg {
                .trackImgcon {
                    height: calc(100% - 40px);
                    width: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        .rank {
            width: 100%;
            height: 100%;
            background: #1f1f1f;
            margin-left: 20px;
            display: grid;
            grid-template-rows: 60% 40%;
            grid-template-columns: 100%;
            .ranFour {
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: 25% 25% 25% 25%;
                grid-template-rows: 100%;
                padding-left: 15px;
                box-sizing: border-box;
                .rankFourItem {
                    height: 100%;
                    margin-right: 15px;
                    .rankFourHeader {
                        height: 40px;
                        background: #06cb09;
                        line-height: 40px;
                        color: white;
                        font-size: 18px;
                    }
                }
                .rankFourItem:nth-child(2) {
                    .rankFourHeader {
                        height: 40px;
                        background: #38b9fa;
                    }
                }
                .rankFourItem:nth-child(3) {
                    .rankFourHeader {
                        height: 40px;
                        background: #c40bff;
                    }
                }
                .rankFourItem:nth-child(4) {
                    .rankFourHeader {
                        height: 40px;
                        background: #f2b600;
                    }
                }
            }
        }
    }
}
.userIcon {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 1.5rem;
        border-radius: 50%;
    }
}
.el-table::v-deep(.headerRow th) {
    background: #01509c !important;
    color: white;
    border: none;
}
.el-table::v-deep(.headerRowblack th) {
    background: #171717 !important;
    color: white;
    border: none;
}
.el-table::v-deep(.otherRow) {
    background: #171717 !important;
    border: none;
}
.el-table::v-deep(.anotherRow) {
    background: #1f1f1f !important;
    border: none;
}
.el-table::before {
    display: none;
}

.tableHeader {
    height: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    background-color: #01509c;
    .tableHeaderItem {
        flex: 1;
        height: 100%;
        color: white;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .tableHeaderItem:last-child {
        flex: 1.3;
    }
}
.tableBody {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.tableList {
    height: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    .tableListItem {
        flex: 1;
        height: 100%;
        color: rgb(225, 252, 255);
        font-size: 0.8rem;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .tableListItem:last-child {
        flex: 1.3;
    }
    .img {
        height: 70%;
        width: 90%;
        background-size: 100% 100%;
    }
}
.tableList:nth-child(2n-1) {
    background: #171717;
}
.flip-list-move {
    // cubic-bezier(0.3, 0.2, 0.1, 0.1)
    transition: all 0.8s ease;
    opacity: 0.8;
    transform: translateZ(20px);
}
.firstming {
    padding: 3px 10px;
    color: white;
    background: #fe0200;
}
.secondming {
    padding: 3px 10px;
    color: white;
    background: #ffa641;
}
.thirdming {
    padding: 3px 10px;
    color: white;
    background: #168af9;
}
.defaultming {
    color: white;
}
</style>
