<template>
  <div class="arctileManage">
    <div class="searchFormBtn">
      <el-button type="warning" @click="onAddarcticle" :icon="Plus">
        <span class="cpointer">添加文章</span>
      </el-button>
      <!-- <el-button type="danger" @click="onDelete" :icon="DeleteFilled">
        <span class="cpointer">批量删除</span>
      </el-button>-->
    </div>
    <div class="articleContent">
      <div class="grid-content">
        <div class="articleTitle">文章分类列表</div>
        <div class="articleTree">
          <div class="allType">全部分类</div>
          <div
            v-for="(item,index) in articleType"
            :class="artParmas.category == item ? ['itemType', 'currentType'] : ['itemType']"
            @click="getArticleType(item)"
            :key="index"
          >{{ item }}</div>
        </div>
      </div>
      <div class="grid-content">
        <div class="searchForm">
          <el-form :inline="true" :model="artParmas" class="demo-form-inline">
            <el-form-item label>
              <el-input v-model="artParmas.title" placeholder="输入关键字搜索" />
            </el-form-item>
            <!-- <el-form-item label="商品分类">
              <el-select v-model="formInline.region" placeholder="卡丁车车票">
                <el-option label="Zone one" value="shanghai"></el-option>
                <el-option label="Zone two" value="beijing"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="所属俱乐部">
              <el-select v-model="formInline.region" placeholder="请选择俱乐部">
                <el-option label="Zone one" value="shanghai"></el-option>
                <el-option label="Zone two" value="beijing"></el-option>
              </el-select>
            </el-form-item>-->
            <el-form-item>
              <el-button type="primary" @click="onSubmit" :icon="Search">
                <span class="cpointer">查询</span>
              </el-button>
              <el-button type="primary" @click="onReset">
                <span class="cpointer">重置</span>
              </el-button>
            </el-form-item>
          </el-form>
        </div>
        <div class="articleList">
          <el-table
            :header-row-class-name="headerRow"
            :data="artList.rows"
            stripe
            style="width: 100%"
          >
            <!-- <el-table-column type="selection" width="55" /> -->
            <el-table-column align="center" show-overflow-tooltip label="标题" prop="title" />
            <el-table-column align="center" label="所属分类" prop="category" />
            <el-table-column align="center" label="地址" prop="address" />
            <el-table-column align="center" label="电话" prop="phone" />
            <el-table-column align="center" label="是否展示首页" prop="recommend" width="150">
              <template #default="scope">{{ scope.row.recommend == 1 ? "是" : "否" }}</template>
            </el-table-column>
            <el-table-column align="center" label="操作">
              <template #default="scope">
                <el-button
                  type="primary"
                  size="mini"
                  @click.stop="handleEdit(scope.$index, scope.row)"
                >编辑</el-button>
                <el-button
                  size="mini"
                  type="danger"
                  @click.stop="handleDelete(scope.$index, scope.row)"
                >删除</el-button>
              </template>
            </el-table-column>
          </el-table>
          <el-pagination
            style="margin-top: 20px;text-align:right"
            background
            :currentPage="artParmas.page"
            :page-size="artParmas.size"
            layout="prev, pager, next, jumper"
            :total="artList.total"
            @current-change="handleCurrentChange"
          ></el-pagination>
        </div>
      </div>
    </div>
    <teleport class="addClubform" to="body" v-if="dialogTableVisible">
      <el-dialog
        :title="artTitle"
        v-model="dialogTableVisible"
        :show-close="false"
        :close-on-click-modal="false"
      >
        <el-form ref="form_addArticle" :model="addArticleForm" :rules="rules" label-width="120px">
          <el-form-item label="文章标题" prop="name">
            <el-input style="width:300px;" v-model="addArticleForm.title"></el-input>
          </el-form-item>
          <el-form-item label="文章分类" prop="name">
            <el-select style="width:300px;" v-model="addArticleForm.category" placeholder="请选择文章分类">
              <el-option
                v-for="(item,index) in articleType"
                :key="index"
                :label="item"
                :value="item"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="地址" prop="name">
            <el-input style="width:300px;" v-model="addArticleForm.address"></el-input>
          </el-form-item>
          <el-form-item label="电话" prop="name">
            <el-input style="width:300px;" v-model="addArticleForm.phone"></el-input>
          </el-form-item>

          <el-form-item label="类型(标签)">
            <el-input style="width:300px;" v-model="addArticleForm.leixing"></el-input>
          </el-form-item>
          <el-form-item label="等级(标签)">
            <el-input style="width:300px;" v-model="addArticleForm.dengji"></el-input>
          </el-form-item>
          <el-form-item label="赛道长度(标签)" prop="name">
            <el-input style="width:300px;" v-model="addArticleForm.changdu"></el-input>
          </el-form-item>
          <el-form-item label="车辆(标签)" prop="name">
            <el-input style="width:300px;" type="number" v-model="addArticleForm.cheliang"></el-input>
          </el-form-item>
          <el-form-item label="是否展示首页">
            <el-switch v-model="recommend" :active-icon="Check" :inactive-icon="Close"></el-switch>
          </el-form-item>
          <el-form-item label="赛场图片">
            <div style="width:100%;height:100%;">
              <div
                class="imgListBox"
                style="margin-left:10px"
                v-for="{ url, uid } in bannerList"
                :key="uid"
              >
                <img :src="url" alt />
                <div class="deleteImg">
                  <DeleteFilled
                    @click="deleteAppImg(index)"
                    style="width:2rem;color:white;cursor:pointer"
                  />
                </div>
              </div>

              <el-upload
                style="display:flex;align-items:center;display:inline-block;padding:0;margin:0;width:100px;height:100px;"
                action="/karting/club/upload"
                list-type="picture"
                :show-file-list="false"
                :on-success="getFileApp"
                :limit="1"
              >
                <img style="margin-left:10px;width:100px;height:100px;" :src="uploadLogo" alt />
              </el-upload>
            </div>
          </el-form-item>
          <el-form-item label="赛场视频">
            <el-upload
              class="upload-demo"
              action="/karting/club/upload"
              :on-success="getVideo"
              :before-upload="beforeUploadVideo"
              :file-list="videoList"
              :on-exceed="limitVideo"
              :before-remove ="removeVideo"
              ref="videoRef"
              accept=".mp4"
              multiple
              :limit="1"
            >
              <el-button type="primary">
                点击上传视频
                <el-icon v-if="isupLoad" class="is-loading">
                  <Loading />
                </el-icon>
              </el-button>
              <template #tip>
                <div class="el-upload__tip">请上传10秒内的MP4文件</div>
              </template>
            </el-upload>
          </el-form-item>

          <el-form-item label="详情">
            <el-input v-model="addArticleForm.description" type="textarea"></el-input>
          </el-form-item>
          <el-form-item label="备注">
            <el-input v-model="addArticleForm.remark" type="textarea"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="onAddarticleSubmit">确认</el-button>
            <el-button @click="closedialogTable">取消</el-button>
          </el-form-item>
        </el-form>
      </el-dialog>
    </teleport>
  </div>
</template>

<script>
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';
import { onMounted, ref, reactive, watch, computed } from 'vue';
import { Plus, DeleteFilled, Search, Loading, Check, Close } from '@element-plus/icons'
import uploadLogo from '@/assets/images/Snipaste_2021-12-12_13-15-52.jpg'
import { ElMessage, ElMessageBox } from 'element-plus';
import store from '../../store';
export default {
  setup(props) {
    // 弹框显示属性
    let dialogTableVisible = ref(false)
    // 图标列表
    let logoList = ref([])
    let bannerList = ref([])
    // 视屏列表
    let videoList = ref([])

    // form_addArticle表单
    let form_addArticle = ref(null)
    // videoRef实例
    let videoRef = ref(null)
    // 添加文章表单
    const addArticleForm = reactive({
      remark: '',
      type: '',
      remark: '',
      title: '',
      category: "",
      recommend: "",
      description: "",
      remark: "",
      tags: [],
      category: '',
      address: '',
      phone: ''
    })
    // 是否展示到首页
    let recommend = ref(false)
    // 上传记载图标
    let isupLoad = ref(false)
    // articleType文章类型
    let articleType = ref([])
    // 文章列表
    let artList = reactive({
      rows: [],
      total: 0
    })
    // 文章列表参数
    let artParmas = reactive({
      page: 1,
      size: 10,
      title: '',
      category: ''
    })
    // 弹框标题
    let artTitle = ref("")
    const headerRow = ({ row, rowIndex }) => {
      if (rowIndex === 0) {
        return 'headerRow'
      }
    }

    // 上传logo图片
    const getFile = (response, file, fileList) => {
      logoList.value = [...fileList]
      addArticleForm.logo.push({ url: (response.data.url + response.data.fileName) })
    }
    // 删除logo图片
    const deleteImg = (index) => {
      logoList.value.splice(index, 1)
      addArticleForm.logo.splice(index, 1)
    }
    // 删除app图片
    const deleteAppImg = (index) => {
      bannerList.value.splice(index, 1)
      addArticleForm.banner = ''
    }
    // 上传app图片
    const getFileApp = (response, file, fileList) => {
      console.log(fileList);
      bannerList.value = [...fileList]
      addArticleForm.banner = response.data.fileName
    }
    // 上传视频
    const getVideo = (response, file, fileList) => {
      addArticleForm.videoUrl = response.data.fileName
      isupLoad.value = false
      ElMessage({
        type: "success",
        message: "上传视频成功"
      })
    }
    // 删除视频
    const removeVideo = (file) => {
      console.log("删除视频");
      addArticleForm.videoUrl = ''
      videoList.value = []
      videoRef.value.clearFiles()
    }
    // 视频超出限制的钩子
    const limitVideo = () => {
      ElMessage({
        type: "warning",
        message: "视频个数超出限制"
      })
    }
    // 上传视频前的钩子
    const beforeUploadVideo = (file) => {
      let url = URL.createObjectURL(file);
      let audioElement = new Audio(url)
      let duration;
      audioElement.addEventListener('loadedmetadata', (_event) => {
        duration = audioElement.duration;
        if (duration > 10) {
          ElMessage({
            type: "warning",
            message: "视频时长超时请上传新的视频"
          })
          return false;
        } else {
          isupLoad.value = true
        }
      })


    }
    // 添加文章
    const onAddarcticle = () => {
      artTitle.value = "添加文章"
      dialogTableVisible.value = true
    }
    // 确认添加文章
    const onAddarticleSubmit = () => {
      if (!isupLoad.value) {
        addArticleForm.recommend = Number(recommend.value)
        form_addArticle.value.validate(valid => {
          if (valid) {
            addArticleForm.tags = []
            addArticleForm.tags.push({ key: "类型", val: addArticleForm.leixing })
            addArticleForm.tags.push({ key: "等级", val: addArticleForm.dengji })
            addArticleForm.tags.push({ key: "赛道长度", val: addArticleForm.changdu })
            addArticleForm.tags.push({ key: "车辆", val: addArticleForm.cheliang })
            console.log(addArticleForm);
            if (artTitle.value == '添加文章') {
              store.dispatch("saveArticle", addArticleForm).then(res => {
                if (res.code == 200) {
                  closedialogTable()
                  getarticleList()
                  ElMessage({
                    type: "success",
                    message: "添加文章成功"
                  })

                } else {
                  ElMessage({
                    type: "warning",
                    message: "添加文章失败"
                  })
                }
              })
            }else{
              store.dispatch("articleUpdate", addArticleForm).then(res => {
                if (res.code == 200) {
                  closedialogTable()
                  getarticleList()
                  ElMessage({
                    type: "success",
                    message: "修改文章成功"
                  })

                } else {
                  ElMessage({
                    type: "warning",
                    message: "修改文章失败"
                  })
                }
              })
            }

          }
        })
      } else {
        ElMessage({
          type: "warning",
          message: "视频暂未上传成功，请稍等..."
        })
        return false;
      }
    }
    // 图片路径
    const FileUrl = ref('https://karting-club.oss-cn-hangzhou.aliyuncs.com/')
    // 编辑
    const handleEdit = (index, data) => {
      console.log(data);
      addArticleForm.title = data.title
      addArticleForm.id = data.id
      addArticleForm.leixing = data.tags.filter(item => item.key == "类型")[0]?.val
      addArticleForm.dengji = data.tags.filter(item => item.key == "等级")[0]?.val
      addArticleForm.changdu = data.tags.filter(item => item.key == "赛道长度")[0]?.val
      addArticleForm.cheliang = data.tags.filter(item => item.key == "车辆")[0]?.val
      recommend.value = Boolean(data.recommend)  
      if( data.banner){
         bannerList.value = [{ url: FileUrl.value + data.banner }]
      }
     
      addArticleForm.banner = data.banner
      addArticleForm.description = data.description
      addArticleForm.remark = data.remark
      addArticleForm.category = data.category
      addArticleForm.address = data.address
      addArticleForm.phone = data.phone
      addArticleForm.videoUrl = data.videoUrl
      if(data.videoUrl){
         videoList.value = [{ url: data.videoUrl, name: data.videoUrl }]
      }
     
      artTitle.value = "修改文章"
      dialogTableVisible.value = true
    }
    // 删除
    const handleDelete = (index, row) => {
      console.log(index, row);
      ElMessageBox.confirm(
        '请确认是否要删除该文章?',
        '提示',
        {
          confirmButtonText: '确认',
          cancelButtonText: '取消',
          type: 'warning',
        }
      )
        .then(() => {
          store.dispatch("articleDelete", { id: row.id }).then(res => {
            getarticleList()
            ElMessage({
              type: 'success',
              message: '文章已删除',
            })
          })
        })
        .catch(() => {
          ElMessage({
            type: 'info',
            message: '已取消删除',
          })
        })
    }

    // 当前页
    const handleSizeChange = () => {

    }
    // 获取文章列表
    const getarticleList = () => {
      store.dispatch("articleList", artParmas).then(res => {
        artList.rows = res.rows;
        artList.total = res.total;
      })
    }
    // 切换页码
    const handleCurrentChange = (index) => {
      artParmas.page = index
      getarticleList()
    }
    // 查询文章
    const onSubmit = () => {
      getarticleList()
    }
    // 重置
    const onReset = () => {
      artParmas.title = ''
      artParmas.category = ''
      artParmas.page = 1
      getarticleList()
    }
    // 根据类型查找文章
    const getArticleType = (data) => {
      artParmas.category = data
      getarticleList()
    }
    // 关闭重置表单
    const closedialogTable = () => {
      dialogTableVisible.value = false
      addArticleForm.title = ''
      addArticleForm.leixing = ''
      addArticleForm.dengji = ''
      addArticleForm.changdu = ''
      addArticleForm.cheliang = ''
      recommend.value = 0
      bannerList.value.splice(0, 1)
      addArticleForm.banner = ''
      addArticleForm.description = ''
      addArticleForm.remark = ''
      addArticleForm.category = ''
      addArticleForm.address = ''
      addArticleForm.phone = ''
      addArticleForm.videoUrl = ''
      videoList.value = []
      videoRef.value.clearFiles()
    }

    onMounted(() => {
      store.dispatch("articleCategory").then(res => {
        articleType.value = res.data
      })
      getarticleList()
    })
    return {
      Plus,
      DeleteFilled,
      Search,
      headerRow,
      handleEdit,
      handleDelete,
      handleSizeChange,
      handleCurrentChange,
      onAddarcticle,
      dialogTableVisible,
      logoList,
      getFile,
      getFileApp,
      uploadLogo,
      bannerList,
      deleteImg,
      deleteAppImg,
      onAddarticleSubmit,
      closedialogTable,
      addArticleForm,
      getVideo,
      beforeUploadVideo,
      isupLoad,
      Check,
      Close,
      recommend,
      form_addArticle,
      videoRef,
      articleType,
      artList,
      onSubmit,
      getArticleType,
      artParmas,
      onReset,
      artTitle,
      videoList,
      limitVideo,
      removeVideo
    }
  },
  components: {
    Loading,
    DeleteFilled
  }
}
</script>

<style lang='less' scoped>
.arctileManage {
  width: 100%;
  height: 100%;
  .searchFormBtn {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .articleContent {
    width: 100%;
    height: calc(100% - 70px);
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
  }
}
.grid-content {
  width: 100%;
  height: 100%;

  .articleTitle {
    height: 50px;
    background: #61a7cf;
    font-size: 16px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    box-sizing: border-box;
  }
  .articleTree {
    height: calc(100% - 50px);
    background: rgba(225, 225, 225, 0.2);
    .allType {
      text-align: left;
      padding-left: 20px;
      box-sizing: border-box;
      line-height: 60px;
    }
    .itemType {
      text-align: left;
      padding-left: 40px;
      box-sizing: border-box;
      line-height: 40px;
    }
    .currentType {
      background: #ccc;
    }
  }
}
.grid-content:nth-child(2) {
  padding-left: 20px;
  box-sizing: border-box;
  .searchForm {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: flex-top;
    justify-content: flex-start;
  }
  .articleList {
    height: calc(100% - 50px);
  }
}
.el-table::v-deep(.headerRow th) {
  background: #2e2e2e !important;
}
.uploadBOX {
  width: 100%;
  height: 100%;

  .uploadIMg_el {
    display: flex;
    align-items: center;
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100px;
    height: 100px;
    .uploadIMg {
      margin-left: 10px;
      width: 100px;
      height: 100px;
    }
  }
}
.imgListBox {
  height: 100px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  img {
    width: 100%;
    height: 100%;
  }
  .deleteImg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .deleteImg:hover {
    opacity: 1;
  }
}
</style>
<style>
.el-upload--picture-card {
  width: 100%;
  height: 100%;
}
.el-upload-list--picture-card .el-upload-list__item {
  width: 100%;
  height: 100%;
}
.el-overlay-dialog {
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.el-overlay-dialog::-webkit-scrollbar {
  display: none;
}
</style>