<template>
  <div class="carManage">
    <div class="searchForm">
      <el-form :inline="true" :model="carParams" class="demo-form-inline">
        <el-form-item label="车号">
          <el-input v-model="carParams.carNo" placeholder="输入车号" />
        </el-form-item>
        <el-form-item label="所属俱乐部">
          <el-select v-model="carParams.clubId" placeholder="默认为所有俱乐部">
            <el-option
              v-for="item in statisticsList"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSearch" :icon="Search">
            <span class="cpointer">查询</span>
          </el-button>
          <el-button type="primary" @click="onReset">
            <span class="cpointer">重置</span>
          </el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="searchFormBtn">
      <el-button type="success" @click="onSubmit" style="color: white" :icon="Plus">
        <span class="cpointer">新增车辆</span>
      </el-button>
      <el-button type="danger" @click="onPiliangDelete" style="color: white" :icon="DeleteFilled">
        <span class="cpointer">批量删除</span>
      </el-button>
    </div>
    <div class="tableList">
      <el-table
        :header-row-class-name="headerRow"
        @row-click="rowClickEvent"
        @select="selectRow"
        @select-all="selecAlltRow"
        :data="carList"
        stripe
        style="width: 100%"
      >
        <el-table-column type="selection" width="55" />
        <el-table-column label="车号" prop="icNo" width="85" />
        <el-table-column label="IC" prop="carNo" />
        <el-table-column label="所属俱乐部" prop="clubName" />
        <el-table-column label="运动相机编号" prop="camIp" />
        <el-table-column label="最近保养时间" width="185" prop="maintainanceTime" />
        <el-table-column label="保养后行程(km)" prop="maintainanceDistance" />
        <el-table-column label="保养里程设定(km)" prop="maintainanceDrivenDistance" />
        <el-table-column label="模块电量" prop />
        <el-table-column label="备注" prop="remark" />
        <el-table-column label="状态" prop="state" />
        <el-table-column label="操作" width="230">
          <template #default="scope">
            <el-button
              type="warning"
              size="mini"
              @click.stop="handledisable(scope.$index, scope.row)"
            >{{ scope.row.state == '启用' ? '禁用' : '启用' }}</el-button>
            <el-button
              type="primary"
              size="mini"
              @click.stop="handleEdit(scope.$index, scope.row)"
            >编辑</el-button>
            <el-button
              size="mini"
              type="danger"
              @click.stop="handleDelete(scope.$index, scope.row)"
            >删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        style="margin-top: 20px;text-align:right"
        background
        v-model:currentPage="currentPage"
        :page-size="carParams.size"
        layout="prev, pager, next, jumper"
        :total="totalPage"
        @current-change="handleCurrentChange"
      ></el-pagination>
    </div>
  </div>
  <teleport class="addClubform" to="body" v-if="dialogTableVisible">
    <el-dialog
      :title="dialogTitle + '车辆'"
      v-model="dialogTableVisible"
      :show-close="false"
      :close-on-click-modal="false"
    >
      <el-form ref="addcarForm" :rules="carForm" :model="addClubForm" label-width="120px">
        <el-form-item label="车号" prop="carNo">
          <el-input style="width:300px;" placeholder="请输入车辆号码" v-model="addClubForm.icNo"></el-input>
        </el-form-item>
        <el-form-item label="IC号" prop="icNo">
          <el-input style="width:300px;" placeholder="请输入车辆模块号" v-model="addClubForm.carNo"></el-input>
        </el-form-item>
        <el-form-item label="定位器编号" prop="gpsNo">
          <el-input style="width:300px;" placeholder="请输入" v-model="addClubForm.gpsNo"></el-input>
        </el-form-item>
        <el-form-item label="最近保养日期" prop="maintainanceTime">
          <el-date-picker
            value-format="YYYY-MM-DD HH:mm:ss"
            v-model="addClubForm.maintainanceTime"
            type="date"
            placeholder="请选择时间段"
          ></el-date-picker>
          <!-- <el-input style="width:300px;" v-model="addClubForm.maintainanceTime"></el-input> -->
        </el-form-item>
        <el-form-item label="保养后行驶里程" prop="maintainanceDistance">
          <el-input style="width:300px;"  placeholder="请输入(km)" v-model="addClubForm.maintainanceDistance"></el-input>
          <span style="color:#ccc;padding-left:10px">该数据系统自动计算也可手动修改</span>
        </el-form-item>
        <el-form-item label="保养里程设定" prop="maintainanceDrivenDistance">
          <el-input style="width:300px;"  placeholder="请输入(km)" v-model="addClubForm.maintainanceDrivenDistance"></el-input>
        </el-form-item>
        <el-form-item label="运动相机编号" prop="gpsNo">
          <el-input style="width:300px;" placeholder="请输入ip"  v-model="addClubForm.camIp"></el-input>
        </el-form-item>
        <el-form-item label="备注">
          <el-input v-model="addClubForm.remark" placeholder="说点什么..." type="textarea"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onAddCarSubmit">确认</el-button>
          <el-button @click="closeCarAdd">取消</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </teleport>
</template>

<script>
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';
import { onMounted, ref, reactive, watch, computed } from 'vue';
import { Search, Plus, DeleteFilled } from '@element-plus/icons'
import { ElMessage, ElMessageBox } from 'element-plus'
export default {
  setup(props) {
    const store = useStore()
    let dialogTitle = ref('')
    let dialogTableVisible = ref(false)
    const onSubmit = () => {
      dialogTitle.value = '新增'
      dialogTableVisible.value = true
    }
    const addcarForm = ref(null)
    // 参数
    let addClubForm = reactive({
      "carNo": '',
      "icNo": '',
      "clubName": "",
      "gpsNo": "",
      "maintainanceTime": "",
      "maintainanceDistance": "",
      "maintainanceDrivenDistance": "",
      "gmtCreate": "",
      "remark": "",
      "state": "",
      "camIp": ""
    })
    const closeCarAdd = () => {
      dialogTableVisible.value = false
      addClubForm.carNo = ''
      addClubForm.icNo = ''
      addClubForm.clubName = ''
      addClubForm.gpsNo = ''
      addClubForm.maintainanceTime = ''
      addClubForm.maintainanceDistance = ''
      addClubForm.maintainanceDrivenDistance = ''
      addClubForm.gmtCreate = ''
      addClubForm.remark = ''
      addClubForm.state = ''
      addClubForm.camIp = ''
      addClubForm.id = ''
    }
    const onAddCarSubmit = () => {
      console.log(addClubForm);
      if (dialogTitle.value == '新增') {
        addcarForm.value.validate((valid) => {
          if (valid) {
            store.dispatch('clubCarSave', addClubForm).then(res => {
              if (res.code == 200) {
                ElMessage({
                  message: '添加成功',
                  type: 'success',
                })
                getCarlist()
                closeCarAdd()
              }else{
                ElMessage({
                  message: res.message,
                  type: 'warning',
                })
              }
            })
          }
        })
      } else {
        addcarForm.value.validate((valid) => {
          if (valid) {
            store.dispatch('editClubCar', addClubForm).then(res => {
              if (res.code == 200) {
                ElMessage({
                  message: '添加成功',
                  type: 'success',
                })
                getCarlist()
                closeCarAdd()
              }else{
                ElMessage({
                  message: res.message,
                  type: 'warning',
                })
              }
            })
          }
        })
      }

    }
    // 分页参数
    let carParams = ref({
      "page": 1,
      "size": 10,
      "clubId": ""
    })
    // 验证规则
    const carForm = reactive({
      carNo: [
        {
          required: true,
          message: '请输入车号',
          trigger: 'blur',
        },
      ],
      icNo: [
        {
          required: true,
          message: '请输入IC号',
          trigger: 'blur',
        },
      ],
    })
    let formInline = reactive({
      text: '',
      club: ''
    })
    // 分页数据
    const carList = ref([])
    // 当前页
    let currentPage = ref(1)
    let totalPage = ref(0)
    const handleCurrentChange = (page) => {
      currentPage.value = page
      carParams.value.page = page
      getCarlist()
    }
    const headerRow = ({ row, rowIndex }) => {
      if (rowIndex === 0) {
        return 'headerRow'
      }
    }
    // 编辑
    const handleEdit = (index, row) => {
      dialogTitle.value = '编辑'
      dialogTableVisible.value = true
      addClubForm.carNo = row.carNo
      addClubForm.icNo = row.icNo
      addClubForm.clubName = row.clubName
      addClubForm.gpsNo = row.gpsNo
      addClubForm.maintainanceTime = row.maintainanceTime
      addClubForm.maintainanceDistance = row.maintainanceDistance
      addClubForm.maintainanceDrivenDistance = row.maintainanceDrivenDistance
      addClubForm.gmtCreate = row.gmtCreate
      addClubForm.remark = row.remark
      addClubForm.state = row.state
      addClubForm.camIp = row.camIp
      addClubForm.id = row.id
      addClubForm.clubId = statisticsList.value[0].id
    }
    // 禁用
    const handledisable = (index, row) => {
      if (row.state == '启用') {
        store.dispatch('disabledClubCar', [row.id]).then(res => {
          ElMessage({
            type: 'success',
            message: '已禁用',
          })
          getCarlist()
        })
      } else {
        store.dispatch('enabledisabledClubCar', [row.id]).then(res => {
          ElMessage({
            type: 'success',
            message: '已启用',
          })
          getCarlist()
        })
      }

    }
    // 删除
    const handleDelete = (index, data) => {
      ElMessageBox.confirm(
        '该操作会删除车辆?',
        '提示',
        {
          confirmButtonText: '确认',
          cancelButtonText: '取消',
          type: 'warning',
        }
      )
        .then(() => {
          store.dispatch('deleteCar', [data.id]).then(res => {
            ElMessage({
              type: 'success',
              message: '车辆已删除',
            })
            getCarlist()
          })
        }).catch(() => {
          ElMessage({
            type: 'info',
            message: '已取消删除',
          })
        })
    }
    // 根据重置
    const onReset = () => {
      carParams.value = {
        page: 1,
        size: 10,
        "clubId": "",
        "carNo": "",
      }
      getCarlist()
    }
    // 根据条件查询
    const onSearch = () => {
      getCarlist()
    }
    // 获取车列表
    const getCarlist = () => {
      store.dispatch('clubCarList', carParams.value).then(res => {
        console.log(res);
        carList.value = res.rows
        totalPage.value = res.total
      })
    }
    // 俱乐部列表
    let statisticsList = ref([])
    // 获取俱乐部
    const getClubList = () => {
      store.dispatch('clubList', { page: 1, size: 100 }).then(res => {
        statisticsList.value = res.rows
      })
    }
    // 勾选列表
    let selectionArr = ref([])
    // 勾选row
    const selectRow = (selection, row) => {
      selectionArr.value = selection.map(item => {
        return item.id
      })

    }
    // 全选row
    const selecAlltRow = (selection) => {
      selectionArr.value = selection.map(item => {
        return item.id
      })
    }
    // 批量删除
    const onPiliangDelete = () => {
      ElMessageBox.confirm(
        '该操作批量删除车辆?',
        '提示',
        {
          confirmButtonText: '确认',
          cancelButtonText: '取消',
          type: 'warning',
        }
      )
        .then(() => {
          store.dispatch('deleteCar', selectionArr.value).then(res => {
            ElMessage({
              type: 'success',
              message: '车辆已删除',
            })
            getCarlist()
            selectionArr.value = []
          })
        }).catch(() => {
          ElMessage({
            type: 'info',
            message: '已取消删除',
          })
        })
    }
    onMounted(() => {
      getCarlist()
      getClubList()
    })
    return {
      onSubmit,
      formInline,
      Search,
      Plus,
      DeleteFilled,
      headerRow,
      handleCurrentChange,
      currentPage,
      handleEdit,
      handleDelete,
      dialogTableVisible,
      addClubForm,
      carList,
      carForm,
      onAddCarSubmit,
      addcarForm,
      closeCarAdd,
      totalPage,
      carParams,
      onSearch,
      onReset,
      statisticsList,
      selectRow,
      selecAlltRow,
      onPiliangDelete,
      handledisable,
      dialogTitle
    }
  },
  components: {

  }
}
</script>

<style lang='less' scoped>
.carManage {
  width: 100%;
  height: 100%;
  .searchForm {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .searchFormBtn {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.el-table::v-deep(.headerRow th) {
  background: #2e2e2e !important;
}
</style>
