<template>
  <div class="carSearch">
    <div class="searchForm">
      <el-form :inline="true" :model="carParams" class="demo-form-inline">
        <el-form-item label="车号">
          <el-input v-model="carParams.carNo" placeholder="输入车号" />
        </el-form-item>
        <!-- <el-form-item label="时间">
          <el-date-picker v-model="formInline.time" type="date" placeholder="请选择时间段"></el-date-picker>
        </el-form-item>-->
        <el-form-item label="所属俱乐部">
          <el-select v-model="carParams.clubId" placeholder="默认为所有俱乐部">
            <el-option v-for="item in statisticsList" :key="item.id" :label="item.name" :value="item.id"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSearch" :icon="Search">
            <span class="cpointer">查询</span>
          </el-button>
          <el-button type="primary" @click="onReset">
            <span class="cpointer">重置</span>
          </el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="searchFormBtn">
      <!-- <el-button type="danger" @click="onSubmit" style="color: white" :icon="DeleteFilled">
        <span class="cpointer">批量删除</span>
      </el-button>-->
      <el-button color="#5c51ff" @click="onSubmit" style="color: white" :icon="Printer">
        <span class="cpointer">打印</span>
      </el-button>
    </div>
    <div class="tableList">
      <el-table :header-row-class-name="headerRow" :data="carList" stripe style="width: 100%">
        <el-table-column type="selection" width="55" />
        <el-table-column label="车号" prop="carNo" width="85" />
        <el-table-column label="IC" prop="icNo" />
        <el-table-column label="所属俱乐部" prop="clubName" />
        <el-table-column label="运动相机编号" prop="camIp" />
        <el-table-column label="最近保养时间" width="185" prop="maintainanceTime" />
        <el-table-column label="保养后行程(km)" prop="maintainanceDistance" />
        <el-table-column label="保养里程设定(km)" prop="maintainanceDrivenDistance" />
        <el-table-column label="模块电量" prop />
        <el-table-column label="备注" prop="remark" />
        <el-table-column label="状态" prop="state" />
      </el-table>
      <el-pagination
        style="margin-top: 20px;text-align:right"
        background
        v-model:currentPage="currentPage"
        :page-size="carParams.size"
        layout="prev, pager, next, jumper"
        :total="totalPage"
        @current-change="handleCurrentChange"
      ></el-pagination>
    </div>
  </div>
</template>

<script>
import { Printer, ArrowLeft, RefreshRight, Remove, DeleteFilled, Plus, Download, Search } from '@element-plus/icons'
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';
import { onMounted, ref, reactive, watch, computed } from 'vue';
export default {
  setup(props) {
    let formInline = reactive({
      text: '',
      time: null
    })

    const store = useStore()

    let userMark = ref('')

    const tableData = ref([
      {
        date: '2016-05-03',
        name: 'Tom',
        address: 'No. 189, Grove St, Los Angeles',
      },
      {
        date: '2016-05-02',
        name: 'Tom',
        address: 'No. 189, Grove St, Los Angeles',
      },
      {
        date: '2016-05-04',
        name: 'Tom',
        address: 'No. 189, Grove St, Los Angeles',
      },
      {
        date: '2016-05-01',
        name: 'Tom',
        address: 'No. 189, Grove St, Los Angeles',
      },
    ])
    // 俱乐部列表
    let statisticsList = ref([])
    // 获取俱乐部
    const getClubList = () => {
      store.dispatch('clubList', {page:1,size:100}).then(res => {
        statisticsList.value = res.rows
      })
    }

    // 当前页
    let currentPage = ref(1)
    const handleSizeChange = () => {

    }

    const onSubmit = () => {
      dialogTableVisible.value = true
    }
    // 编辑
    const handleEdit = () => {

    }
    // 删除
    const handleDelete = () => {

    }
    // 根据条件查询
    const onSearch = () => {
      getCarlist()
    }
    // 根据重置
    const onReset = () => {
      carParams.value = {
        page: 1,
        size: 10,
        "clubId": "",
        "carNo": "",
      }
      getCarlist()
    }
    // 分页参数
    let carParams = ref({
      "page": 1,
      "size": 10,
      "clubId": "",
      "carNo": "",
    })
    // 分页数据
    const carList = ref([])
    let totalPage = ref(0)
    // 获取车列表
    const getCarlist = () => {
      store.dispatch('clubCarList', carParams.value).then(res => {
        console.log(res);
        carList.value = res.rows
        totalPage.value = res.total
      })
    }
    // 切换分页
    const handleCurrentChange = (page) => {
      currentPage.value = page
      carParams.value.page = page
      getCarlist()
    }
    const headerRow = ({ row, rowIndex }) => {
      if (rowIndex === 0) {
        return 'headerRow'
      }
    }
    onMounted(() => {
      getCarlist()
      getClubList()
    })
    return {
      formInline,
      onSubmit,
      RefreshRight,
      Remove,
      DeleteFilled,
      Download,
      Search,

      headerRow,
      tableData,
      handleSizeChange,
      handleCurrentChange,
      currentPage,
      handleEdit,
      handleDelete,
      userMark,
      Plus,
      ArrowLeft,
      Printer,
      getCarlist,
      carParams,
      carList,
      totalPage,
      onSearch,
      onReset,
      getClubList,
      statisticsList
    }
  },
  components: {

  }
}
</script>

<style lang='less' scoped>
.carSearch {
  width: 100%;
  height: 100%;

  .searchForm {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .searchFormBtn {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.userBaseInfo {
  margin: -10px auto 0;
  width: 80%;
  height: 250px;

  .userIcon {
    height: 50px;
    width: 50px;
    background: coral;
    border-radius: 50%;
  }
  .userinfo {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4, 40px);
    .userinfoItem {
      line-height: 40px;
    }
  }
  .userMark {
    height: 40px;
  }
}
.expenseList {
  margin-top: 30px;
}

.el-table::v-deep(.headerRow th) {
  background: #2e2e2e !important;
}
</style>
