<template>
  <div class="clubManage" @click="routerTo">
    <div class="searchForm">
      <el-form :inline="true" :model="formInline" class="demo-form-inline">
        <el-form-item>
          <el-input v-model="formInline.text" placeholder="搜索俱乐部输入" />
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit" :icon="Search">
            <span class="cpointer">查询</span>
          </el-button>
          <el-button type="danger" @click="deleteMany" style="color: white" :icon="DeleteFilled">
            <span class="cpointer">批量删除</span>
          </el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="statistics">
      <div class="statisticsBox">
        <div class="statisticsItem" v-for="(item,index) in statisticsList" :key="index">
          <div class="clubImg">
            <img v-if="item.banner" :src="item.banner" alt />
          </div>
          <div class="clubName">{{ item.name }}</div>
          <div class="clubInfo">地址：{{ item.address }}</div>
          <div class="clubInfo">电话：{{ item.phone }}</div>
          <div class="clubSetting">
            <div class="settingItem">
              <el-checkbox v-model="item.checked"></el-checkbox>
            </div>
            <div class="settingItem">
              <span :class="item.state == '启用' ? 'cyclepoint' : 'greycyclepoint'"></span>
              <span style="margin-left: 5px;">{{ item.state == '启用' ? '已启用' : '未启用' }}</span>
            </div>
            <div class="settingItem">
              <span
                :class="item.state == '启用' ? 'greyColor' : 'sureClor'"
              >{{ item.state == '启用' ? '禁用' : '启用' }}</span>
            </div>
            <div class="settingItem">
              <el-button :icon="Edit" size="mini" type="primary" @click="onAddClub(item)" circle></el-button>
            </div>
            <div class="settingItem">
              <el-button
                :icon="DeleteFilled"
                size="mini"
                type="danger"
                @click="ondelClub(item)"
                circle
              ></el-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <teleport class="addClubform" to="body" v-if="dialogTableVisible">
    <el-dialog
      title="设置俱乐部"
      v-model="dialogTableVisible"
      :show-close="false"
      :close-on-click-modal="false"
    >
      <el-form ref="form" :model="addClubForm" :rules="rules" label-width="120px">
        <el-form-item label="俱乐部编号" prop="code">
          <el-input style="width:300px;" disabled v-model="addClubForm.code"></el-input>
        </el-form-item>
        <el-form-item label="俱乐部名称" prop="name">
          <el-input style="width:300px;" v-model="addClubForm.name"></el-input>
        </el-form-item>
        <el-form-item label="俱乐部分类">
          <el-select style="width:300px;" v-model="addClubForm.clubType" placeholder="请选择俱乐部分类">
            <el-option label="加盟" value="加盟"></el-option>
            <el-option label="直营" value="直营"></el-option>
            <el-option label="联营" value="联营"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="通讯协议">
          <el-input disabled style="width:300px;" type="number"></el-input>
        </el-form-item>
        <el-form-item label="设备编号">
          <el-input disabled style="width:300px;" type="number"></el-input>
        </el-form-item>
        <el-form-item label="串口端口号">
          <el-input disabled style="width:300px;" type="number"></el-input>
        </el-form-item>
        <el-form-item label="速率">
          <el-input disabled style="width:300px;" type="number"></el-input>
        </el-form-item>
        <el-form-item label="投屏展示标题">
          <el-input style="width:300px;" v-model="addClubForm.screenTitle"></el-input>
        </el-form-item>
        <el-form-item label="投屏字体大小">
          <el-input style="width:300px;" v-model="addClubForm.screenTitleFont"></el-input>
        </el-form-item>

        <el-form-item label="投屏logo">
          <div class="uploadBOX">
            <div
              class="imgListBox"
              style="margin-left:10px"
              v-for="({ url, uid },index) in logoList"
              :key="uid"
            >
              <img :src="url" alt />
              <div class="deleteImg">
                <DeleteFilled
                  @click="deleteImg(index)"
                  style="width:2rem;color:white;cursor:pointer"
                />
              </div>
            </div>

            <el-upload
              class="uploadIMg_el"
              action="/karting/club/upload"
              list-type="picture"
              :file-list="logoList"
              :show-file-list="false"
              :on-success="getFile"
              :limit="1"
            >
              <img class="uploadIMg" :src="uploadLogo" alt />
            </el-upload>
          </div>
        </el-form-item>
        <el-form-item label="赛道图">
          <div style="width:100%;height:100%;">
            <div
              class="imgListBox"
              style="margin-left:10px"
              v-for="{ url, uid } in bannerList"
              :key="uid"
            >
              <img :src="url" alt />
              <div class="deleteImg">
                <DeleteFilled
                  @click="deleteAppImg(index)"
                  style="width:2rem;color:white;cursor:pointer"
                />
              </div>
            </div>

            <el-upload
              style="display:flex;align-items:center;display:inline-block;padding:0;margin:0;width:100px;height:100px;"
              action="/karting/club/upload"
              list-type="picture"
              :show-file-list="false"
              :file-list="bannerList"
              :on-success="getFileApp"
              :limit="1"
            >
              <img style="margin-left:10px;width:100px;height:100px;" :src="uploadLogo" alt />
            </el-upload>
          </div>
        </el-form-item>
        <el-form-item label="报表文字">
          <el-input style="width:300px;" v-model="addClubForm.reportText"></el-input>
        </el-form-item>
        <el-form-item label="报表图片1">
          <div class="uploadBOX">
            <div
              class="imgListBox"
              style="margin-left:10px"
              v-for="({ url, uid },index) in reportPic1List"
              :key="uid"
            >
              <img :src="url" alt />
              <div class="deleteImg">
                <DeleteFilled
                  @click="deletePic1Img(index)"
                  style="width:2rem;color:white;cursor:pointer"
                />
              </div>
            </div>

            <el-upload
              class="uploadIMg_el"
              action="/karting/club/upload"
              list-type="picture"
              :file-list="reportPic1List"
              :show-file-list="false"
              :on-success="getPic1File"
              :limit="1"
            >
              <img class="uploadIMg" :src="uploadLogo" alt />
            </el-upload>
          </div>
        </el-form-item>
        <el-form-item label="报表图片2">
          <div class="uploadBOX">
            <div
              class="imgListBox"
              style="margin-left:10px"
              v-for="({ url, uid },index) in reportPic2List"
              :key="uid"
            >
              <img :src="url" alt />
              <div class="deleteImg">
                <DeleteFilled
                  @click="deletePic2Img(index)"
                  style="width:2rem;color:white;cursor:pointer"
                />
              </div>
            </div>

            <el-upload
              class="uploadIMg_el"
              action="/karting/club/upload"
              list-type="picture"
              :file-list="reportPic2List"
              :show-file-list="false"
              :on-success="getPic2File"
              :limit="1"
            >
              <img class="uploadIMg" :src="uploadLogo" alt />
            </el-upload>
          </div>
        </el-form-item>
        <el-form-item label="报表图片3">
          <div class="uploadBOX">
            <div
              class="imgListBox"
              style="margin-left:10px"
              v-for="({ url, uid },index) in reportPic3List"
              :key="uid"
            >
              <img :src="url" alt />
              <div class="deleteImg">
                <DeleteFilled
                  @click="deletePic3Img(index)"
                  style="width:2rem;color:white;cursor:pointer"
                />
              </div>
            </div>

            <el-upload
              class="uploadIMg_el"
              action="/karting/club/upload"
              list-type="picture"
              :file-list="reportPic3List"
              :show-file-list="false"
              :on-success="getPic3File"
              :limit="1"
            >
              <img class="uploadIMg" :src="uploadLogo" alt />
            </el-upload>
          </div>
        </el-form-item>
        <el-form-item label="报表图片4">
          <div class="uploadBOX">
            <div
              class="imgListBox"
              style="margin-left:10px"
              v-for="({ url, uid },index) in reportPic4List"
              :key="uid"
            >
              <img :src="url" alt />
              <div class="deleteImg">
                <DeleteFilled
                  @click="deletePic4Img(index)"
                  style="width:2rem;color:white;cursor:pointer"
                />
              </div>
            </div>

            <el-upload
              class="uploadIMg_el"
              action="/karting/club/upload"
              list-type="picture"
              :file-list="reportPic4List"
              :show-file-list="false"
              :on-success="getPic4File"
              :limit="1"
            >
              <img class="uploadIMg" :src="uploadLogo" alt />
            </el-upload>
          </div>
        </el-form-item>
        <el-form-item label="备注">
          <el-input v-model="addClubForm.remark" type="textarea"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onAddClubSubmit">确认</el-button>
          <el-button @click="closedialogTable">取消</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </teleport>
</template>

<script>
import uploadLogo from '@/assets/images/Snipaste_2021-12-12_13-15-52.jpg'
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';
import { onMounted, ref, reactive, watch, computed } from 'vue';
import { ElMessage, ElMessageBox } from 'element-plus'
import { Edit, Search, Plus, RefreshRight, Remove, DeleteFilled, Printer, Check, Close } from '@element-plus/icons'
export default {
  setup(props) {
    const store = useStore()
    let clubparams = {
      "page": 1,
      "size": 100,
      "name": ""
    }
    // 弹框显示属性
    let dialogTableVisible = ref(false)
    // 是否推荐
    let recommend = ref(false)
    // 图片路径
    let ImgUrl = ref("https://karting-club.oss-cn-hangzhou.aliyuncs.com/")
    let addClubForm = reactive({
      name: '',
      code: '',
      clubType: '',
      logo: "",
      banner: "",
      phone: '',
      clubAccount: '',
      recommend: 0,
      reportPic4: "",
      reportPic3: "",
      reportPic2: "",
      reportPic1: ""
    })
    let formInline = reactive({
      text: ''
    })
    // form表单
    let form = ref(null)
    let logoList = ref([])
    let bannerList = ref([])
    let reportPic4List = ref([])
    let reportPic3List = ref([])
    let reportPic2List = ref([])
    let reportPic1List = ref([])
    const router = useRouter()
    // 校验规则
    const rules = reactive({
      name: [
        {
          required: true,
          message: '请输入俱乐部名',
          trigger: 'blur',
        },
      ],
      code: [
        {
          required: true,
        },
      ],
      clubPwd: [
        {
          required: true,
          message: '请输入密码',
          trigger: 'blur',
        },
      ],
      clubAccount: [
        {
          required: true,
          message: '请输入账号',
          trigger: 'blur',
        },
      ],
      phone: [
        {
          required: true,
          message: '请输入电话',
          trigger: 'blur',
        },
        {
          min: 11, max: 11, message: '请输入11位手机号',
          trigger: 'blur',
        }
      ],
      address: [
        {
          required: true,
          message: '请输入地址',
          trigger: 'blur',
        },
      ],
    })
    // 俱乐部列表
    let statisticsList = ref([])
    const onSubmit = () => {

    }
    // 关闭弹框
    const closedialogTable = () => {
      addClubForm.code = ''
      addClubForm.id = ''
      addClubForm.name = ''
      addClubForm.clubType = ''
      addClubForm.screenTitle = ''
      addClubForm.screenTitleFont = ''
      addClubForm.reportText = ''
      addClubForm.remark = ''
      bannerList.value.splice(0, 1)
      addClubForm.banner = ''
      logoList.value.splice(0, 1)
      addClubForm.logo = ''
      reportPic1List.value.splice(0, 1)
      addClubForm.reportPic1 = ''
      reportPic2List.value.splice(0, 1)
      addClubForm.reportPic2 = ''
      reportPic3List.value.splice(0, 1)
      addClubForm.reportPic3 = ''
      reportPic3List.value.splice(0, 1)
      addClubForm.reportPic3 = ''
      dialogTableVisible.value = false
    }
    // 弹出添加框
    const onAddClub = (item) => {

      store.dispatch("clubDetail", { id: item.id }).then(res => {
        addClubForm.code = res.data.code
        addClubForm.id = res.data.id
        addClubForm.name = res.data.name
        addClubForm.clubType = res.data.clubType
        addClubForm.screenTitle = res.data.screenTitle
        addClubForm.screenTitleFont = res.data.screenTitleFont
        addClubForm.reportText = res.data.reportText
        addClubForm.remark = res.data.remark
        addClubForm.logo = res.data.logo
        addClubForm.clubAccount = res.data.clubAccount
        if (res.data.logo) {
          logoList.value = [{ url: ImgUrl.value + res.data.logo }]
        }
        addClubForm.banner = res.data.banner
        if (res.data.banner) {
          bannerList.value = [{ url: ImgUrl.value + res.data.banner }]
        }
        addClubForm.reportPic1 = res.data.reportPic1
        if (res.data.reportPic1) {
          reportPic1List.value = [{ url: ImgUrl.value + res.data.reportPic1 }]
        }
        addClubForm.reportPic2 = res.data.reportPic2
        if (res.data.reportPic2) {
          reportPic2List.value = [{ url: ImgUrl.value + res.data.reportPic2 }]
        }
        addClubForm.reportPic3 = res.data.reportPic3
        if (res.data.reportPic3) {
          reportPic3List.value = [{ url: ImgUrl.value + res.data.reportPic3 }]
        }
        addClubForm.reportPic4 = res.data.reportPic4
        if (res.data.reportPic4) {
          reportPic4List.value = [{ url: ImgUrl.value + res.data.reportPic4 }]
        }

      })
      dialogTableVisible.value = true
    }
    // 上传logo图片
    const getFile = (response, file, fileList) => {
      logoList.value = [...fileList]
      // addClubForm.logo.push({ url: ( response.data.fileName) })
      addClubForm.logo = response.data.fileName
    }
    // 删除logo图片
    const deleteImg = (index) => {
      logoList.value.splice(index, 1)
      // addClubForm.logo.splice(index, 1)
      addClubForm.logo = ''
    }
    // 上传pic1图片
    const getPic1File = (response, file, fileList) => {
      reportPic1List.value = [...fileList]
      // addClubForm.logo.push({ url: ( response.data.fileName) })
      addClubForm.reportPic1 = response.data.fileName
    }
    // 删除logo图片
    const deletePic1Img = (index) => {
      reportPic1List.value.splice(index, 1)
      // addClubForm.logo.splice(index, 1)
      addClubForm.reportPic1 = ''
    }
    // 上传pic2图片
    const getPic2File = (response, file, fileList) => {
      reportPic2List.value = [...fileList]
      // addClubForm.logo.push({ url: ( response.data.fileName) })
      addClubForm.reportPic2 = response.data.fileName
    }
    // 删除pic2图片
    const deletePic2Img = (index) => {
      reportPic2List.value.splice(index, 1)
      // addClubForm.logo.splice(index, 1)
      addClubForm.reportPic2 = ''
    }
    // 上传pic3图片
    const getPic3File = (response, file, fileList) => {
      reportPic3List.value = [...fileList]
      // addClubForm.logo.push({ url: ( response.data.fileName) })
      addClubForm.reportPic3 = response.data.fileName
    }
    // 删除pic3图片
    const deletePic3Img = (index) => {
      reportPic2List.value.splice(index, 1)
      // addClubForm.logo.splice(index, 1)
      addClubForm.reportPic3 = ''
    }
    // 上传pic4图片
    const getPic4File = (response, file, fileList) => {
      reportPic4List.value = [...fileList]
      // addClubForm.logo.push({ url: ( response.data.fileName) })
      addClubForm.reportPic4 = response.data.fileName
    }
    // 删除lpic4图片
    const deletePic4Img = (index) => {
      reportPic4List.value.splice(index, 1)
      // addClubForm.logo.splice(index, 1)
      addClubForm.reportPic4 = ''
    }
    // 删除app图片
    const deleteAppImg = (index) => {
      bannerList.value.splice(index, 1)
      // addClubForm.banner.splice(index, 1)
      addClubForm.banner = ''
    }
    // 上传app图片
    const getFileApp = (response, file, fileList) => {
      bannerList.value = [...fileList]
      // addClubForm.banner.push({ url: response.data.fileName })
      addClubForm.banner = response.data.fileName
    }
    // 提交添加
    const onAddClubSubmit = () => {
      addClubForm.recommend = Number(recommend.value)
      console.log('====================================');
      console.log(addClubForm);
      console.log('====================================');
      form.value.validate((valid) => {
        if (valid) {

          store.dispatch('clubEdit', addClubForm).then(res => {
            if (res.code == 200) {

              ElMessage({
                message: '添加成功',
                type: 'success',
              })
             getClublist()
              // 初始化数据
              form.value.resetFields()
              form.value.clearValidate()
              closedialogTable()
            }
          })
        } else {
          return false
        }
      })
    }
    // 创建uuid
    const uuid = (len, radix) => {
      var chars = '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz'.split('');
      var uuid = [], i;
      radix = radix || chars.length;

      if (len) {
        // Compact form
        for (i = 0; i < len; i++) uuid[i] = chars[0 | Math.random() * radix];
      } else {
        // rfc4122, version 4 form
        var r;

        // rfc4122 requires these characters
        uuid[8] = uuid[13] = uuid[18] = uuid[23] = '-';
        uuid[14] = '4';

        // Fill in random data.  At i==19 set the high bits of clock sequence as
        // per rfc4122, sec. 4.1.5
        for (i = 0; i < 36; i++) {
          if (!uuid[i]) {
            r = 0 | Math.random() * 16;
            uuid[i] = chars[(i == 19) ? (r & 0x3) | 0x8 : r];
          }
        }
      }

      return uuid.join('');
    }
    // 获取俱乐部列表
    const getClublist = () => {
      store.dispatch('clubList', clubparams).then(res => {
        res.rows.forEach(item => {
          item.checked = false
        })
        statisticsList.value = res.rows
      })
    }
    const deleteMany = () => {
      ElMessageBox.confirm(
        '该操作会删除俱乐部?',
        '提示',
        {
          confirmButtonText: '确认',
          cancelButtonText: '取消',
          type: 'warning',
        }
      )
        .then(() => {
          let ids = []
          statisticsList.value.forEach(item => {
            if (item.checked) {
              ids.push(item.id)
            }
          })
          console.log(ids);
          store.dispatch("clubDelete", ids).then(res => {
            ElMessage({
              type: 'success',
              message: '俱乐部已删除',
            })
            getClublist()
          })
        }).catch(() => {
          ElMessage({
            type: 'info',
            message: '已取消删除',
          })
        })

    }
    const ondelClub = (item) => {
      ElMessageBox.confirm(
        '该操作会删除俱乐部?',
        '提示',
        {
          confirmButtonText: '确认',
          cancelButtonText: '取消',
          type: 'warning',
        }
      )
        .then(() => {
          let ids = [item.id]
          store.dispatch("clubDelete", ids).then(res => {
            ElMessage({
              type: 'success',
              message: '俱乐部已删除',
            })
            getClublist()
          })
        }).catch(() => {
          ElMessage({
            type: 'info',
            message: '已取消删除',
          })
        })
    }
    onMounted(() => {
      getClublist()
    })
    return {
      onSubmit,
      Search,
      formInline,
      Plus,
      RefreshRight,
      DeleteFilled,
      Printer,
      Remove,
      Edit,
      statisticsList,
      dialogTableVisible,
      addClubForm,
      logoList,
      getFile,
      getFileApp,
      uploadLogo,
      onAddClub,
      rules,
      bannerList,
      onAddClubSubmit,
      form,
      deleteImg,
      deleteAppImg,
      closedialogTable,
      Check,
      Close,
      recommend,
      ImgUrl,
      reportPic4List,
      reportPic3List,
      reportPic2List,
      reportPic1List,
      getPic1File,
      deletePic1Img,
      getPic2File,
      deletePic2Img,
      getPic3File,
      deletePic3Img,
      getPic4File,
      deletePic4Img,
      deleteMany,
      ondelClub
    }
  },
  components: {
    DeleteFilled
  }
}
</script>

<style lang='less' scoped>
.clubManage {
  width: 100%;
  height: 100%;

  .searchForm {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .searchFormBtn {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .statistics {
    width: 100%;
    padding-top: 10px;
    box-sizing: border-box;
    .statisticsBox {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(4, 25%);
      // grid-template-rows: 430px;
      .statisticsItem {
        height: 400px;
        float: left;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-right: 25px;
        margin-bottom: 15px;
        transition: all 0.5s;
        cursor: pointer;
        overflow: hidden;
        padding: 5px;
        box-sizing: border-box;
        .clubImg {
          height: 250px;
          width: 100%;
          background: #ccc;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .clubName {
          height: 40px;
          text-align: left;
          line-height: 40px;
          font-size: 20px;
          font-weight: 600;
          padding-left: 10px;
          box-sizing: border-box;
        }
        .clubInfo {
          line-height: 30px;
          text-align: left;
          padding-left: 10px;
          box-sizing: border-box;
        }
        .clubSetting {
          display: flex;
          width: 100%;
          height: 40px;
          padding-left: 10px;
          box-sizing: border-box;
          .settingItem {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .cyclepoint {
              padding: 4px;
              background: chartreuse;
              border-radius: 50%;
            }
            .greycyclepoint {
              padding: 4px;
              background: #bfbfbf;
              border-radius: 50%;
            }
            .sureClor {
              padding: 2px 5px;
              background: #73d13d;
              color: white;
              border-radius: 3px;
            }
            .greyColor {
              padding: 2px 5px;
              background: #ff7a45;
              color: white;
              border-radius: 3px;
            }
          }
          .settingItem:first-child {
            flex: 2;
          }
          .settingItem:nth-child(2) {
            flex: 1.5;
          }
          .settingItem:nth-child(4) {
            padding-left: 20px;
          }
        }
      }
      .statisticsItem:hover {
        margin-top: -10px;
        box-shadow: 1px 2px 5px 2px #ddd;
      }
    }
  }
}
.imgListBox {
  height: 100px;
  width: 100px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  img {
    width: 100%;
    height: 100%;
  }
  .deleteImg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .deleteImg:hover {
    opacity: 1;
  }
}
.uploadBOX {
  width: 100%;
  height: 100%;

  .uploadIMg_el {
    display: flex;
    align-items: center;
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100px;
    height: 100px;
    .uploadIMg {
      margin-left: 10px;
      width: 100px;
      height: 100px;
    }
  }
}
</style>
<style>
.el-upload--picture-card {
  width: 100%;
  height: 100%;
}
.el-upload-list--picture-card .el-upload-list__item {
  width: 100%;
  height: 100%;
}
.el-overlay-dialog {
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.el-overlay-dialog::-webkit-scrollbar {
  display: none;
}
</style>
