<template>
  <div class="clubManage" @click="routerTo">
    <div class="searchForm">
      <el-form :inline="true" :model="formInline" class="demo-form-inline">
        <el-form-item>
          <el-input v-model="formInline.text" placeholder="单行输入" />
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit" :icon="Search">
            <span class="cpointer">查询</span>
          </el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="searchFormBtn">
      <el-button type="success" @click="onAddClub" :icon="Plus">
        <span class="cpointer">新增俱乐部</span>
      </el-button>
      <!-- <el-button color="#626aef" @click="onSubmit" style="color: white" :icon="RefreshRight">
        <span class="cpointer">批量启用</span>
      </el-button>
      <el-button type="warning" @click="onSubmit" style="color: white" :icon="Remove">
        <span class="cpointer">批量禁用</span>
      </el-button>-->
      <el-button type="danger" @click="deleteMany" style="color: white" :icon="DeleteFilled">
        <span class="cpointer">批量删除</span>
      </el-button>
      <el-button type="primary" @click="qrcodeopen" style="color: white" :icon="Printer">
        <span class="cpointer">打印二维码</span>
      </el-button>
    </div>
    <div class="statistics">
      <div class="statisticsBox">
        <div class="statisticsItem" v-for="(item,index) in statisticsList" :key="index">
          <div class="clubImg">
            <img v-if="item.banner" :src="item.banner" alt />
          </div>
          <div class="clubName">{{ item.name }}</div>
          <div class="clubInfo">地址：{{ item.address }}</div>
          <div class="clubInfo">电话：{{ item.phone }}</div>
          <div class="clubSetting">
            <div class="settingItem">
              <el-checkbox v-model="item.checked"></el-checkbox>
            </div>
            <div class="settingItem">
              <span :class="item.state == '启用' ? 'cyclepoint' : 'greycyclepoint'"></span>
              <span style="margin-left: 5px;">{{ item.state == '启用' ? '已启用' : '未启用' }}</span>
            </div>
            <div class="settingItem">
              <span
                :class="item.state == '启用' ? 'greyColor' : 'sureClor'"
              >{{ item.state == '启用' ? '禁用' : '启用' }}</span>
            </div>
            <div class="settingItem">
              <el-button :icon="Edit" size="mini" type="primary" @click="onEditClub(item)" circle></el-button>
            </div>
            <div class="settingItem">
              <el-button
                :icon="DeleteFilled"
                size="mini"
                type="danger"
                @click="ondelClub(item)"
                circle
              ></el-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <teleport class="qrcode" to="body" v-if="dialogsingleqrcodeVisible">
    <el-dialog
      title="二维码"
      v-model="dialogsingleqrcodeVisible"
      :show-close="false"
      :close-on-click-modal="false"
    >
      <div id="printMe" style="margin-bottom:20px;text-align:center">
        <img style="width:100%;min-height:200px" :src="singleQrcode" alt />
      </div>
      <el-button type="primary" v-print="'#printMe'">打印</el-button>
      <el-button @click="closedialogprint">取消</el-button>
    </el-dialog>
  </teleport>
  <teleport class="qrcodelist" to="body" v-if="dialogqrcodelistVisible">
    <el-dialog title="二维码列表" v-model="dialogqrcodelistVisible" :close-on-click-modal="false">
      <div class="qrcodelist">
        <div
          class="qrcodeItem"
          v-for="({ name, url },index) in qrCodelist"
          @click="getsingleQrcode(url)"
          :key="index"
        >
          <img :src="url" alt />
          <p>{{ name }}</p>
        </div>
      </div>
      <el-pagination
        style="text-align:center;margin-top:20px"
        background
        :page-size="qrForm.size"
        layout="prev, pager, next"
        :total="qrCodelisttotal"
        @current-change="handleCurrentChange"
      ></el-pagination>
    </el-dialog>
  </teleport>
  <teleport class="addClubform" to="body" v-if="dialogTableVisible">
    <el-dialog
      :title="dioclubTitle"
      v-model="dialogTableVisible"
      :show-close="false"
      :close-on-click-modal="false"
    >
      <el-form ref="form" :model="addClubForm" :rules="rules" label-width="120px">
        <el-form-item label="俱乐部名称" prop="name">
          <el-input style="width:300px;" v-model="addClubForm.name"></el-input>
        </el-form-item>
        <el-form-item label="俱乐部编号" prop="code">
          <el-input style="width:300px;" v-model="addClubForm.code" disabled></el-input>
        </el-form-item>
        <el-form-item label="俱乐部电话" prop="phone">
          <el-input style="width:300px;" type="number" v-model="addClubForm.phone"></el-input>
        </el-form-item>
        <el-form-item label="俱乐部地址" prop="address">
          <el-input style="width:300px;" v-model="addClubForm.address"></el-input>
        </el-form-item>
        <el-form-item label="俱乐部权限">
          <div class="selectCheckbox">
            <el-checkbox-group v-model="addClubForm.menus" @change="getcheckList">
              <div v-for="item in menutreeList" :key="item.id">
                <div v-if="item.children.length > 0">
                  <p
                    style="padding-left:10px;color:#222;font-size:16px;background:#ccc"
                  >{{ item.tabName }}</p>
                  <el-checkbox v-for="i in item.children" :key="i.id" :label="i.id">{{ i.tabName }}</el-checkbox>
                </div>
                <div v-else>
                  <el-checkbox :label="item.id">{{ item.tabName }}</el-checkbox>
                </div>
              </div>
            </el-checkbox-group>
          </div>
        </el-form-item>

        <el-form-item label="俱乐部分类">
          <el-select style="width:300px;" v-model="addClubForm.clubType" placeholder="请选择俱乐部分类">
            <el-option label="加盟" value="加盟"></el-option>
            <el-option label="直营" value="直营"></el-option>
            <el-option label="联营" value="联营"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="俱乐部APPlogo">
          <div class="uploadBOX">
            <div
              class="imgListBox"
              style="margin-left:10px"
              v-for="({ url, uid },index) in logoList"
              :key="uid"
            >
              <img :src="url" alt />
              <div class="deleteImg">
                <DeleteFilled
                  @click="deleteImg(index)"
                  style="width:2rem;color:white;cursor:pointer"
                />
              </div>
            </div>

            <el-upload
              class="uploadIMg_el"
              action="/karting/club/upload"
              list-type="picture"
              :file-list="logoList"
              :show-file-list="false"
              :on-success="getFile"
              :limit="1"
            >
              <img class="uploadIMg" :src="uploadLogo" alt />
            </el-upload>
          </div>
        </el-form-item>
        <el-form-item label="俱乐部APP图片">
          <div style="width:100%;height:100%;">
            <div
              class="imgListBox"
              style="margin-left:10px"
              v-for="{ url, uid } in bannerList"
              :key="uid"
            >
              <img :src="url" alt />
              <div class="deleteImg">
                <DeleteFilled
                  @click="deleteAppImg(index)"
                  style="width:2rem;color:white;cursor:pointer"
                />
              </div>
            </div>

            <el-upload
              style="display:flex;align-items:center;display:inline-block;padding:0;margin:0;width:100px;height:100px;"
              action="/karting/club/upload"
              list-type="picture"
              :show-file-list="false"
              :file-list="bannerList"
              :on-success="getFileApp"
              :limit="1"
            >
              <img style="margin-left:10px;width:100px;height:100px;" :src="uploadLogo" alt />
            </el-upload>
          </div>
        </el-form-item>
        <el-form-item label="账号" prop="clubAccount">
          <el-input style="width:300px;" v-model="addClubForm.clubAccount"></el-input>
        </el-form-item>
        <el-form-item label="密码" prop="clubPwd">
          <el-input style="width:300px;" v-model="addClubForm.clubPwd"></el-input>
        </el-form-item>
        <el-form-item label="俱乐部APP介绍">
          <el-input v-model="addClubForm.clubDesc" type="textarea"></el-input>
        </el-form-item>
        <el-form-item label="俱乐部IP">
          <el-input style="width:300px;" v-model="addClubForm.clubIp"></el-input>
        </el-form-item>
        <el-form-item label="投屏展示IP">
          <el-input style="width:300px;" v-model="addClubForm.clubScreenIp"></el-input>
        </el-form-item>
        <el-form-item label="备注">
          <el-input v-model="addClubForm.remark" type="textarea"></el-input>
        </el-form-item>
        <el-form-item label="是否推荐">
          <el-switch v-model="recommend" :active-icon="Check" :inactive-icon="Close"></el-switch>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onAddClubSubmit">确认</el-button>
          <el-button @click="closedialogTable">取消</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </teleport>
</template>

<script>
import uploadLogo from '@/assets/images/Snipaste_2021-12-12_13-15-52.jpg'
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';
import { onMounted, ref, reactive, watch, computed } from 'vue';
import { ElMessage, ElMessageBox } from 'element-plus'
import { Edit, Search, Plus, RefreshRight, Remove, DeleteFilled, Printer, Check, Close } from '@element-plus/icons'
import print from 'vue3-print-nb'
export default {
  directives: {
    print
  },
  setup(props) {
    const store = useStore()
    let clubparams = {
      "page": 1,
      "size": 100,
      "name": ""
    }
    // 弹框显示属性
    let dialogTableVisible = ref(false)
    // 二维码弹框显示属性
    let dialogqrcodelistVisible = ref(false)
    // 是否推荐
    let recommend = ref(false)
    // 權限勾選
    // let checkList = ref([])
    // 图片路径
    let ImgUrl = ref("https://karting-club.oss-cn-hangzhou.aliyuncs.com/")
    let addClubForm = reactive({
      name: '',
      code: '',
      clubType: '',
      logo: "",
      banner: "",
      phone: '',
      clubAccount: '',
      recommend: 0,
      menus: []
    })
    let formInline = reactive({
      text: ''
    })
    // form表单
    let form = ref(null)
    let logoList = ref([])
    let bannerList = ref([])
    const router = useRouter()
    // 校验规则
    const rules = reactive({
      name: [
        {
          required: true,
          message: '请输入俱乐部名',
          trigger: 'blur',
        },
      ],
      code: [
        {
          required: true,
        },
      ],
      clubPwd: [
        {
          required: true,
          message: '请输入密码',
          trigger: 'blur',
        },
      ],
      clubAccount: [
        {
          required: true,
          message: '请输入账号',
          trigger: 'blur',
        },
      ],
      phone: [
        {
          required: true,
          message: '请输入电话',
          trigger: 'blur',
        },
        {
          min: 11, max: 11, message: '请输入11位手机号',
          trigger: 'blur',
        }
      ],
      address: [
        {
          required: true,
          message: '请输入地址',
          trigger: 'blur',
        },
      ],
      menus: [
        {
          required: true
        },
      ],
    })
    // 俱乐部列表
    let statisticsList = ref([])
    const onSubmit = () => {

    }
    // 关闭弹框
    const closedialogTable = () => {
      dialogTableVisible.value = false
      logoList.value = []
      addClubForm.logo = ''
      bannerList.value = []
      addClubForm.banner = ''
      addClubForm.id = ''
      addClubForm.name = ''
      addClubForm.code = ''
      addClubForm.phone = ''
      addClubForm.address = ''
      addClubForm.clubType = ''
      addClubForm.clubAccount = ''
      addClubForm.clubPwd = ''
      addClubForm.clubDesc = ''
      addClubForm.clubIp = ''
      addClubForm.clubScreenIp = ''
      addClubForm.remark = ''
      recommend.value = false
      addClubForm.recommend = 0
      bannerList.value.splice(0, 1)
      addClubForm.banner = ''
      logoList.value.splice(0, 1)
      addClubForm.logo = ''
      addClubForm.menus = []
      dialogTableVisible.value = false
    }
    // 二维码列表
    const qrcodeopen = () => {
      dialogqrcodelistVisible.value = true
      store.dispatch('qrcodes', qrForm.value).then(res => {
        qrCodelist.value = res.rows
        qrCodelisttotal.value = res.total
      })
    }
    // 弹出添加框
    const onAddClub = () => {
      dioclubTitle.value = "添加俱乐部"
      dialogTableVisible.value = true
      addClubForm.code = uuid(8, 16)
    }
    // 上传logo图片
    const getFile = (response, file, fileList) => {
      logoList.value = [...fileList]
      // addClubForm.logo.push({ url: ( response.data.fileName) })
      addClubForm.logo = response.data.fileName
    }
    // 删除logo图片
    const deleteImg = (index) => {
      logoList.value.splice(index, 1)
      // addClubForm.logo.splice(index, 1)
      addClubForm.logo = ''
    }
    // 删除app图片
    const deleteAppImg = (index) => {
      bannerList.value.splice(index, 1)
      // addClubForm.banner.splice(index, 1)
      addClubForm.banner = ''
    }
    // 上传app图片
    const getFileApp = (response, file, fileList) => {
      bannerList.value = [...fileList]
      // addClubForm.banner.push({ url: response.data.fileName })
      addClubForm.banner = response.data.fileName
    }
    // 获取俱乐部列表
    const getClublist = () => {
      store.dispatch('clubList', clubparams).then(res => {
        res.rows.forEach(item => {
          item.checked = false
        })
        statisticsList.value = res.rows
      })
    }

    // 提交添加
    const onAddClubSubmit = () => {
      addClubForm.recommend = Number(recommend.value)

      form.value.validate((valid) => {
        if (valid) {
          if (dioclubTitle.value == "修改俱乐部") {
            store.dispatch('clubEdit', addClubForm).then(res => {
              if (res.code == 200) {
                ElMessage({
                  message: '修改成功',
                  type: 'success',
                })
                getClublist()
                // 初始化数据
                form.value.resetFields()
                form.value.clearValidate()
                closedialogTable()
              }
            })
          } else {
            store.dispatch('clubSave', addClubForm).then(res => {
              if (res.code == 200) {
                ElMessage({
                  message: '添加成功',
                  type: 'success',
                })

                getClublist()
                // 初始化数据
                form.value.resetFields()
                form.value.clearValidate()
                closedialogTable()
              }
            })
          }
        } else {
          ElMessage({
            message: res.message,
            type: 'warning',
          })
        }
      })
    }
    // 创建uuid
    const uuid = (len, radix) => {
      var chars = '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz'.split('');
      var uuid = [], i;
      radix = radix || chars.length;

      if (len) {
        // Compact form
        for (i = 0; i < len; i++) uuid[i] = chars[0 | Math.random() * radix];
      } else {
        // rfc4122, version 4 form
        var r;

        // rfc4122 requires these characters
        uuid[8] = uuid[13] = uuid[18] = uuid[23] = '-';
        uuid[14] = '4';

        // Fill in random data.  At i==19 set the high bits of clock sequence as
        // per rfc4122, sec. 4.1.5
        for (i = 0; i < 36; i++) {
          if (!uuid[i]) {
            r = 0 | Math.random() * 16;
            uuid[i] = chars[(i == 19) ? (r & 0x3) | 0x8 : r];
          }
        }
      }

      return uuid.join('');
    }
    // 批量删出俱乐部
    const deleteMany = () => {
      ElMessageBox.confirm(
        '该操作会删除俱乐部?',
        '提示',
        {
          confirmButtonText: '确认',
          cancelButtonText: '取消',
          type: 'warning',
        }
      )
        .then(() => {
          let ids = []
          statisticsList.value.forEach(item => {
            if (item.checked) {
              ids.push(item.id)
            }
          })
          console.log(ids);
          store.dispatch("clubDelete", ids).then(res => {
            ElMessage({
              type: 'success',
              message: '俱乐部已删除',
            })
            getClublist()
          })
        }).catch(() => {
          ElMessage({
            type: 'info',
            message: '已取消删除',
          })
        })

    }
    // 删除俱乐部
    const ondelClub = (item) => {
      ElMessageBox.confirm(
        '该操作会删除俱乐部?',
        '提示',
        {
          confirmButtonText: '确认',
          cancelButtonText: '取消',
          type: 'warning',
        }
      )
        .then(() => {
          let ids = [item.id]
          store.dispatch("clubDelete", ids).then(res => {
            ElMessage({
              type: 'success',
              message: '俱乐部已删除',
            })
            getClublist()
          })
        }).catch(() => {
          ElMessage({
            type: 'info',
            message: '已取消删除',
          })
        })
    }
    let dioclubTitle = ref("")
    // 初始换编辑框数据
    const onEditClub = (item) => {
      store.dispatch("clubDetail", { id: item.id }).then(res => {
        addClubForm.menus = res.data.menus || []
        addClubForm.id = res.data.id
        addClubForm.name = res.data.name
        addClubForm.code = res.data.code
        addClubForm.phone = res.data.phone
        addClubForm.address = res.data.address
        addClubForm.clubType = res.data.clubType
        addClubForm.clubAccount = res.data.clubAccount
        addClubForm.clubPwd = res.data.clubPwd
        addClubForm.clubDesc = res.data.clubDesc
        addClubForm.clubIp = res.data.clubIp
        addClubForm.clubScreenIp = res.data.clubScreenIp
        addClubForm.remark = res.data.remark
        recommend.value = Boolean(res.data.recommend)
        addClubForm.recommend = res.data.recommend
        addClubForm.logo = res.data.logo
        if (res.data.logo) {
          logoList.value = [{ url: ImgUrl.value + res.data.logo }]
        }
        addClubForm.banner = res.data.banner
        if (res.data.banner) {
          bannerList.value = [{ url: ImgUrl.value + res.data.banner }]
        }
        dialogTableVisible.value = true
        dioclubTitle.value = "修改俱乐部"
      })
    }
    // 菜单树
    let menutreeList = ref([])
    // 获取点击的复选框
    const getcheckList = () => {
      console.log(addClubForm.menus);
    }
    // 二维码列表查询参数
    let qrForm = ref({
      page: 1,
      size: 10
    })
    let qrCodelisttotal = ref(0)
    // 二维码列表数据
    let qrCodelist = ref([])
    const handleCurrentChange = (page) => {
      qrForm.value.page = page
      store.dispatch('qrcodes', qrForm.value).then(res => {
        qrCodelist.value = res.rows
        qrCodelisttotal.value = res.total
      })
    }
    // 单独图片显示属性
    let dialogsingleqrcodeVisible = ref(false)
    // 单独图片
    let singleQrcode = ref("")
    // 获取单独打印
    const getsingleQrcode = (url) => {
      singleQrcode.value = url
      dialogsingleqrcodeVisible.value = true
    }
    // 关闭打印窗口
    const closedialogprint = () => {
      dialogsingleqrcodeVisible.value = false
      singleQrcode.value = ""
    }
    onMounted(() => {
      getClublist()
      store.dispatch('menuTree').then(res => {
        menutreeList.value = res.data
      })
    })
    return {
      dialogsingleqrcodeVisible,
      onSubmit,
      Search,
      formInline,
      Plus,
      RefreshRight,
      DeleteFilled,
      Printer,
      Remove,
      Edit,
      statisticsList,
      dialogTableVisible,
      addClubForm,
      logoList,
      getFile,
      getFileApp,
      uploadLogo,
      onAddClub,
      rules,
      bannerList,
      onAddClubSubmit,
      form,
      deleteImg,
      deleteAppImg,
      closedialogTable,
      Check,
      Close,
      recommend,
      ImgUrl,
      deleteMany,
      ondelClub,
      dioclubTitle,
      onEditClub,
      // checkList,
      menutreeList,
      getcheckList,
      dialogqrcodelistVisible,
      qrcodeopen,
      qrCodelist,
      qrForm,
      handleCurrentChange,
      qrCodelisttotal,
      getsingleQrcode,
      singleQrcode,
      closedialogprint
    }
  },
  components: {
    DeleteFilled
  }
}
</script>

<style lang='less' scoped>
.clubManage {
  width: 100%;
  height: 100%;

  .searchForm {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .searchFormBtn {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .statistics {
    width: 100%;
    padding-top: 10px;
    box-sizing: border-box;
    .statisticsBox {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(4, 25%);
      // grid-template-rows: 430px;
      .statisticsItem {
        height: 400px;
        float: left;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-right: 25px;
        margin-bottom: 15px;
        transition: all 0.5s;
        cursor: pointer;
        overflow: hidden;
        padding: 5px;
        box-sizing: border-box;
        .clubImg {
          height: 250px;
          width: 100%;
          background: #ccc;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .clubName {
          height: 40px;
          text-align: left;
          line-height: 40px;
          font-size: 20px;
          font-weight: 600;
          padding-left: 10px;
          box-sizing: border-box;
        }
        .clubInfo {
          line-height: 30px;
          text-align: left;
          padding-left: 10px;
          box-sizing: border-box;
        }
        .clubSetting {
          display: flex;
          width: 100%;
          height: 40px;
          padding-left: 10px;
          box-sizing: border-box;
          .settingItem {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .cyclepoint {
              padding: 4px;
              background: chartreuse;
              border-radius: 50%;
            }
            .greycyclepoint {
              padding: 4px;
              background: #bfbfbf;
              border-radius: 50%;
            }
            .sureClor {
              padding: 2px 5px;
              background: #73d13d;
              color: white;
              border-radius: 3px;
            }
            .greyColor {
              padding: 2px 5px;
              background: #ff7a45;
              color: white;
              border-radius: 3px;
            }
          }
          .settingItem:first-child {
            flex: 2;
          }
          .settingItem:nth-child(2) {
            flex: 1.5;
          }
          .settingItem:nth-child(4) {
            padding-left: 20px;
          }
        }
      }
      .statisticsItem:hover {
        margin-top: -10px;
        box-shadow: 1px 2px 5px 2px #ddd;
      }
    }
  }
}
.imgListBox {
  height: 100px;
  width: 100px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  img {
    width: 100%;
    height: 100%;
  }
  .deleteImg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .deleteImg:hover {
    opacity: 1;
  }
}
.uploadBOX {
  width: 100%;
  height: 100%;

  .uploadIMg_el {
    display: flex;
    align-items: center;
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100px;
    height: 100px;
    .uploadIMg {
      margin-left: 10px;
      width: 100px;
      height: 100px;
    }
  }
}
.selectCheckbox {
  width: 500px;
  min-height: 300px;
  padding: 10px 30px;
  border: 0.1px solid #ccc;
}
.qrcodelist {
  width: 100%;
  border: 1 solid #ccc;
  min-height: 200px;
  padding: 0 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: 250px;
  .qrcodeItem {
    width: 100%;
    height: 200px;
    padding: 0 5px;
    box-sizing: border-box;
    img {
      width: 100%;
    }
    p {
      text-align: center;
      font-size: 16px;
      margin-bottom: 0;
    }
  }
}
</style>
<style>
.el-upload--picture-card {
  width: 100%;
  height: 100%;
}
.el-upload-list--picture-card .el-upload-list__item {
  width: 100%;
  height: 100%;
}
.el-overlay-dialog {
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.el-overlay-dialog::-webkit-scrollbar {
  display: none;
}
</style>
