<template>
  <div class="currentMatch">
    <div class="searchForm">
      <el-form :inline="true" :model="formInline" class="demo-form-inline">
        <div>
          <el-form-item label="比赛名称">
            <el-input v-model="formInline.name" disabled placeholder="请输入比赛名称" />
          </el-form-item>
          <el-form-item label="比赛日期">
            <el-input v-model="formInline.createTime" disabled placeholder="请输入俱乐部" />
          </el-form-item>
          <el-form-item label="比赛时长">
            <el-input v-model="formInline.gameDuration" disabled placeholder="选择比赛时长" />
          </el-form-item>
          <el-form-item label="比赛长度">
            <el-input :value="formInline.raceTrack * formInline.turns" disabled placeholder="赛道长度" />
          </el-form-item>
        </div>
        <div>
          <el-form-item label="比赛方式">
            <el-input v-model="formInline.gameType" disabled placeholder="请输入比赛方式" />
          </el-form-item>
          <el-form-item label="开始时间">
            <el-input v-model="formInline.startTime" disabled placeholder="默认，开始不显示" />
          </el-form-item>
          <el-form-item label="防作弊时间">
            <el-input v-model="formInline.cheat" disabled placeholder="单位" />
          </el-form-item>
          <el-form-item label="限制圈数">
            <el-input v-model="formInline.turns" disabled placeholder="0代表不限制" />
          </el-form-item>
        </div>
      </el-form>
    </div>
    <div class="timeAndtab">
      <div class="timeAndtabItem">
        <h3>场次号：{{ currentNumber }}</h3>
      </div>
      <div class="timeAndtabItem">
        <el-button
          v-for="(item, index) in selectbtnlist"
          style="color:white;cursor:pointer"
          :color="index == selevtIndex ? '#409eff' : '#a6a9ad'"
          :key="index"
          @click="getSelectIndex(index)"
          :icon="item.icon"
        >{{ item.name }}</el-button>
      </div>
      <div class="timeAndtabItem">
        <keep-alive>
          <timeDown :countTimeReduce="countTime" :timeEndCb="timeEndCb"></timeDown>
        </keep-alive>
      </div>
    </div>
    <div class="playSort" v-if="selevtIndex == 0">
      <div class="playItem">
        <div class="playItemTitle">当前场次:{{ currentNumber }}</div>
        <div class="playItemFunction">
          <div class="bigBtn">
            <el-button size="small" :disabled="isBegin" @click="onAddEtc" type="primary">新增场次</el-button>
            <!-- <el-button size="small" type="success">保存场次</el-button>
            <el-button size="small" type="success">全部开始</el-button>
            <el-button size="small" type="warning">全部结束</el-button>-->
            <el-button size="small" :disabled="isBegin" type="warning" @click="printCurrent">本场打印</el-button>
            <el-button size="small" :disabled="isBegin" type="warning" @click="printCurrentpeo">单人打印</el-button>
          </div>
          <div class="smallBtn">
            <el-button
              size="mini"
              :disabled="isBegin"
              type="primary"
              @click="addPlayer('current')"
            >新增车手</el-button>
            <el-button size="mini" :disabled="isBegin" type="success" @click="gamebegin">开始</el-button>
            <el-button size="mini" :disabled="!isBegin" type="warning" @click="gameEnd">结束</el-button>
            <el-button size="mini" :disabled="isBegin" type="danger">删除</el-button>
            <el-button size="mini" :disabled="isBegin" type="success" @click="changecurrentCar">调换车辆</el-button>
          </div>
        </div>
        <div class="playItemtable">
          <el-table
            @select="getcurSelectBox"
            @select-all="getAllcurrent"
            :header-row-class-name="headerRow"
            :data="tableData"
            stripe
            style="width: 100%"
          >
            <el-table-column type="selection" width="55" />
            <el-table-column label="状态" prop="status" width="85" />
            <!-- <el-table-column label="名次" prop="name" /> -->
            <el-table-column label="照片">
              <template #default="scope">
                <img style="width:30px;height:30px" :src="scope.row.pic" alt />
              </template>
            </el-table-column>
            <el-table-column show-overflow-tooltip label="车手" prop="name" />
            <el-table-column label="车号" prop="clubCarNo" />
            <el-table-column show-overflow-tooltip label="最快单圈" prop="durationFmt" />
            <el-table-column show-overflow-tooltip label="圈数" prop="totalTurns" />
          </el-table>
        </div>
      </div>
      <div class="playItem playIcon">
        <img
          src="@/assets/icons/right.png"
          @click="changeWait(currentNumber)"
          style="width: 2em; height: 2em; transform: rotate(180deg);"
        />
      </div>
      <div class="playItem">
        <div class="playItemsecondTitle">准备场次:预计开始时间:</div>
        <div class="playItemFunction">
          <div class="bigBtn" style="opacity:0">
            <el-button size="small" type="primary"></el-button>
            <el-button size="small" type="success"></el-button>
            <el-button size="small" type="success"></el-button>
            <el-button size="small" type="warning"></el-button>
            <el-button size="small" type="danger"></el-button>
            <el-button size="small" type="danger"></el-button>
          </div>
          <div class="smallBtn">
            <!--  -->
            <el-button size="mini" @click="addPlayer('plan')" type="primary">新增车手</el-button>
            <el-button size="mini" type="success" @click="changeCar">调换车辆</el-button>
            <el-button size="mini" type="danger">删除</el-button>
          </div>
        </div>
        <div class="playItemtable">
          <el-table
            :header-row-class-name="headerRow"
            :data="planPlayer"
            @select="getSelectwaitingBox"
            @select-all="getAllprepare"
            stripe
            style="width: 100%"
          >
            <el-table-column type="selection" width="50" />
            <el-table-column label="序号" type="index" width="70" />
            <el-table-column label="照片" prop="pic">
              <template #default="scope">
                <img style="width:30px;height:30px" :src="scope.row.pic" alt />
              </template>
            </el-table-column>
            <el-table-column show-overflow-tooltip label="车手" prop="name" />
            <el-table-column label="车号" prop="clubCarNo" />
          </el-table>
        </div>
      </div>
      <div class="playItem playIcon">
        <img
          src="@/assets/icons/right.png"
          @click="changeWait('wait-game-schedule-id')"
          style="width: 2em; height: 2em; transform: rotate(180deg);"
        />
      </div>
      <div class="playItem">
        <div class="playItemsecondTitle">等待车手列表:</div>
        <div class="playItemFunction">
          <div class="bigBtn" style="opacity:0">
            <el-button size="small" type="primary"></el-button>
            <el-button size="small" type="success"></el-button>
            <el-button size="small" type="success"></el-button>
            <el-button size="small" type="warning"></el-button>
            <el-button size="small" type="danger"></el-button>
            <el-button size="small" type="danger"></el-button>
          </div>
          <div class="smallBtn">
            <!--  -->
            <el-button size="mini" @click="addPlayer('')" type="primary">新增车手</el-button>
            <el-button size="mini" type="success" @click="changewaitingCar">调换车辆</el-button>
            <el-button size="mini" type="danger">删除</el-button>
          </div>
        </div>
        <div class="playItemtable">
          <el-table
            ref="waitPlayer"
            :header-row-class-name="headerRow"
            @select="getSelectBox"
            :data="wswaitUsers"
            @row-click="waitRowClick"
            @select-all="getAllwaiting"
            stripe
            style="width: 100%"
          >
            <el-table-column type="selection" width="50" />
            <el-table-column label="序号" type="index" width="70" />
            <el-table-column label="照片" prop="pic">
              <template #default="scope">
                <img style="width:30px;height:30px" :src="scope.row.pic" alt />
              </template>
            </el-table-column>
            <el-table-column show-overflow-tooltip label="车手" prop="name" />
            <el-table-column label="车号" prop="clubCarNo" />
          </el-table>
        </div>
      </div>
      <div style="height:0"></div>
      <div class="playItem playIcon">
        <img
          src="@/assets/icons/right.png"
          @click="changbackWait('wait-game-schedule-id')"
          style="width: 2em; height: 2em;"
        />
      </div>
      <div style="height:0"></div>
      <div class="playItem playIcon">
        <img
          src="@/assets/icons/right.png"
          @click="changbackWait('')"
          style="width: 2em; height: 2em;"
        />
      </div>
    </div>
    <div class="gameRank" v-if="selevtIndex == 1">
      <el-table :header-row-class-name="headerRow" :data="tableData" stripe style="width: 100%">
        <el-table-column type="selection" width="50" />
        <el-table-column label="状态" prop="status" />
        <el-table-column label="名次" prop="name" />
        <el-table-column label="照片" prop="name">
          <template #default="scope">
            <img style="width:30px;height:30px" :src="scope.row.pic" alt />
          </template>
        </el-table-column>
        <el-table-column label="车手" prop="name" />
        <el-table-column label="车号" prop="clubCarNo" />
      </el-table>
    </div>
    <div class="shishidata" v-if="selevtIndex == 2">
      <div class="rankBox_item">圈数 \ 姓名</div>
      <div class="rankBox_item">
        <div class="rankBox_item_user" v-for="({ name, values }, index) in shishiData" :key="index">
          <div class="rnk">
            <div>
              <img style="width:20px;height:20px" :src="values[0].pic" alt />
            </div>
            <div>{{ name }}</div>
          </div>
          <div
            class="rnkList"
            v-for="item in values"
            :key="`${item.clubCarNo}_${item.end}`"
          >{{ item.durationFmt }}</div>
          <div
            class="rnkList"
            v-show="len - values.length > 0"
            v-for="i in len - values.length"
            :key="i"
          ></div>
        </div>
      </div>
      <div class="rankBox_item">
        <div class="rankBox_item_circle" v-for="item in len" :key="item">{{ item }}</div>
      </div>
    </div>
  </div>
  <teleport class="addClubform" to="body" v-if="dialogTableVisible">
    <el-dialog
      title="新增场次"
      v-model="dialogTableVisible"
      :show-close="false"
      :close-on-click-modal="false"
    >
      <el-form :model="addEtcForm" label-width="120px">
        <el-form-item label="场次模板" prop="gameType">
          <!-- <el-input style="width:300px;" v-model="addEtcForm.gameType"></el-input> -->
          <el-select style="width:80%;" v-model="addEtcForm.gameType" placeholder="请选择">
            <el-option
              v-for="item in moduleList"
              :key="item.id"
              :label="item.name"
              :value="item.gameType"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onAddEtcSubmit">确认</el-button>
          <el-button @click="closeEtcAdd">取消</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </teleport>
  <teleport class="addClubform" to="body" v-if="dialogvarlistVisible">
    <el-dialog
      title="选择车辆"
      v-model="dialogvarlistVisible"
      :show-close="false"
      :close-on-click-modal="false"
    >
      <el-form ref="addcarForm2" :model="addcarForm" label-width="120px">
        <el-form-item label="车号" prop="carNo">
          <!-- <el-input style="width:300px;" v-model="addEtcForm.gameType"></el-input> -->
          <el-select style="width:80%;" v-model="addcarForm.carNo" placeholder="请选择">
            <el-option
              v-for="item in carList"
              :key="item.icNo"
              :label="item.icNo"
              :value="item.icNo"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onAddcarSubmit">确认</el-button>
          <el-button @click="closecarAdd">取消</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </teleport>
  <teleport class="addClubform" to="body" v-if="addPlayerdialogTableVisible">
    <el-dialog
      title="新增车手"
      v-model="addPlayerdialogTableVisible"
      :show-close="false"
      :close-on-click-modal="false"
    >
      <el-form ref="addcurrentPlayerForm" :model="addPlayerForm" label-width="120px">
        <el-form-item label="姓名" prop="name">
          <el-input style="width:300px;" v-model="addPlayerForm.name"></el-input>
        </el-form-item>
        <el-form-item label="电话" prop="phone">
          <el-input style="width:300px;" v-model="addPlayerForm.phone"></el-input>
        </el-form-item>
        <el-form-item label="车号" prop="carNo">
          <el-select style="width:300px;" v-model="addPlayerForm.carNo" placeholder="请选择">
            <el-option
              v-for="item in carList"
              :key="item.icNo"
              :label="item.icNo"
              :value="item.icNo"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onAddPlayerSubmit">确认</el-button>
          <el-button @click="closePlayerAdd">取消</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </teleport>
</template>

<script>
import { useStore } from 'vuex';
// import { useRouter } from 'vue-router';
import { onMounted, ref, reactive, watch, computed } from 'vue';
import { Sort, Goblet, Histogram, DataAnalysis, Switch } from '@element-plus/icons'
import timeDown from "@/components/component/timeDown.vue";
import { ElMessage } from 'element-plus'
import { WSconnect } from "@/utils/rankSocket.js";
export default {
  name: 'currentMatch',
  setup(props) {
    // 当前场次号
    let currentNumber = ref('')
    const Url = 'http://192.168.25.2:8080/'
    const store = useStore()
    // 添加场次form
    let addEtcForm = reactive({
      "gameType": '',
    })
    // 添加选手表单
    let addPlayerForm = reactive({
      name: '',
      phone: '',
      carNo: '',
      carTeam: '',
      gameScheduleId: '',
    })
    let formInline = ref({})
    let dialogTableVisible = ref(false)
    let addPlayerdialogTableVisible = ref(false)
    let selectbtnlist = ref([
      { name: '场次排序', type: 'primary', icon: Sort },
      { name: '比赛排名', type: 'info', icon: Goblet },
      { name: '实时数据', type: 'info', icon: Histogram },
      { name: '排名投屏', type: 'info', icon: DataAnalysis }
    ])
    // 当前场次
    const tableData = ref([])
    // 准备场次
    const planPlayer = ref([])
    // 等待车手列表
    const waitingPlayer = ref([])
    // 模板列表
    const moduleList = ref([])

    // 实时数据列表
    const shishiData = ref([])
    // 车辆列表
    const carList = ref([])
    let selevtIndex = ref(0)
    // 定义最长的数组长度
    let len = ref(0)
    const getSelectIndex = (index) => {
      selevtIndex.value = index
      if (index == 3) {
        // 跳转大屏
        store.dispatch('getGameScheduleIng').then(res => {
          console.log(window.location.origin);
          if (res.data) {

            // window.open(`http://aikarting.net/#/castScreen?clubId=${res.data.clubId}`)
            window.open(`${window.location.origin}/#/castScreen?clubId=${res.data.clubId}`)
            // window.open(`http://localhost:3000/#/castScreen?clubId=${res.data.clubId}`)
          } else {
            ElMessage({
              type: "warning",
              message: "没有开始的比赛，请新建场次"
            })
          }
        })
      }
      if (index == 2) {
        // 获取实时数据
        store.dispatch('realData', { gameScheduleId: currentNumber.value }).then(res => {
          if (res.data) {
            shishiData.value = res.data
            res.data.forEach(item => {
              if (item.values.length > len.value) {
                len.value = item.values.length

              }
            })
          } else {
            ElMessage({
              type: "warning",
              message: "没有开始的比赛，请新建场次"
            })
          }
        })
      }
    }
    const timeEndCb = () => {
      countTime.value = 0
      isBegin.value = false
    }
    // 新增场次弹框
    const onAddEtc = () => {
      dialogTableVisible.value = true
    }
    // 新增车手弹框
    const addPlayer = (data) => {
      // wait-game-schedule-id
      // 获取车辆列表
      store.dispatch('getCarExclude').then(res => {
        // console.log(res);
        carList.value = res.data
      })
      addPlayerdialogTableVisible.value = true
      switch (data) {
        case 'current':
          addPlayerForm.gameScheduleId = localStorage.getItem('gameScheduleId')
          break;
        case 'plan':
          addPlayerForm.gameScheduleId = 'wait-game-schedule-id'
          break;
        default:
          addPlayerForm.gameScheduleId = ''
          break;
      }

    }
    // 关闭车手弹框
    const closePlayerAdd = () => {
      addPlayerdialogTableVisible.value = false
    }
    // 提交添加车手表单
    const onAddPlayerSubmit = () => {
      const reg = /^(?:(?:\+|00)86)?1(?:(?:3[\d])|(?:4[5-79])|(?:5[0-35-9])|(?:6[5-7])|(?:7[0-8])|(?:8[\d])|(?:9[189]))\d{8}$/
      let p = new RegExp(reg)
      if (!p.test(addPlayerForm.phone)) {
        ElMessage({
          type: "warning",
          message: "手机号校验失败请重新输入"
        })
        return false;
      }
      store.dispatch('addgGameScheduleUser', addPlayerForm).then(res => {
        if (res.code == 200) {
          ElMessage({
            type: 'success',
            message: res.message
          })
          // 初始化表单
          addPlayerdialogTableVisible.value = false
          addPlayerForm.name = ''
          addPlayerForm.phone = ''
          addPlayerForm.carNo = ''
          // 等待车手列表
          if (addPlayerForm.gameScheduleId) {
            store.dispatch('getGameScheduleUser', { gameScheduleId: addPlayerForm.gameScheduleId }).then(res => {

              if (addPlayerForm.gameScheduleId == 'wait-game-schedule-id') {
                planPlayer.value = res.data
              } else {
                tableData.value = res.data
              }
            })
          } else {
            // 等待车手列表
            store.dispatch('getGameScheduleUserwait', { gameScheduleId: '' })
          }
        } else {
          ElMessage({
            type: 'warning',
            message: res.message
          })
        }
      })
    }
    // 新增场次表单
    const onAddEtcSubmit = async () => {
      let gameScheduleId = await store.dispatch('gameScheduleSave', addEtcForm)
      console.log(gameScheduleId);
      if (gameScheduleId.code !== 200) {
        ElMessage({
          type: "warning",
          message: gameScheduleId.message
        })
        return false;
      }
      currentNumber.value = gameScheduleId.data.id
      localStorage.setItem('gameScheduleId', gameScheduleId.data.id)
      let currentList = await store.dispatch('getGameScheduleUser', { gameScheduleId: gameScheduleId.data.id })
      tableData.value = currentList.data
      closeEtcAdd()
    }
    // 选中的当前场次车手
    let gettabledataSelectBoxarr = ref([])
    // 选中的等待车手列表
    let getSelectBoxarr = ref([])
    // 选中准备中的车手列表
    let getcurrentSelectBoxarr = ref([])
    // 转移到准备场次
    const changeWait = (id) => {
      console.log(id);
      if (id == 'wait-game-schedule-id') {
        store.dispatch('assignGameScheduleUser', { gameScheduleId: 'wait-game-schedule-id', ids: getSelectBoxarr.value }).then(res => {
          if (res.code == 200) {
            ElMessage({
              type: 'success',
              message: res.message
            })
            // 准备场次车手
            store.dispatch('getGameScheduleUser', { gameScheduleId: 'wait-game-schedule-id' }).then(res => {
              planPlayer.value = res.data
            })
            // // 等待车手列表
            // store.dispatch('getGameScheduleUser', { gameScheduleId: '' }).then(res => {
            //   waitingPlayer.value = res.data
            // })
            // 等待车手列表
            store.dispatch('getGameScheduleUserwait', { gameScheduleId: '' })
          } else {
            ElMessage({
              type: 'warning',
              message: res.message
            })
          }
        })
      } else {
        if (id) {
          store.dispatch('assignGameScheduleUser', { gameScheduleId: id, ids: getcurrentSelectBoxarr.value }).then(res => {
            if (res.code == 200) {
              ElMessage({
                type: 'success',
                message: res.message
              })
              // 准备场次车手
              store.dispatch('getGameScheduleUser', { gameScheduleId: 'wait-game-schedule-id' }).then(res => {
                planPlayer.value = res.data
              })
              // 当前场次列表
              store.dispatch('getGameScheduleUser', { gameScheduleId: id }).then(res => {
                tableData.value = res.data
              })
            } else {
              ElMessage({
                type: 'warning',
                message: res.message
              })
            }
          })
        } else {
          ElMessage({
            type: "warning",
            message: "暂无当前场次，请新建场次"
          })
        }
      }
    }
    // 反向转移到准备场次
    const changbackWait = (id) => {
      console.log(id);
      if (id == 'wait-game-schedule-id') {
        store.dispatch('assignGameScheduleUser', { gameScheduleId: 'wait-game-schedule-id', ids: gettabledataSelectBoxarr.value }).then(res => {
          if (res.code == 200) {
            ElMessage({
              type: 'success',
              message: res.message
            })
            // 准备场次车手
            store.dispatch('getGameScheduleUser', { gameScheduleId: 'wait-game-schedule-id' }).then(res => {
              planPlayer.value = res.data
            })
            // 当前场次列表
            store.dispatch('getGameScheduleUser', { gameScheduleId: currentNumber.value }).then(res => {
              tableData.value = res.data
            })

          } else {
            ElMessage({
              type: 'warning',
              message: res.message
            })
          }
        })
      } else {
        store.dispatch('assignGameScheduleUser', { gameScheduleId: id, ids: getcurrentSelectBoxarr.value }).then(res => {
          if (res.code == 200) {
            ElMessage({
              type: 'success',
              message: res.message
            })
            // 准备场次车手
            store.dispatch('getGameScheduleUser', { gameScheduleId: 'wait-game-schedule-id' }).then(res => {
              planPlayer.value = res.data
            })
            // // 等待车手列表
            // store.dispatch('getGameScheduleUser', { gameScheduleId: '' }).then(res => {
            //   waitingPlayer.value = res.data
            // })
            // 等待车手列表
            store.dispatch('getGameScheduleUserwait', { gameScheduleId: '' })
          } else {
            ElMessage({
              type: 'warning',
              message: res.message
            })
          }
        })

      }
    }
    // 选中当前场次车手
    let curPlayer = ref([])
    //多选当前场次车手
    const getcurSelectBox = (selection, row) => {
      console.log(selection);
      if (curPlayer.value.length) {
        let index = curPlayer.value.indexOf(row)
        if (index !== -1) {
          curPlayer.value.splice(index, 1)
        } else {
          curPlayer.value.push(row)
        }
      } else {
        curPlayer.value.push(row)
      }

      gettabledataSelectBoxarr.value = selection.map(item => {
        return item.id
      })
      console.log(gettabledataSelectBoxarr.value);
    }
    let chwaitingPlayer = ref([])
    let waitPlayer = ref(null)
    //多选等待列表
    const getSelectBox = (selection, row) => {
      console.log(row);
      if (row.clubCarNo) {
        if (chwaitingPlayer.value.length) {
          let index = chwaitingPlayer.value.indexOf(row)
          if (index !== -1) {
            chwaitingPlayer.value.splice(index, 1)
          } else {
            chwaitingPlayer.value.push(row)
          }
        } else {
          chwaitingPlayer.value.push(row)
        }
        getSelectBoxarr.value = selection.map(item => {
          return item.id
        })
      } else {
        ElMessage({
          type: "warning",
          message: "请先为车手安排车辆"
        })
        waitPlayer.value.clearSelection()
      }
    }
    // 选择车辆弹框属性
    let dialogvarlistVisible = ref(false)
    // 设置车号表单
    let addcarForm = reactive({
      id: "",
      carNo: ""
    })
    // 点击某行添加车辆
    const waitRowClick = (row, column, event) => {
      if (row.clubCarNo) {
        ElMessage({
          type: "warning",
          message: "该车手存在车辆不需要重复添加"
        })
      } else {
        // 获取车辆列表
        store.dispatch('getCarExclude').then(res => {
          // console.log(res);
          carList.value = res.data
        })
        dialogvarlistVisible.value = true
        addcarForm.id = row.id
      }
    }
    // 提交设置车号表单
    const onAddcarSubmit = () => {
      store.dispatch('updateCarNo', addcarForm).then(res => {
        if (res.code == 200) {
          closecarAdd()

          ElMessage({
            type: "success",
            message: "设置成功"
          })
          store.dispatch('getGameScheduleUserwait', { gameScheduleId: '' })
        }
      })
    }
    const closecarAdd = () => {
      dialogvarlistVisible.value = false
      addcarForm.id = ''
      addcarForm.carNo = ''
    }
    let zhunbeiPlayer = ref([])
    //多选准备列表
    const getSelectwaitingBox = (selection, row) => {

      if (zhunbeiPlayer.value.length) {
        let index = zhunbeiPlayer.value.indexOf(row)
        if (index !== -1) {
          zhunbeiPlayer.value.splice(index, 1)
        } else {
          zhunbeiPlayer.value.push(row)
        }
      } else {
        zhunbeiPlayer.value.push(row)
      }

      getcurrentSelectBoxarr.value = selection.map(item => {
        return item.id
      })

    }
    // 关闭场次
    const closeEtcAdd = () => {
      dialogTableVisible.value = false
      addEtcForm.gameType = ''

    }
    // 记录是否开始比赛
    let isBegin = ref(false)
    // 开始比赛
    const gamebegin = () => {

      if (gettabledataSelectBoxarr.value.length) {
        countTime.value = 600000
        store.dispatch('changeGameSchedule', {
          ids: gettabledataSelectBoxarr.value,
          gameScheduleId: currentNumber.value,
          state: 0
        }).then(res => {

          if (res.code == 200) {
            isBegin.value = true
            gettabledataSelectBoxarr.value = []
            console.log();
            // 当前场次列表
            store.dispatch('getGameScheduleUser', { gameScheduleId: currentNumber.value }).then(res => {
              tableData.value = res.data
            })
            store.dispatch('getGameScheduleIng').then(res => {
              if (res.data) {
                formInline.value = res.data
                currentNumber.value = res.data.id
                localStorage.setItem('gameScheduleId', res.data.id)
              }
            })
            ElMessage({
              type: "success",
              message: "开始比赛"
            })
            WSconnect(currentClubid.value)
          } else {
            ElMessage({
              type: "warning",
              message: res.message
            })
          }
        })
      } else {
        // ElMessage({
        //   type: "warning",
        //   message: "请选择车手"
        // })
        console.log(tableData.value)
        if (tableData.value.length > 0) {
          gettabledataSelectBoxarr.value = tableData.value.map(item => {
            return item.id
          })
          countTime.value = 600000
          store.dispatch('changeGameSchedule', {
            ids: gettabledataSelectBoxarr.value,
            gameScheduleId: currentNumber.value,
            state: 0
          }).then(res => {

            if (res.code == 200) {
              isBegin.value = true
              gettabledataSelectBoxarr.value = []
              console.log();
              // 当前场次列表
              store.dispatch('getGameScheduleUser', { gameScheduleId: currentNumber.value }).then(res => {
                tableData.value = res.data
              })
              store.dispatch('getGameScheduleIng').then(res => {
                if (res.data) {
                  formInline.value = res.data
                  currentNumber.value = res.data.id
                  localStorage.setItem('gameScheduleId', res.data.id)
                }
              })
              ElMessage({
                type: "success",
                message: "开始比赛"
              })
              WSconnect(currentClubid.value)
            } else {
              ElMessage({
                type: "warning",
                message: res.message
              })
            }
          })
        }

      }

    }
    // 结束比赛
    const gameEnd = () => {
      countTime.value = 0
      store.dispatch('changeGameSchedule', {
        gameScheduleId: currentNumber.value,
        state: 1
      }).then(res => {
        if (res.code == 200) {
          isBegin.value = false
          localStorage.removeItem('gameScheduleId')
          currentNumber.value = ''
          tableData.value = []
          formInline.value = {
            name: "",
            createTime: "",
            gameDuration: "",
            raceTrack: "",
            gameType: "",
            startTime: "",
            cheat: "",
            turns: ""
          }
          ElMessage({
            type: "success",
            message: "结束比赛"
          })
        }
      })
    }
    // 准备场次换车
    const changeCar = () => {
      if (zhunbeiPlayer.value.length !== 2) {
        ElMessage({
          type: "warning",
          message: "转换车手只能选两位车手"
        })
      } else {
        let u1 = zhunbeiPlayer.value[0]
        let u2 = zhunbeiPlayer.value[1]
        store.dispatch('changeCar', { u1: u1.id, u2: u2.id }).then(res => {
          if (res.code == 200) {
            ElMessage({
              type: "success",
              message: "换车成功"
            })
            zhunbeiPlayer.value = []
            // 准备场次车手
            store.dispatch('getGameScheduleUser', { gameScheduleId: 'wait-game-schedule-id' }).then(res => {
              planPlayer.value = res.data
            })
          }
        })
      }
    }
    // 等待车手换车
    const changewaitingCar = () => {
      if (chwaitingPlayer.value.length !== 2) {
        ElMessage({
          type: "warning",
          message: "转换车手只能选两位车手"
        })
      } else {
        let u1 = chwaitingPlayer.value[0]
        let u2 = chwaitingPlayer.value[1]
        store.dispatch('changeCar', { u1: u1.id, u2: u2.id }).then(res => {
          if (res.code == 200) {
            ElMessage({
              type: "success",
              message: "换车成功"
            })
            chwaitingPlayer.value = []
            // // 等待车手列表
            // store.dispatch('getGameScheduleUser', { gameScheduleId: '' }).then(res => {
            //   waitingPlayer.value = res.data
            // })
            // 等待车手列表
            store.dispatch('getGameScheduleUserwait', { gameScheduleId: '' })
          }
        })
      }
    }
    // 当前场次换车
    const changecurrentCar = async () => {
      console.log(curPlayer.value);
      if (curPlayer.value.length !== 2) {
        ElMessage({
          type: "warning",
          message: "转换车手只能选两位车手"
        })
      } else {
        let u1 = curPlayer.value[0]
        let u2 = curPlayer.value[1]
        store.dispatch('changeCar', { u1: u1.id, u2: u2.id }).then(res => {
          if (res.code == 200) {
            ElMessage({
              type: "success",
              message: "换车成功"
            })
            curPlayer.value = []
            // 当前场次车手列表
            store.dispatch('getGameScheduleUser', { gameScheduleId: localStorage.getItem('gameScheduleId') }).then(res => {
              tableData.value = res.data
            })
          } else {
            ElMessage({
              type: "warning",
              message: res.message
            })
          }
        })
      }
    }
    let currentClubid = ref("")
    onMounted(() => {

      // 获取当前场次数据
      store.dispatch('getGameScheduleIng').then(res => {
        if (res.data) {
          if (res.data.status == "进行中") {
            isBegin.value = true
            WSconnect(res.data.clubId)
          }

          // 当前俱乐部
          currentClubid.value = res.data.clubId

          formInline.value = res.data
          console.log(formInline.value);
          currentNumber.value = res.data.id
          localStorage.setItem('gameScheduleId', res.data.id)
          // 获取当前时间戳
          let vartimestamp = Date.parse(new Date())
          // 比赛开始的时间戳
          let varoldTime = (new Date(res.data.startTime)).getTime()
          if (vartimestamp - varoldTime > 600000) {
            countTime.value = 0
          } else {
            countTime.value = 600000 - (vartimestamp - varoldTime)
          }
          store.dispatch('getGameScheduleUser', { gameScheduleId: localStorage.getItem('gameScheduleId') }).then(res => {
            tableData.value = res.data
          })
        } else {
          currentNumber.value = ''
          tableData.value = []
          localStorage.removeItem('gameScheduleId')
        }
      })
      // if (localStorage.getItem('gameScheduleId')) {
      //   // 初始化场次号
      //   currentNumber.value = localStorage.getItem('gameScheduleId')

      // }
      // 准备场次车手
      store.dispatch('getGameScheduleUser', { gameScheduleId: 'wait-game-schedule-id' }).then(res => {
        planPlayer.value = res.data
      })
      // 等待车手列表
      store.dispatch('getGameScheduleUserwait', { gameScheduleId: '' })
      // 获取模板列表
      store.dispatch('gameTemplateList', { "page": 1, "size": 100 }).then(res => {
        moduleList.value = res.rows
      })

      // getavailableCars()
    })
    let countTime = ref(0)
    const headerRow = ({ row, rowIndex }) => {
      if (rowIndex === 0) {
        return 'headerRow'
      }
    }
    // // 获取当前可用卡丁车
    // const getavailableCars = ()=>{
    //   store.dispatch('availableCars').then(res=>{
    //     console.log(res);
    //   })
    // }
    // 全选当前场次
    const getAllcurrent = (selection) => {
      console.log(selection);
      gettabledataSelectBoxarr.value = selection.map(item => {
        return item.id
      })
    }
    // 全选准备场次
    const getAllprepare = (selection) => {
      console.log(selection);
      // 全选车手列表
      zhunbeiPlayer.value = [...planPlayer.value]
      // 转移车手
      getcurrentSelectBoxarr.value = selection.map(item => {
        return item.id
      })
    }
    // 全选等待车手列表
    const getAllwaiting = (selection) => {
      // console.log(waitingPlayer.value);
      let arr = store.state['karting'].wswaitUsers.filter(item => {
        return !item.clubCarNo
      })
      // console.log(arr);
      if (arr.length > 0) {
        ElMessage({
          type: "warning",
          message: "请先为没有车辆的车手安排车辆"
        })
        waitPlayer.value.clearSelection()
        return false
      }
      chwaitingPlayer.value = [...store.state['karting'].wswaitUsers]
      getSelectBoxarr.value = selection.map(item => {
        return item.id
      })
    }
    // 打印本场
    const printCurrent = () => {
      let varoldTime = (new Date(res.data.startTime)).getTime()
      if (!currentNumber.value || vartimestamp - varoldTime > 600000) {

      }
    }
    // 打印本人
    const printCurrentpeo = () => {

    }
    // 监听
    watch(() => store.state['karting'].gameRankList, (val) => {
     tableData.value = val
    }, {
      deep: true
    })
    // 监听
    watch(() => store.state['karting'].realdata, (val) => {
     shishiData.value = val
     console.log(val);
    }, {
      deep: true
    })
    return {
      formInline,
      Sort,
      Goblet,
      Histogram,
      DataAnalysis,
      selevtIndex,
      getSelectIndex,
      selectbtnlist,
      countTime,
      timeEndCb,
      headerRow,
      tableData,
      gamebegin,
      planPlayer,
      waitingPlayer,
      dialogTableVisible,
      addEtcForm,
      onAddEtcSubmit,
      closeEtcAdd,
      onAddEtc,
      moduleList,
      addPlayerdialogTableVisible,
      addPlayerForm,
      carList,
      addPlayer,
      closePlayerAdd,
      onAddPlayerSubmit,
      Url,
      getSelectBox,
      getSelectwaitingBox,
      changeWait,
      currentNumber,
      getcurSelectBox,
      gameEnd,
      shishiData,
      len,
      changeCar,
      changewaitingCar,
      getAllcurrent,
      getAllwaiting,
      getAllprepare,
      changbackWait,
      waitPlayer,
      waitRowClick,
      onAddcarSubmit,
      addcarForm,
      dialogvarlistVisible,
      closecarAdd,
      wswaitUsers: computed(() => store.state['karting'].wswaitUsers),
      // gameRankList: computed(() => store.state['karting'].gameRankList),
      printCurrent,
      printCurrentpeo,
      isBegin,
      changecurrentCar
    }
  },
  components: {
    timeDown,
    Switch
  }
}
</script>

<style lang='less' scoped>
.currentMatch {
  width: 100%;
  height: 100%;
  .searchForm {
    width: 100%;
    // height: 160px;
    display: flex;
    // align-items: center;
    // justify-content: flex-start;
  }
  .timeAndtab {
    height: 120px;
    width: 100%;
    // background: #ccc;
    display: grid;
    grid-template-columns: 58% 42%;
    grid-template-rows: 60px 60px;
    .timeAndtabItem:nth-child(1) {
      text-align: right;
      margin-right: 100px;
    }
    .timeAndtabItem:nth-child(2) {
      text-align: left;
    }
    .timeAndtabItem:nth-child(3) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }
  .gameRank {
    margin-top: 10px;
    width: 100%;
    height: calc(100% - 300px);
  }
  .playSort {
    margin-top: 10px;
    width: 100%;
    height: calc(100% - 280px);
    display: grid;
    grid-template-columns: 45% 4% 23.5% 4% 23.5%;
    grid-template-rows: 30px 70px calc(100% - 100px);
    .playIcon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
    }
    .playItem {
      padding: 0 10px 0 0;
      box-sizing: border-box;
      .playItemTitle {
        font-weight: 800;
        font-size: 17px;
        text-align: left;
      }
      .playItemsecondTitle {
        text-align: left;
        font-size: 18px;
      }
      .playItemFunction {
        margin-top: 10px;
        .bigBtn {
          text-align: left;
        }
        .smallBtn {
          margin-top: 10px;
          text-align: left;
        }
      }
      .playItemtable {
        margin-top: 10px;
      }
    }
  }
  .shishidata {
    margin-top: 10px;
    width: 100%;
    height: calc(100% - 300px);
    display: grid;
    grid-template-columns: 6rem auto;
    grid-template-rows: 4rem auto;
    .rankBox_item:first-child {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #111;
      font-size: 1rem;
      border: 0.1px solid #f1f1f1;
    }
    .rankBox_item:nth-child(2) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;

      .rankBox_item_user {
        width: 6rem;
        height: 100%;
        float: left;

        .rnk {
          width: 100%;
          height: 4rem;
          border: 0.1px solid #f1f1f1;
          border-width: 0.1px 0.1px 0.1px 0;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          justify-content: center;
          // align-items: center;
        }
        .rnkList {
          height: 1.5rem;
          width: calc(100%-0.1px);
          line-height: 1.5rem;
          border: 0.1px solid #f1f1f1;
          border-width: 0 0.1px 0.1px 0;
        }
      }
    }
    .rankBox_item:nth-child(3) {
      .rankBox_item_circle {
        height: 1.5rem;
        width: 100%;
        border: 0.1px solid #f1f1f1;
        border-width: 0 0.1px 0.1px 0.1px;
        display: flex;
        // box-sizing: border-box;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.5rem;
      }
    }
  }
}
.el-table::v-deep(.headerRow th) {
  background: #2e2e2e !important;
}
</style>
