<template>
  <div class="historyMatch">
    <div class="searchForm">
      <el-form :inline="true" :model="formInline" class="demo-form-inline">
        <el-form-item label="筛选时间">
          <el-date-picker
            value-format="YYYY-MM-DD HH:mm:ss"
            v-model="formInline.startTime"
            type="date"
            placeholder="请选择开始时间"
          ></el-date-picker>
        </el-form-item>
        <el-form-item label="-">
          <el-date-picker
            value-format="YYYY-MM-DD HH:mm:ss"
            v-model="formInline.endTime"
            type="date"
            placeholder="请选择结束时间"
          ></el-date-picker>
        </el-form-item>
        <el-form-item label="所属俱乐部">
          <el-select v-model="formInline.clubId" placeholder="默认为所有俱乐部">
            <el-option label="Zone one" value="shanghai"></el-option>
            <el-option label="Zone two" value="beijing"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit" :icon="Search">
            <span class="cpointer">查询</span>
          </el-button>
          <el-button type="primary" @click="onReset" :icon="Search">
            <span class="cpointer">重置</span>
          </el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="searchFormBtn">
      <el-button type="danger" @click="onDelete" :icon="DeleteFilled">
        <span class="cpointer" @click="onDeletemany">批量删除</span>
      </el-button>
    </div>
    <div class="tableList">
      <el-table
        :header-row-class-name="headerRow"
        @select-all="selectallTable"
        @select="selectTable"
        :data="tableData"
        stripe
        style="width: 100%"
      >
        <el-table-column type="selection" width="55" />
        <el-table-column align="center" show-overflow-tooltip label="场次编号" prop="id" />
        <el-table-column align="center" show-overflow-tooltip label="开始时间" prop="startTime" />
        <el-table-column align="center" show-overflow-tooltip label="比赛名称" prop="name" />
        <el-table-column align="center" show-overflow-tooltip label="比赛方式" prop="gameType" />
        <el-table-column align="center" show-overflow-tooltip label="状态" prop="status" />
        <el-table-column align="center" show-overflow-tooltip label="操作" width="300">
          <template #default="scope">
            <el-button
              type="success"
              size="mini"
              @click.stop="handleEdit(scope.$index, scope.row)"
            >详情</el-button>
            <el-button
              size="mini"
              type="danger"
              @click.stop="handleDelete(scope.$index, scope.row)"
            >删除</el-button>
            <el-button
              size="mini"
              color="#9253df"
              style="color: white;"
              @click.stop="handlePrint(scope.$index, scope.row)"
            >打印</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        style="margin-top: 20px;text-align:right"
        background
        v-model:currentPage="formInline.page"
        :page-size="formInline.size"
        layout=" prev, pager, next, jumper"
        :total="total"
        @current-change="handleCurrentChange"
      ></el-pagination>
    </div>
  </div>
  <teleport class="addClubform" to="body" v-if="dialogTableVisible">
    <div class="shishidataDialog" @click="dialogTableVisible = false">
      <div class="shishidata" @click.stop="dialogTableVisible = true">
        <div class="rankBox_item">圈数 \ 姓名</div>
        <div class="rankBox_item">
          <div
            class="rankBox_item_user"
            v-for="({ name, values }, index) in shishiData"
            :key="index"
          >
            <div class="rnk">
              <div>
                <img style="width:20px;height:20px" :src="values[0].pic" alt />
              </div>
              <div>{{ name }}</div>
            </div>
            <div
              class="rnkList"
              v-for="item in values"
              :key="`${item.clubCarNo}_${item.end}`"
            >{{ item.durationFmt }}</div>
            <div
              class="rnkList"
              v-show="len - values.length > 0"
              v-for="i in len - values.length"
              :key="i"
            ></div>
          </div>
        </div>
        <div class="rankBox_item">
          <div class="rankBox_item_circle" v-for="item in len" :key="item">{{ item }}</div>
        </div>
      </div>
    </div>
  </teleport>
  <teleport class="singleGame" to="body" v-if="dialogsingleGameVisible">
    <el-dialog
      title="单场比赛成绩"
      v-model="dialogsingleGameVisible"
      :show-close="false"
      :close-on-click-modal="false"
    >
      <div id="printMe" class="userHistory">
        <p>竞赛名称：{{ selectedOption.name }}</p>
        <p>俱乐部：{{ selectedOption.clubName }}</p>
        <p>比赛时间：{{ selectedOption.startTime }}</p>
        <div class="gamelist">
          <div class="shishidata">
            <div class="rankBox_item">圈数 \ 姓名</div>
            <div class="rankBox_item">
              <div
                class="rankBox_item_user"
                v-for="({ name, pic, everyLap }, index) in printData"
                :key="index"
              >
                <div class="rnk">
                  <div>
                    <img style="width:20px;height:20px" :src="pic" alt />
                  </div>
                  <div>{{ name }}</div>
                </div>
                <div
                  class="rnkList"
                  v-for="item in everyLap"
                  :key="`${item.durationFmt}_${item.turnsNo}`"
                >{{ item.durationFmt }}</div>
                <div
                  class="rnkList"
                  v-show="len - everyLap.length > 0"
                  v-for="i in len - everyLap.length"
                  :key="i"
                ></div>
              </div>
            </div>
            <div class="rankBox_item">
              <div class="rankBox_item_circle" v-for="item in len" :key="item">{{ item }}</div>
            </div>
          </div>
          <div class="twoCard">
            <div class="cardItem">
              <h3>本月排名</h3>
              <el-table :data="MonthDataList" stripe style="width: 100%">
                <el-table-column align="center" label="名次" width="70">
                  <template #default="scope">
                    <span>{{ scope.$index + 1 }}</span>
                  </template>
                </el-table-column>
                <el-table-column align="center" label="车手" prop="name" />
                <el-table-column align="center" label="最快单圈" prop="durationFmt" />
              </el-table>
            </div>
            <div class="cardItem">
              <h3>昨日排名</h3>
              <el-table :data="ysdDataList" stripe style="width: 100%">
                <el-table-column align="center" label="名次" width="70">
                  <template #default="scope">
                    <span>{{ scope.$index + 1 }}</span>
                  </template>
                </el-table-column>
                <el-table-column align="center" label="车手" prop="name" />
                <el-table-column align="center" label="最快单圈" prop="durationFmt" />
              </el-table>
            </div>
          </div>
        </div>
      </div>
      <el-button type="primary" v-print="'#printMe'">打印</el-button>
      <el-button @click="closedialogprint">取消</el-button>
    </el-dialog>
  </teleport>
</template>

<script>
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';
import { ElMessageBox, ElMessage } from 'element-plus';
import { Search, DeleteFilled } from '@element-plus/icons'
import { onMounted, ref, reactive, watch, computed } from 'vue';
import store from '../../store';
export default {
  setup(props) {
    // 查询参数
    let formInline = reactive({
      page: 1,
      size: 10,
      startTime: "",
      endTime: "",
      clubId: ""
    })
    // 查询
    const onSubmit = () => {
      gethistorylist()
    }
    // 重置
    const onReset = () => {
      formInline.startTime = ""
      formInline.endTime = ""
      formInline.clubId = ""
      formInline.page = 1
      gethistorylist()
    }
    // 历史列表
    let tableData = ref([])
    // 实时数据列表
    const shishiData = ref([])
    // 定义最长的数组长度
    let len = ref(0)
    let total = ref(0)
    // 详情弹框
    let dialogTableVisible = ref(false)
    // 列表header样式
    const headerRow = ({ row, rowIndex }) => {
      if (rowIndex === 0) {
        return 'headerRow'
      }
    }
    // 编辑
    const handleEdit = (item, data) => {
      len.value = 0
      dialogTableVisible.value = true
      store.dispatch('realData', { gameScheduleId: data.id }).then(res => {
        if (res.data) {
          shishiData.value = res.data
          res.data.forEach(item => {
            if (item.values.length > len.value) {
              len.value = item.values.length
            }
          })
        } else {
          ElMessage({
            type: "warning",
            message: "没有开始的比赛，请新建场次"
          })
        }
      })
    }
    let selectArr = ref([])
    // 全选数据
    const selectallTable = (selection, row) => {
      selection.forEach(item => {
        selectArr.value.push(item.id)
      })
    }
    // 勾选数据
    const selectTable = (selection, row) => {
      selection.forEach(item => {
        selectArr.value.push(item.id)
      })
    }
    const onDeletemany = () => {
      deleteHistory(selectArr.value)
    }
    // 删除历史场次
    const deleteHistory = (arr) => {
      ElMessageBox.confirm(
        '该操作会删除场次?',
        '提示',
        {
          confirmButtonText: '确认',
          cancelButtonText: '取消',
          type: 'warning',
        }
      )
        .then(() => {
          store.dispatch("gameScheduleDelete", arr).then(res => {
            ElMessage({
              type: 'success',
              message: '场次已删除',
            })
            gethistorylist()
            selectArr.value = []
          })
        }).catch(() => {
          ElMessage({
            type: 'info',
            message: '已取消删除',
          })
        })
    }
    // 删除
    const handleDelete = (index, item) => {
      let arr = [item.id]
      deleteHistory(arr)
    }
    // 获取历史场次数据
    const gethistorylist = () => {
      store.dispatch("gameScheduleList", formInline).then(res => {
        tableData.value = res.rows
        total.value = res.total
      })
    }
    // 当前页
    let currentPage = ref(1)
    const handleCurrentChange = (index) => {
      formInline.page = index
      gethistorylist()
    }
    // 打印显示弹框属性
    let dialogsingleGameVisible = ref(false)
    // 单场基本信息
    let selectedOption = ref({})
    // 打印信息列表
    let printData = ref([])
    // 关闭打印窗口
    const closedialogprint = () => {
      dialogsingleGameVisible.value = false
    }
    // 周
    let ysdDataList = ref([])
    // 月
    let MonthDataList = ref([])
    // 获取打印数据
    const handlePrint = (index, row) => {
      console.log(row);
      store.dispatch("rankByPeriod", { type: "YSD", clubId: row.clubId }).then(res => {
        ysdDataList.value = res.data.splice(0, 5)
      })
      store.dispatch("rankByPeriod", { type: "M", clubId: row.clubId }).then(res => {
        MonthDataList.value = res.data.splice(0, 5)
      })
      len.value = 0
      selectedOption.value = row
      store.dispatch("getGameScheduleScore", { gameScheduleId: row.id }).then(res => {
        if (res.data) {
          dialogsingleGameVisible.value = true
          printData.value = res.data
          res.data.forEach(item => {
            if (item.everyLap.length > len.value) {
              len.value = item.everyLap.length
            }
          })
          console.log(res);
        } else {
          ElMessage({
            type: "warning",
            message: "当前场次没有数据"
          })
        }
      })
    }
    onMounted(() => {
      gethistorylist()

    })
    return {
      formInline,
      onSubmit,
      Search,
      DeleteFilled,
      headerRow,
      handleCurrentChange,
      currentPage,
      tableData,
      handleEdit,
      handleDelete,
      total,
      onReset,
      dialogTableVisible,
      shishiData,
      len,
      selectTable,
      onDeletemany,
      selectallTable,
      handlePrint,
      dialogsingleGameVisible,
      selectedOption,
      printData,
      closedialogprint,
      ysdDataList,
      MonthDataList
    }
  },
  components: {

  }
}
</script>

<style lang='less' scoped>
.historyMatch {
  width: 100%;
  height: 100%;
  .searchForm {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .searchFormBtn {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.el-table::v-deep(.headerRow th) {
  background: #2e2e2e !important;
}
.shishidata {
  // max-width: 70%;
  display: grid;
  grid-template-columns: 6rem auto;
  grid-template-rows: 4rem auto;
  background: white;
  .rankBox_item:first-child {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111;
    font-size: 1rem;
    border: 0.1px solid #f1f1f1;
  }
  .rankBox_item:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    .rankBox_item_user {
      width: 6rem;
      height: 100%;
      float: left;

      .rnk {
        width: 100%;
        height: 4rem;
        border: 0.1px solid #f1f1f1;
        border-width: 0.1px 0.1px 0.1px 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .rnkList {
        height: 1.5rem;
        width: calc(100%-0.1px);
        line-height: 1.5rem;
        border: 0.1px solid #f1f1f1;
        border-width: 0 0.1px 0.1px 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .rankBox_item:nth-child(3) {
    .rankBox_item_circle {
      height: 1.5rem;
      width: 100%;
      border: 0.1px solid #f1f1f1;
      border-width: 0 0.1px 0.1px 0.1px;
      display: flex;
      // box-sizing: border-box;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      font-weight: 600;
      line-height: 1.5rem;
    }
  }
}
.shishidataDialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userHistory {
  width: 100%;
  height: 100%;
  .gamelist {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
  }
}
.twoCard {
  display: flex;
  width: 100%;
  height: 100%;
  .cardItem {
    flex: 1;
    padding: 0 10px;
    box-sizing: border-box;
  }
  padding-bottom: 20px;
}
</style>
