<template>
  <div class="matchModule">
    <div class="searchForm">
      <el-form :inline="true" :model="formInline" class="demo-form-inline">
        <el-form-item label>
          <el-input v-model="formInline.text" placeholder="单行输入" />
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit" :icon="Search">
            <span class="cpointer">查询</span>
          </el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="searchFormBtn">
      <el-button type="success" @click="onSubmit" style="color: white" :icon="Plus">
        <span class="cpointer">新增比赛</span>
      </el-button>
      <el-button type="danger" @click="onPiliangDelete" style="color: white" :icon="DeleteFilled">
        <span class="cpointer">批量删除</span>
      </el-button>
    </div>
    <div class="tableList">
      <el-table
        :header-row-class-name="headerRow"
        @row-click="rowClickEvent"
        @select="selectRow"
        @select-all="selecAlltRow"
        :data="moduleList"
        stripe
        style="width: 100%"
      >
        <el-table-column type="selection" width="55" />
        <el-table-column label="序号" type="index" width="55" />
        <el-table-column label="比赛名称" prop="name" />
        <el-table-column label="比赛类型" prop="gameType" />
        <el-table-column label="比赛时长" prop="gameDuration" />
        <el-table-column label="赛道长度(m)" prop="raceTrack" />
        <el-table-column label="限制圈数" prop="turns" />
        <el-table-column label="防作弊时间(s)" prop="cheat" />
        <el-table-column label="状态" prop="state" />
        <el-table-column label="操作" width="230">
          <template #default="scope">
            <el-button
              type="warning"
              size="mini"
              @click.stop="handleUse(scope.$index, scope.row)"
            >{{ scope.row.state == "禁用" ? "启用" : "禁用" }}</el-button>
            <el-button
              type="primary"
              size="mini"
              @click.stop="handleEdit(scope.$index, scope.row)"
            >编辑</el-button>
            <el-button
              size="mini"
              type="danger"
              @click.stop="handleDelete(scope.$index, scope.row)"
            >删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        style="margin-top: 20px;text-align:right"
        background
        v-model:currentPage="currentPage"
        :page-size="moduleParams.size"
        layout="prev, pager, next, jumper"
        :total="totalPage"
        @current-change="handleCurrentChange"
      ></el-pagination>
    </div>
  </div>
  <teleport class="addClubform" to="body" v-if="dialogTableVisible">
    <el-dialog :title="operation + '比赛模板'" v-model="dialogTableVisible">
      <el-form ref="form" :model="addClubForm" label-width="120px">
        <el-form-item label="比赛名称">
          <el-input style="width:300px;" v-model="addClubForm.name"></el-input>
        </el-form-item>
        <el-form-item label="比赛方式">
          <el-select style="width:300px;" v-model="addClubForm.gameType" placeholder="请选择俱乐部分类">
            <el-option label="定时环道赛" value="定时环道赛"></el-option>
            <el-option label="定圈环道赛" value="定圈环道赛"></el-option>
            <el-option label="决赛" value="决赛"></el-option>
            <el-option label="新决赛" value="新决赛"></el-option>
            <el-option label="直线竞速赛" value="直线竞速赛"></el-option>
            <el-option label="直线冲速赛" value="直线冲速赛"></el-option>
            <el-option label="娱乐赛" value="娱乐赛"></el-option>
            <el-option label="短跑比赛" value="短跑比赛"></el-option>
            <el-option label="中长跑比赛" value="中长跑比赛"></el-option>
          </el-select>
          <!-- <el-input style="width:300px;" v-model="addClubForm.gameType"></el-input> -->
        </el-form-item>
        <el-form-item label="比赛时间">
          <el-date-picker
            style="width:300px;"
            value-format="YYYY-MM-DD HH:mm:ss"
            v-model="addClubForm.gmtCreate"
            type="date"
            placeholder="请选择时间段"
          ></el-date-picker>
          <!-- <el-input v-model="addClubForm.gmtCreate"></el-input> -->
        </el-form-item>
        <el-form-item label="赛道长度">
          <el-input style="width:300px;" v-model="addClubForm.raceTrack"></el-input>
          <span style="padding-left:8px" class="gray_text">(m)</span>
        </el-form-item>
        <el-form-item label="比赛时长">
          <!-- <el-input v-model="addClubForm.gameDuration"></el-input> -->
          <!-- <el-select
            style="width:300px;"
            filterable
            allow-create
            default-first-option
            :reserve-keyword="false"
            v-model="addClubForm.gameDuration"
            class="m-2"
            placeholder="请选择时间"
            size="large"
          >
            <el-option v-for="item in 99" :key="item" :label="item" :value="item"></el-option>
          </el-select>-->
          <el-time-picker style="width:300px;" value-format="HH:mm:ss" v-model="addClubForm.gameDurationStr" placeholder="请选择时长">

          </el-time-picker>

          <span style="padding-left:8px" class="gray_text">(时：分：秒)</span>
        </el-form-item>
        <el-form-item label="限制圈数">
          <el-input style="width:300px;" placeholder="0为不限制圈数" v-model="addClubForm.turns"></el-input>
          <span style="padding-left:8px" class="gray_text">(0为不限制圈数)</span>
        </el-form-item>
        <el-form-item label="防作弊时间">
          <el-input style="width:300px;" v-model="addClubForm.cheat"></el-input>
          <span style="padding-left:8px" class="gray_text">(s)</span>
        </el-form-item>
        <el-form-item label="备注">
          <el-input v-model="addClubForm.remark" type="textarea"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onAddModuleSubmit">确认</el-button>
          <el-button @click="closemoduleAdd">取消</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </teleport>
</template>

<script>
import { useStore } from 'vuex';
import { ElMessage, ElMessageBox } from 'element-plus'
import { useRouter } from 'vue-router';
import { onMounted, ref, reactive, watch, computed } from 'vue';
import { Search, Plus, DeleteFilled } from '@element-plus/icons'
export default {
  setup(props) {
    const store = useStore()
    let dialogTableVisible = ref(false)
    const onSubmit = () => {
      dialogTableVisible.value = true
      operation.value = "新增"
    }
    let addClubForm = reactive({
      name: '',
      cheat: '',
      gameDurationStr: '',
      gameType: '',
      gmtCreate: '',
      raceTrack: '',
      turns: '',
      remark: ''
    })
    let formInline = reactive({
      text: '',
      club: ''
    })
    const moduleList = ref([])
    // 处理方式
    let operation = ref('')
    // 分页参数
    let moduleParams = {
      "page": 1,
      "size": 10,
      "name": ""
    }
    // 当前页
    let currentPage = ref(1)
    let totalPage = ref(0)
    const handleCurrentChange = (page) => {
      currentPage.value = page
      moduleParams.page = page
      gameTemplateList()
    }
    const headerRow = ({ row, rowIndex }) => {
      if (rowIndex === 0) {
        return 'headerRow'
      }
    }
    // 编辑
    const handleEdit = (index, row) => {
      dialogTableVisible.value = true
      operation.value = "编辑"
      console.log(row)
      addClubForm.name = row.name
      addClubForm.id = row.id
      addClubForm.cheat = row.cheat
      addClubForm.gameDurationStr = row.gameDurationStr
      addClubForm.gameType = row.gameType
      addClubForm.gmtCreate = row.gmtCreate
      addClubForm.raceTrack = row.raceTrack
      addClubForm.turns = row.turns
      addClubForm.remark = row.remark
    }
    const handleUse = (index, row) => {
      ElMessageBox.confirm(
        '该操作会改变模板状态?',
        '提示',
        {
          confirmButtonText: '确认',
          cancelButtonText: '取消',
          type: 'warning',
        }
      )
        .then(() => {
          if (row.state == "禁用") {
            store.dispatch('templateEnable', [row.id]).then(res => {
              if (res.code == 200) {
                ElMessage({
                  message: '启用成功',
                  type: 'success',
                })
                gameTemplateList()
                // selectionArr.value = []
              } else {
                ElMessage({
                  message: res.message,
                  type: 'warning',
                })
              }
            })
          } else {
            store.dispatch('templateDisabled', [row.id]).then(res => {
              if (res.code == 200) {
                ElMessage({
                  message: '禁用成功',
                  type: 'success',
                })
                gameTemplateList()
                // selectionArr.value = []
              } else {
                ElMessage({
                  message: res.message,
                  type: 'warning',
                })
              }
            })
          }

        }).catch(() => {
          ElMessage({
            type: 'info',
            message: '已取消',
          })
        })
    }
    // 删除
    const handleDelete = (index, row) => {
      ElMessageBox.confirm(
        '该操作会删除模板?',
        '提示',
        {
          confirmButtonText: '确认',
          cancelButtonText: '取消',
          type: 'warning',
        }
      )
        .then(() => {
          store.dispatch('gameTemplateDelete', [row.id]).then(res => {
            if (res.code == 200) {
              ElMessage({
                message: '删除成功',
                type: 'success',
              })
              gameTemplateList()
              closemoduleAdd()
            } else {
              ElMessage({
                message: res.message,
                type: 'warning',
              })
            }
          })
        }).catch(() => {
          ElMessage({
            type: 'info',
            message: '已取消删除',
          })
        })
    }
    // 勾选列表
    let selectionArr = ref([])
    // 勾选row
    const selectRow = (selection, row) => {
      selectionArr.value = selection.map(item => {
        return item.id
      })

    }
    // 获取比赛模板列表
    const gameTemplateList = () => {
      store.dispatch('gameTemplateList', moduleParams).then(res => {
        moduleList.value = res.rows
        totalPage.value = res.total
      })
    }
    const onAddModuleSubmit = () => {
      if (operation.value == "新增") {
        store.dispatch('gameTemplateSave', addClubForm).then(res => {
          if (res.code == 200) {
            ElMessage({
              message: '添加成功',
              type: 'success',
            })
            gameTemplateList()
            closemoduleAdd()
          } else {
            ElMessage({
              message: res.message,
              type: 'warning',
            })
          }
        })
      } else {
        store.dispatch('gameTemplateUpdate', addClubForm).then(res => {
          if (res.code == 200) {
            ElMessage({
              message: '修改成功',
              type: 'success',
            })
            gameTemplateList()
            closemoduleAdd()
          } else {
            ElMessage({
              message: res.message,
              type: 'warning',
            })
          }
        })
      }
    }
    // 全选row
    const selecAlltRow = (selection) => {
      selectionArr.value = selection.map(item => {
        return item.id
      })
    }

    // 批量删除
    const onPiliangDelete = () => {
      ElMessageBox.confirm(
        '该操作会删除模板?',
        '提示',
        {
          confirmButtonText: '确认',
          cancelButtonText: '取消',
          type: 'warning',
        }
      )
        .then(() => {
          store.dispatch('gameTemplateDelete', selectionArr.value).then(res => {
            ElMessage({
              type: 'success',
              message: '模板已删除',
            })
            gameTemplateList()
            selectionArr.value = []
          })
        }).catch(() => {
          ElMessage({
            type: 'info',
            message: '已取消删除',
          })
        })
    }
    const closemoduleAdd = () => {
      dialogTableVisible.value = false
      addClubForm.name = ''
      addClubForm.cheat = ''
      addClubForm.gameDurationStr = ''
      addClubForm.gameType = ''
      addClubForm.gmtCreate = ''
      addClubForm.raceTrack = ''
      addClubForm.turns = ''
      addClubForm.remark = ''
    }
    onMounted(() => {
      gameTemplateList()
    })
    return {
      onSubmit,
      formInline,
      Search,
      Plus,
      DeleteFilled,
      headerRow,
      handleCurrentChange,
      currentPage,
      handleEdit,
      handleDelete,
      dialogTableVisible,
      addClubForm,
      totalPage,
      moduleList,
      moduleParams,
      onAddModuleSubmit,
      closemoduleAdd,
      operation,
      ElMessageBox,
      selectRow,
      selecAlltRow,
      onPiliangDelete,
      handleUse

    }
  },
  components: {

  }
}
</script>

<style lang='less' scoped>
.gray_text {
  color: #ccc;
}
.matchModule {
  width: 100%;
  height: 100%;
  .searchForm {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .searchFormBtn {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.el-table::v-deep(.headerRow th) {
  background: #2e2e2e !important;
}
</style>
