<template>
  <div class="palyerSearch">
    <div class="searchForm">
      <el-form :inline="true" :model="formLine" class="demo-form-inline">
        <el-form-item label="用户姓名">
          <el-input v-model="formLine.keyword" placeholder="请输入用户名称/电话" />
        </el-form-item>
        <el-form-item label="所在俱乐部">
          <el-input v-model="formLine.clubName" placeholder="请输入俱乐部" />
        </el-form-item>
        <el-form-item label="时间选择">
          <el-date-picker
            value-format="YYYY-MM-DD HH:mm:ss"
            v-model="formLine.startTime"
            type="date"
            placeholder="请选择开始时间"
          ></el-date-picker>
        </el-form-item>
        <el-form-item label="-">
          <el-date-picker
            value-format="YYYY-MM-DD HH:mm:ss"
            v-model="formLine.endTime"
            type="date"
            placeholder="请选择结束时间"
          ></el-date-picker>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit" :icon="Search">
            <span class="cpointer">查询</span>
          </el-button>
          <el-button type="primary" @click="onReset">
            <span class="cpointer">重置</span>
          </el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="searchFormBtn">
      <!-- <el-button type="danger" @click="onSubmit" style="color: white" :icon="Printer">
        <span class="cpointer">打印个人单场成绩单</span>
      </el-button>-->
      <el-button color="#5c51ff" @click="onPrint" style="color: white" :icon="Printer">
        <span class="cpointer">打印个人历史成绩单</span>
      </el-button>
    </div>
    <div class="tableList">
      <el-table
        :header-row-class-name="headerRow"
        @select="selectRow"
        :data="tableData"
        stripe
        style="width: 100%"
      >
        <el-table-column type="selection" width="55" />
        <el-table-column label="车手ID" prop="id" />
        <el-table-column label="用户姓名" prop="name" />
        <el-table-column label="用户姓名" prop="name">
          <template #default="scope">
            <img :src="scope.row.pic" style="width:2rem" alt />
          </template>
        </el-table-column>
        <el-table-column label="性别" prop="sex" />
        <el-table-column show-overflow-tooltip label="注册手机" prop="phone" />
        <el-table-column show-overflow-tooltip label="地址" prop="address" />
        <el-table-column show-overflow-tooltip label="所在俱乐部" prop="clubName" />
        <el-table-column label="状态" prop="state" />
        <el-table-column label="备注" prop="name" />
      </el-table>
      <el-pagination
        style="margin-top: 20px;text-align:right;"
        background
        :page-size="formLine.size"
        layout="prev, pager, next, jumper"
        :total="totalPage"
        @current-change="handleCurrentChange"
      ></el-pagination>
    </div>
  </div>
  <teleport class="historyrecord" to="body" v-if="dialoghistoryVisible">
    <el-dialog
      title="历史成绩"
      v-model="dialoghistoryVisible"
      :show-close="false"
      :close-on-click-modal="false"
    >
      <div id="printMe" class="userHistory">
        <p>选手名称：{{ selectedOption[0].name }}</p>
        <p>选手所在俱乐部：{{ selectedOption[0].clubName }}</p>
        <p>最新比赛时间：{{ selectedOption[0].gmtCreate }}</p>
        <div class="gamelist">
          <el-table
            :header-row-class-name="headerRow"
            @select="selectRow"
            :data="userhistorylist"
            stripe
            style="width: 100%"
          >
            <el-table-column align="center" show-overflow-tooltip label="比赛名称" prop="gameScheduleName"  width="100" />
            <el-table-column align="center" show-overflow-tooltip label="比赛方式" prop="gameType" width="100" />
            <el-table-column align="center" label="车号" prop="clubCarNo" width="80" />
            <el-table-column align="center" label="总圈数" prop="totalTurns"  width="80" />
            <el-table-column align="center" label="总时间" prop="totalDurationFmt" width="70" />
            <el-table-column align="center" label="最佳单圈" prop="durationFmt" width="80" />
            <el-table-column align="center" label="场次" prop="gameScheduleId" width="100" />
            <el-table-column align="center" show-overflow-tooltip label="日期" prop="startFmt" width="110" />
          </el-table>
        </div>
      </div>
      <el-button type="primary" v-print="'#printMe'">打印</el-button>
      <el-button @click="closedialogprint">取消</el-button>
    </el-dialog>
  </teleport>
</template>

<script>
import { Printer, ArrowLeft, RefreshRight, Remove, DeleteFilled, Plus, Download, Search } from '@element-plus/icons'
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';
import { onMounted, ref, reactive, watch, computed } from 'vue';
import { ElMessage } from 'element-plus';
export default {
  setup(props) {
    let formInline = reactive({
      text: '',
      time: null
    })
    let userMark = ref('')
    let store = useStore()
    const tableData = ref([])
    // 当前页
    let currentPage = ref(1)
    // 切换页码
    const handleCurrentChange = (page) => {
      formLine.value.page = page
      getUserList()
    }

    // 根据条件查询
    const onSubmit = () => {
      getUserList()
    }
    // 根据重置
    const onReset = () => {
      formLine.value = {
        page: 1,
        size: 10,
        startTime: "",
        endTime: "",
        clubName: "",
        keyword: ""
      }
      getUserList()
    }
    // 编辑
    const handleEdit = () => {

    }
    // 删除
    const handleDelete = () => {

    }
    // 列表请求参数
    let formLine = ref({
      page: 1,
      size: 10,
      startTime: "",
      endTime: "",
      clubName: "",
      keyword: ""
    })
    let totalPage = ref(0)
    // 获取用户列表
    const getUserList = () => {
      store.dispatch("clubUserList", formLine.value).then(res => {
        tableData.value = res.rows
        totalPage.value = res.total
      })
    }
    const headerRow = ({ row, rowIndex }) => {
      if (rowIndex === 0) {
        return 'headerRow'
      }
    }
    // 关闭打印弹框
    const closedialogprint = () =>{
      dialoghistoryVisible.value = false
    }
    let selectedOption = ref([])
    // 单选某行
    const selectRow = (selection, row) => {
      // console.log(selection, row);
      selectedOption.value = selection
      // if(selection.length>1){
      //   ElMessage({
      //     type:'warning',
      //     message:"请勾选一个选手进行打印"
      //   })
      // }else if(selection.length==1){
      //   console.log(row);
      //   store.dispatch("printUserHistory",{userId:row.id})
      // }else{
      //   console.log(111);
      // }
    }
    let dialoghistoryVisible = ref(false)
    // 个人历史成绩
    let userhistorylist = ref([])
    // 打印历史成绩
    const onPrint = () => {
      console.log(selectedOption.value);
      if (selectedOption.value.length > 1) {
        ElMessage({
          type: 'warning',
          message: "请勾选一个选手进行打印"
        })
      } else if (selectedOption.value.length == 1) {
        store.dispatch("printUserHistory", { userId: selectedOption.value[0].id }).then(res => {
          if (res.data) {
            dialoghistoryVisible.value = true
            userhistorylist.value = res.data.list
          } else {
            ElMessage({
              type: 'warning',
              message: "当前用户暂无历史成绩"
            })
          }
        })  //selectedOption.value[0].id
      } else {
        console.log(111);
      }
    }
    onMounted(() => {
      getUserList()
    })
    return {
      formInline,
      onSubmit,
      RefreshRight,
      Remove,
      DeleteFilled,
      Download,
      Search,
      onReset,
      headerRow,
      tableData,
      handleCurrentChange,
      currentPage,
      handleEdit,
      handleDelete,
      userMark,
      Plus,
      ArrowLeft,
      Printer,
      formLine,
      getUserList,
      totalPage,
      selectRow,
      onPrint,
      dialoghistoryVisible,
      closedialogprint,
      userhistorylist,
      selectedOption
    }
  },
  components: {

  }
}
</script>

<style lang='less' scoped>
.palyerSearch {
  width: 100%;
  height: 100%;

  .searchForm {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .searchFormBtn {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.userBaseInfo {
  margin: -10px auto 0;
  width: 80%;
  height: 250px;

  .userIcon {
    height: 50px;
    width: 50px;
    background: coral;
    border-radius: 50%;
  }
  .userinfo {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4, 40px);
    .userinfoItem {
      line-height: 40px;
    }
  }
  .userMark {
    height: 40px;
  }
}
.expenseList {
  margin-top: 30px;
}

.el-table::v-deep(.headerRow th) {
  background: #2e2e2e !important;
}
.userHistory {
  width: 100%;
  height: 100%;
  .gamelist{
    padding-bottom: 20px; 
  }
}
</style>

