<template>
  <div class="systemFirstpage">
    <el-alert center show-icon :title="headerTitle" type="success" />
    <div class="searchForm">
      <el-form :inline="true" :model="formInline" class="demo-form-inline">
        <el-form-item label="时间">
          <el-date-picker v-model="formInline.time" type="date" placeholder="请选择时间段"></el-date-picker>
        </el-form-item>
        <el-form-item label="所属俱乐部">
          <el-select v-model="formInline.region" placeholder="默认为所有俱乐部">
            <el-option label="Zone one" value="shanghai"></el-option>
            <el-option label="Zone two" value="beijing"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit" :icon="Search">
            <span class="cpointer">查询</span>
          </el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="statistics">
      <div
        class="statisticsItem"
        v-for="({ title, number, color, icon },index) in statisticsList"
        :key="index"
      >
        <div class="statisticsItem_icon" :style="`background:${color}`">
          <img :src="icon" alt />
        </div>
        <div class="statisticsItem_number">
          <div class="statisticsItem_count">{{ number }}</div>
          <div>{{ title }}</div>
        </div>
      </div>
    </div>
    <div class="statisticList">
      <div class="statisticsItem" v-for="item in 3" :key="item">
        <div class="statisticsInfo">用户登录统计信息</div>
        <div class="statisticsInfo">
          <div class="staName">注册用户登录</div>
          <div class="staCount">
            <span style="color:#ff9800">3435</span>
            <span>次</span>
          </div>
        </div>
        <div class="statisticsInfo">
          <div class="staName">注册用户登录</div>
          <div class="staCount">
            <span style="color:#ff9800">3435</span>
            <span>次</span>
          </div>
        </div>
        <div class="statisticsInfo">
          <div class="staName">注册用户登录</div>
          <div class="staCount">
            <span style="color:#ff9800">3435</span>
            <span>次</span>
          </div>
        </div>
        <div class="statisticsInfo">
          <div class="staName">注册用户登录</div>
          <div class="staCount">
            <span style="color:#ff9800">3435</span>
            <span>次</span>
          </div>
        </div>
        <div class="statisticsInfo">
          <div class="staName">注册用户登录</div>
          <div class="staCount">
            <span style="color:#ff9800">3435</span>
            <span>次</span>
          </div>
        </div>
      </div>
      <div class="statisticsItem">
        <div class="statisticsInfo">最新消息</div>
        <div class="statisticsInfo">
          <div class="staIcon">
            <Bell style="width: 1.5em; height: 1.5em;color:#ff6060" />
          </div>
          <div class="staInfo">
            <p ref="scrollRef">b版本升级说明b版本升级说明b版本升级说明b版本升级说明</p>
          </div>
        </div>
        <div class="statisticsInfo">
          <div class="staIcon">
            <Bell style="width: 1.5em; height: 1.5em;color:#ff6060" />
          </div>
          <div class="staInfo">b版本升级说明</div>
        </div>
        <div class="statisticsInfo">
          <div class="staIcon">
            <Bell style="width: 1.5em; height: 1.5em;color:#ff6060" />
          </div>
          <div class="staInfo">b版本升级说明</div>
        </div>
        <div class="statisticsInfo">
          <div class="staIcon">
            <Bell style="width: 1.5em; height: 1.5em;color:#ff6060" />
          </div>
          <div class="staInfo">b版本升级说明</div>
        </div>
        <div class="statisticsInfo">
          <div class="staIcon">
            <Bell style="width: 1.5em; height: 1.5em;color:#ff6060" />
          </div>
          <div class="staInfo">b版本升级说明</div>
        </div>
      </div>
    </div>
    <div class="moduleList">
      <div
        class="moduleItem"
        v-for="({ title, icon, color },index) in moduleList"
        :key="index"
        :style="`background:${color}`"
      >
        <img :src="icon" alt />
        <div style="color:white">{{ title }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';
import { onMounted, ref, reactive, watch, computed, onBeforeUnmount } from 'vue';
import user from '@/assets/images/user.jpg'
import fache from '@/assets/images/fache.jpg'
import shopping from '@/assets/images/shopping.jpg'
import video from '@/assets/images/video.jpg'
// 文字滚动插件

import { Search, Bell } from '@element-plus/icons'
import firstpage_1 from '@/assets/images/firstpage_1.jpg'
import firstpage_2 from '@/assets/images/firstpage_2.jpg'
import firstpage_3 from '@/assets/images/firstpage_3.jpg'
import firstpage_4 from '@/assets/images/firstpage_4.jpg'
import firstpage_5 from '@/assets/images/firstpage_5.jpg'
import firstpage_6 from '@/assets/images/firstpage_6.jpg'
import firstpage_7 from '@/assets/images/firstpage_7.jpg'
export default {
  setup(props) {
    let headerTitle = ref('')
    let version = ref(1.2)
    let formInline = reactive({
      time: '',
      region: ''
    })


    let statisticsList = reactive([
      { title: '赛场用户', number: 34522, color: '#36cfca', icon: user },
      { title: '发车流量', number: 140, color: '#fd4d4f', icon: fache },
      { title: '商城订单', number: 345, color: '#ffc53d', icon: shopping },
      { title: '视频交易记录', number: 200000, color: '#42a7ff', icon: video }
    ])
    let moduleList = reactive([
      { title: '赛场用户', icon: firstpage_1, color: '#36cfca' },
      { title: '发车流量', icon: firstpage_2, color: '#597cf4' },
      { title: '商城订单', icon: firstpage_3, color: '#ff7a45' },
      { title: '视频交易', icon: firstpage_4, color: '#42a7ff' },
      { title: '视频交易', icon: firstpage_5, color: '#9253df' },
      { title: '视频交易', icon: firstpage_6, color: '#73d13d' },
      { title: '视频交易', icon: firstpage_7, color: '#ffa940' },
    ])
    const onSubmit = () => {

    }
    onMounted(() => {
      headerTitle.value = `欢迎使用后台管理系统(v${version.value}),您本次登录时间为${new Date().toLocaleDateString().replace(/(\/)/g, '-')} ${new Date().toLocaleTimeString().split(':').splice(0, 2).join(':')},登录IP：${location.hostname}`

    })
    onBeforeUnmount(()=>{

    })
    return {
      headerTitle,
      version,
      formInline,
      onSubmit,
      Search,
      statisticsList,
      moduleList,
    }
  },
  data(){
    return{
      l:100,
      timer:null
    }
  },
  mounted() {
    if(this.timer){
      clearInterval(this.timer)
    }
    let textWidth = this.$refs['scrollRef'].innerHTML.length * 16
    this.$refs['scrollRef'].style.marginLeft = `${this.l}px`
    
    this.timer = setInterval(() => {
      if(textWidth>230){ 
        if(this.l < -textWidth){
          this.l = 100
        }else{
           this.$refs['scrollRef'].style.marginLeft= `${this.l--}px`
        }
      }
    }, 100)
  },
  beforeUnmount(){
    clearInterval(this.timer)
  },
  components: {
    Bell,

  }
}
</script>

<style lang='less' scoped>
.systemFirstpage {
  width: 100%;
  height: 100%;
  .searchForm {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .statistics {
    height: 100px;
    width: 100%;
    display: flex;
    .statisticsItem {
      flex: 1;
      border-radius: 5px;
      border: 1px solid #ccc;
      width: 23.875%;
      margin-right: 1.5%;
      display: flex;
      .statisticsItem_icon {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .statisticsItem_number {
        flex: 2;
        .statisticsItem_count {
          font-size: 25px;
          line-height: 60px;
        }
      }
    }
    .statisticsItem:last-child {
      margin: 0;
    }
  }
  .statisticList {
    height: 250px;
    width: 100%;
    display: flex;
    margin-top: 25px;
    .statisticsItem {
      flex: 1;
      border-radius: 5px;
      border: 1px solid #ccc;
      width: 23.875%;
      margin-right: 1.5%;
      display: flex;
      flex-direction: column;
      .statisticsInfo {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 0.5px solid #ebebeb;
        .staName {
          flex: 1;
          text-align: center;
        }
        .staCount {
          flex: 1;
          text-align: center;
        }
      }
      .statisticsInfo:first-child {
        background: #f6f6f7;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 20px;
        font-weight: 800;
        box-sizing: border-box;
      }
      .statisticsInfo:last-child {
        border: none;
      }
    }
    .statisticsItem:last-child {
      margin: 0;
      display: flex;
      flex-direction: column;
      .statisticsInfo {
        display: grid;
        grid-template-columns: 50px calc(100% - 50px);
        grid-template-rows: 100%;
        overflow: hidden;
        .staIcon {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .staInfo {
          width: 100%;
          text-align: left;
          overflow: hidden;

          p {
            white-space: nowrap;
            margin-left: 0px;
          }
        }
      }
      .statisticsInfo:first-child {
        grid-template-columns: 100%;
        text-align: left;
      }
    }
  }
  .moduleList {
    width: 100%;
    height: 100px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;

    .moduleItem {
      margin-right: 25px;
      width: 140px;
      height: 100%;
      background: chocolate;
      border-radius: 5px;
      cursor: pointer;
      transition: margin 0.5s;
      img {
        display: block;
        width: 40px;
        height: 40px;
        margin: 15px auto 5px;
      }
    }
    .moduleItem:hover {
      margin-top: -5px;
    }
  }
}
.cpointer {
  cursor: pointer;
}
</style>
