<template>
  <div class='systemSetting'>
      系统管理
  </div>
</template>

<script>
import {useStore} from 'vuex';
import {useRouter} from 'vue-router';
import {onMounted, ref, reactive, watch, computed} from 'vue';
export default {
  setup(props) {
    return {

    }
  },
  components: {

  }
}
</script>

<style lang='less' scoped>

</style>
