<template>
  <div class="userManage">
    <div class="searchForm">
      <el-form :inline="true" :model="formLine" class="demo-form-inline">
        <el-form-item label="用户姓名">
          <el-input v-model="formLine.keyword" placeholder="请输入用户名称/电话" />
        </el-form-item>
        <el-form-item label="所在俱乐部">
          <el-input v-model="formLine.clubName" placeholder="请输入俱乐部" />
        </el-form-item>
        <el-form-item label="时间选择">
          <el-date-picker
            value-format="YYYY-MM-DD HH:mm:ss"
            v-model="formLine.startTime"
            type="date"
            placeholder="请选择开始时间"
          ></el-date-picker>
        </el-form-item>
        <el-form-item label="-">
          <el-date-picker
            value-format="YYYY-MM-DD HH:mm:ss"
            v-model="formLine.endTime"
            type="date"
            placeholder="请选择结束时间"
          ></el-date-picker>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit" :icon="Search">
            <span class="cpointer">查询</span>
          </el-button>
          <el-button type="primary" @click="onReset">
            <span class="cpointer">重置</span>
          </el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="searchFormBtn">
      <el-button color="#626aef" @click="onStart" style="color: white" :icon="RefreshRight">
        <span class="cpointer">批量启用</span>
      </el-button>
      <el-button type="warning" @click="onDisable" style="color: white" :icon="Remove">
        <span class="cpointer">批量禁用</span>
      </el-button>
      <el-button type="danger" @click="onPiliangDelete" style="color: white" :icon="DeleteFilled">
        <span class="cpointer">批量删除</span>
      </el-button>
      <el-button type="primary" @click="onSubmit" style="color: white" :icon="Download">
        <span class="cpointer">打印报表</span>
      </el-button>
    </div>
    <div class="tableList">
      <el-table
        :header-row-class-name="headerRow"
        @row-click="rowClickEvent"
        @select="selectRow"
        @select-all="selecAlltRow"
        :data="tableData"
        stripe
        style="width: 100%"
      >
        <el-table-column type="selection" width="55" />
        <el-table-column label="车手ID" prop="id" />
        <el-table-column label="用户姓名" prop="name" />
        <el-table-column label="用户姓名" prop="name">
          <template #default="scope">
            <img :src="scope.row.pic" style="width:2rem" alt="">
          </template>
        </el-table-column>
        <el-table-column label="性别" prop="sex" />
        <el-table-column show-overflow-tooltip label="注册手机" prop="phone" />
        <el-table-column show-overflow-tooltip label="地址" prop="address" />
        <el-table-column show-overflow-tooltip label="所在俱乐部" prop="clubName" />
        <el-table-column label="状态" prop="state" />
        <el-table-column label="操作" width="300">
          <template #default="scope">
            <!-- <el-button
              type="warning"
              size="mini"
              @click.stop="handleDisable(scope.$index, scope.row)"
            >禁用</el-button>-->
            <el-button
              type="primary"
              size="mini"
              @click.stop="handleEdit(scope.$index, scope.row)"
            >编辑</el-button>
            <el-button
              size="mini"
              type="danger"
              @click.stop="handleDelete(scope.$index, scope.row)"
            >删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        style="margin-top: 20px;text-align:right;"
        background
        :page-size="formLine.size"
        layout="prev, pager, next, jumper"
        :total="totalPage"
        @current-change="handleCurrentChange"
      ></el-pagination>
    </div>
    <teleport class="SingleUser" to="body" v-if="showDetailDialog">
      <el-dialog v-model="showDetailDialog" title="用户详情">
        <div class="userBaseInfo">
          <div class="userIcon">
            <img :src="singleUserInfo.pic" style="width:100%" alt />
          </div>
          <div class="userinfo">
            <div class="userinfoItem">车手ID：{{ singleUserInfo.id }}</div>
            <div class="userinfoItem">赛车手等级：{{ singleUserInfo.driverLevel || '-' }}</div>
            <div class="userinfoItem">电话：{{ singleUserInfo.phone }}</div>
            <div class="userinfoItem">状态：{{ singleUserInfo.state }}</div>
            <div class="userinfoItem">累计消费：-</div>
            <div class="userinfoItem"></div>
            <div class="userinfoItem">消费积分：{{ singleUserInfo.useScore || '-' }}</div>
            <div class="userinfoItem">
              <el-button type="warning" disabled :icon="Plus" size="mini">充值积分</el-button>
              <el-button color="#5c51ff" disabled type="warning" size="mini">扣除积分</el-button>
            </div>
          </div>
          <div class="userMark">
            <el-input
              disabled
              v-model="userMark"
              :autosize="{ minRows: 2, maxRows: 4 }"
              type="textarea"
              placeholder="备注,回车确认"
            ></el-input>
          </div>
        </div>
        <div class="expenseList">
          <el-button type="primary" :icon="ArrowLeft" size="mini">消费记录</el-button>
          <el-table
            :header-row-class-name="headerRow"
            stripe
            :data="tableDatas"
            border
            style="width: 100%"
          >
            <el-table-column prop="date" label="日期" />
            <el-table-column prop="name" label="所购商品" />
            <el-table-column prop="name" label="数量" />
            <el-table-column prop="name" label="总和" />
            <el-table-column prop="name" label="消费金额" />
            <el-table-column prop="name" label="单号" />
            <el-table-column prop="name" label="操作员" />
          </el-table>
        </div>
      </el-dialog>
    </teleport>
    <teleport class="SingleUser" to="body" v-if="dialogTableVisible">
      <el-dialog
        title="修改用户信息"
        v-model="dialogTableVisible"
        :show-close="false"
        :close-on-click-modal="false"
      >
        <el-form ref="form" :model="editForm" :rules="rules" label-width="120px">
          <el-form-item label="俱乐部名称" prop="name">
            <el-input style="width:300px;" v-model="editForm.name"></el-input>
          </el-form-item>

          <el-form-item label="俱乐部地址" prop="address">
            <el-input style="width:300px;" v-model="editForm.address"></el-input>
          </el-form-item>

          <el-form-item label="俱乐部APPlogo">
            <div class="uploadBOX">
              <div
                class="imgListBox"
                style="margin-left:10px"
                v-for="({ pic },index) in logoList"
                :key="index"
              >
                <img :src="pic" alt />
                <div class="deleteImg">
                  <DeleteFilled
                    @click="deleteImg(index)"
                    style="width:2rem;color:white;cursor:pointer"
                  />
                </div>
              </div>

              <el-upload
                class="uploadIMg_el"
                action="/karting/club/upload"
                list-type="picture"
                :file-list="logoList"
                :show-file-list="false"
                :on-success="getFile"
                :limit="1"
              >
                <img class="uploadIMg" :src="uploadLogo" alt />
              </el-upload>
            </div>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="onEditSubmit">确认</el-button>
            <el-button @click="closedialogTable">取消</el-button>
          </el-form-item>
        </el-form>
      </el-dialog>
    </teleport>
  </div>
</template>

<script>
import uploadLogo from '@/assets/images/Snipaste_2021-12-12_13-15-52.jpg'
import { ArrowLeft, RefreshRight, Remove, DeleteFilled, Plus, Download, Search } from '@element-plus/icons'
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';
import { onMounted, ref, reactive, watch, computed } from 'vue';
import store from '../../store';
import { ElMessageBox, ElMessage } from 'element-plus';
export default {
  setup(props) {
    let userMark = ref('')
    // 详情弹框显示属性
    let showDetailDialog = ref(false)
    // 用户列表
    const tableData = ref([])
    // 消费记录
    const tableDatas = ref([])
    // 当前页
    let currentPage = ref(1)
    // 编辑弹框显示属性
    let dialogTableVisible = ref(false)
    // 头像
    let logoList = ref([])
    // 修改属性
    let editForm = ref({})
    const handleSizeChange = () => {

    }
    // 上传头像图片
    const getFile = (response, file, fileList) => {
      console.log(response);
      console.log(fileList);
      logoList.value = [{ pic: response.data.url + response.data.fileName }]
      editForm.value.pic = response.data.url + response.data.fileName
    }
    // 删除头像图片
    const deleteImg = (index) => {
      logoList.value.splice(index, 1)
      editForm.value.pic = ''
    }
    // 切换页码
    const handleCurrentChange = (page) => {
      formLine.value.page = page
      getUserList()
    }
    // 获取用户列表
    const getUserList = () => {
      store.dispatch("clubUserList", formLine.value).then(res => {
        tableData.value = res.rows
        totalPage.value = res.total
      })
    }
    // 用户详情
    let singleUserInfo = ref({})
    // 点击行
    const rowClickEvent = (row, column, event) => {
      showDetailDialog.value = true
      console.log(row);
      store.dispatch("clubUserDetail", { id: row.id }).then(res => {
        singleUserInfo.value = res.data
      })
    }
    // 关闭弹框
    const closedialogTable = () => {
      dialogTableVisible.value = false
      editForm.value = {}
      logoList.value.splice(index, 1)
    }
    // 根据条件查询
    const onSubmit = () => {
      getUserList()
    }
    // 勾选列表
    let selectionArr = ref([])
    // 勾选row
    const selectRow = (selection, row) => {
      selectionArr.value = selection.map(item => {
        return item.id
      })

    }
    // 全选row
    const selecAlltRow = (selection) => {
      selectionArr.value = selection.map(item => {
        return item.id
      })
    }
    // 批量删除
    const onPiliangDelete = () => {
      ElMessageBox.confirm(
        '该操作会删除车手?',
        '提示',
        {
          confirmButtonText: '确认',
          cancelButtonText: '取消',
          type: 'warning',
        }
      )
        .then(() => {
          store.dispatch('clubUserDelete', selectionArr.value).then(res => {
            ElMessage({
              type: 'success',
              message: '车手已删除',
            })
            getUserList()
            selectionArr.value = []
          })
        }).catch(() => {
          ElMessage({
            type: 'info',
            message: '已取消删除',
          })
        })
    }
    // 批量启用
    const onStart = () => {
      ElMessageBox.confirm(
        '该操作会批量启用车手?',
        '提示',
        {
          confirmButtonText: '确认',
          cancelButtonText: '取消',
          type: 'warning',
        }
      )
        .then(() => {
          store.dispatch('clubUserEnable', selectionArr.value).then(res => {
            ElMessage({
              type: 'success',
              message: '车手已启用',
            })
            getUserList()
            selectionArr.value = []
          })
        }).catch(() => {
          ElMessage({
            type: 'info',
            message: '已取消启用',
          })
        })
    }
    // 批量禁用
    const onDisable = () => {
      ElMessageBox.confirm(
        '该操作会批量禁用车手?',
        '提示',
        {
          confirmButtonText: '确认',
          cancelButtonText: '取消',
          type: 'warning',
        }
      )
        .then(() => {
          store.dispatch('clubUserDisabled', selectionArr.value).then(res => {
            ElMessage({
              type: 'success',
              message: '车手已禁用',
            })
            getUserList()
            selectionArr.value = []
          })
        }).catch(() => {
          ElMessage({
            type: 'info',
            message: '已取消禁用',
          })
        })
    }
    // 根据重置
    const onReset = () => {
      formLine.value = {
        page: 1,
        size: 10,
        startTime: "",
        endTime: "",
        clubName: "",
        keyword: ""
      }
      getUserList()
    }
    // 编辑
    const handleEdit = (index, data) => {
      editForm.value = data
      dialogTableVisible.value = true
      if (data.pic) {
        logoList.value = [{ pic: data.pic }]
      }
    }
    // 提交编辑信息
    const onEditSubmit = () => {
      console.log(editForm.value);
      store.dispatch("clubUserUpdate",editForm.value).then(res=>{
        if(res.code==200){
          getUserList()
          ElMessage({
            type:"success",
            message:"编辑成功"
          })
          closedialogTable()
        }else{
           ElMessage({
            type:"warning",
            message:"编辑失败"
          })
        }
      })
    }
    // 删除
    const handleDelete = (index, data) => {
      ElMessageBox.confirm(
        '该操作会删除车手?',
        '提示',
        {
          confirmButtonText: '确认',
          cancelButtonText: '取消',
          type: 'warning',
        }
      )
        .then(() => {
          store.dispatch('clubUserDelete', [data.id]).then(res => {
            ElMessage({
              type: 'success',
              message: '车手已删除',
            })
            getUserList()
          })
        }).catch(() => {
          ElMessage({
            type: 'info',
            message: '已取消删除',
          })
        })
    }

    const headerRow = ({ row, rowIndex }) => {
      if (rowIndex === 0) {
        return 'headerRow'
      }
    }
    let formLine = ref({
      page: 1,
      size: 10,
      startTime: "",
      endTime: "",
      clubName: "",
      keyword: ""
    })
    let totalPage = ref(0)
    onMounted(() => {
      getUserList()
    })
    return {
      formLine,
      onSubmit,
      RefreshRight,
      Remove,
      DeleteFilled,
      Download,
      Search,
      headerRow,
      tableData,
      handleSizeChange,
      handleCurrentChange,
      currentPage,
      rowClickEvent,
      handleEdit,
      handleDelete,
      showDetailDialog,
      userMark,
      Plus,
      ArrowLeft,
      totalPage,
      dialogTableVisible,
      onReset,
      selectRow,
      selecAlltRow,
      onPiliangDelete,
      onStart,
      onDisable,
      singleUserInfo,
      tableDatas,
      logoList,
      getFile,
      deleteImg,
      editForm,
      editForm,
      uploadLogo,
      closedialogTable,
      onEditSubmit
    }
  },
  components: {
    DeleteFilled
  }
}
</script>

<style lang='less' scoped>
.userManage {
  width: 100%;
  height: 100%;

  .searchForm {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .searchFormBtn {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.userBaseInfo {
  margin: -10px auto 0;
  width: 80%;
  height: 250px;

  .userIcon {
    height: 50px;
    width: 50px;
    background: coral;
    border-radius: 50%;
    overflow: hidden;
  }
  .userinfo {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4, 40px);
    .userinfoItem {
      line-height: 40px;
    }
  }
  .userMark {
    height: 40px;
  }
}
.expenseList {
  margin-top: 30px;
}

.el-table::v-deep(.headerRow th) {
  background: #2e2e2e !important;
}
.uploadBOX {
  width: 100%;
  height: 100%;

  .uploadIMg_el {
    display: flex;
    align-items: center;
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100px;
    height: 100px;
    .uploadIMg {
      margin-left: 10px;
      width: 100px;
      height: 100px;
    }
  }
}
.imgListBox {
  height: 100px;
  width: 100px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  img {
    width: 100%;
    height: 100%;
  }
  .deleteImg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .deleteImg:hover {
    opacity: 1;
  }
}
</style>
