<template>
    <div class="timeBox">
        <div class="count-time">
            <span  style="padding-right:20px;font-size:30px">计时</span>
            <div class="key" id="minutesbox">{{ minutes }}</div>
            <span>:</span>
            <div class="key" id="secondsbox">{{ seconds }}</div>
            <span>:</span>
            <div class="key" id="hsecondsbox">{{ hseconds }}</div>
            <span>:</span>
            <div class="key">000</div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'ActivityCountTime',
    data() {
        return {
            timer: null,
            countTimeCopy: 0,
            lastTime: null
        }
    },
    computed: {
        days() {
            let day = Math.floor(this.countTimeCopy / (24 * 3600 * 1000))
            return day > 9 ? day : '0' + day
        },
        hours() {
            // console.log(this.days)
            let restTime = this.countTimeCopy - this.days * 24 * 3600 * 1000
            let hours = Math.floor(restTime / (60 * 60 * 1000))
            return hours > 9 ? hours : '0' + hours
        },
        minutes() {
            let restTime = this.countTimeCopy - this.days * 24 * 3600 * 1000 - this.hours * 60 * 60 * 1000
            let minutes = Math.floor(restTime / (60 * 1000))
            return minutes > 9 ? minutes : '0' + minutes
        },
        seconds() {
            // console.log(this.countTimeCopy)
            let restTime = this.countTimeCopy - this.days * 24 * 3600 * 1000 - this.hours * 60 * 60 * 1000 - this.minutes * 60 * 1000
            let seconds = Math.floor(restTime / 1000)
            return seconds > 9 ? seconds : '0' + seconds
        },
        hseconds() {
            let restTime = this.countTimeCopy - this.days * 24 * 3600 * 1000 - this.hours * 60 * 60 * 1000 - this.minutes * 60 * 1000 - this.seconds * 1000
            let hseconds = Math.floor(restTime)
            return hseconds > 9 ? hseconds : '0' + hseconds
            //return hseconds > 100 ? hseconds : hseconds < 100 && hseconds > 10 ? '0' +  hseconds : '00' + hseconds
        }
    },
    watch: {
        countTimeReduce(val) {
            console.log(val);
            if (val > 0) {
                this.countTimeCopy = val
                this.countTimes()
            }else{
                this.timer && clearInterval(this.timer)
                document.getElementById("minutesbox").innerHTML = "00"
                document.getElementById("secondsbox").innerHTML = "00"
                document.getElementById("hsecondsbox").innerHTML = "000"

            }
        }
    },
    props: [
        'countTimeReduce', 'timeEndCb'
    ],
    methods: {
        countTimes() {
            let _this = this
            this.timer && clearInterval(this.timer)
            this.timer = setInterval(() => {
                if (_this.countTimeCopy > 0) {
                    _this.countTimeCopy = _this.countTimeCopy - 50 > 0 ? (_this.countTimeCopy - 50) : 0
                } else {
                    clearInterval(_this.timer)
                    _this.timeEndCb()
                }
            }, 50)
        },
        // 解决熄屏问题
        computedTime() {
            if (document.visibilityState === 'hidden') {
                if (this.timer) {
                    clearInterval(this.timer)
                    this.lastTime = Date.now()
                }
            } else {
                let time = Date.now() - this.lastTime
                this.countTimeCopy = this.countTimeCopy - time > 0 ? this.countTimeCopy - time : 0

                this.timer = setInterval(() => {
                    if (this.countTimeCopy > 0) {
                        this.countTimeCopy = this.countTimeCopy - 50 > 0 ? (this.countTimeCopy - 50) : 0
                    } else {
                        clearInterval(this.timer)
                        this.timeEndCb()
                    }
                }, 50)
            }
        }
    },
    mounted() {
        document.addEventListener('visibilitychange', this.computedTime)
    },
    beforeDestroy() {
        this.timer && clearInterval(this.timer)
        document.removeEventListener('visibilitychange', this.computedTime)
    }
}
</script>
<style lang="less" scoped>
.timeBox {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.count-time {
    height: 80px;
    span {
        font-size: 50px;
    }
}
.key {
    display: inline-block;
    width: 110px;
    line-height: 80px;
    background: #ff0000;
    opacity: 0.8;
    margin: 0 3px;
    font-size: 50px;
    font-weight: 600;
    color: white;
}
.key:nth-child(5){
    width: 180px;
}
</style>