<template>
    <el-empty v-if="isempty" description="网络似乎遇到问题，请稍后重试"></el-empty>
    <div v-else class="viisHome">
        <div class="viisIcon">
            <img v-if="!menuObj.isCollapse" class="longicon" :src="logo" alt />
            <span v-if="!menuObj.isCollapse">计时管理平台</span>
            <img v-if="menuObj.isCollapse" class="bigLogo" :src="logo" alt />
        </div>
        <div class="viisInfo">
            <div class="changeMenuicon">
                <img
                    v-if="menuObj.isCollapse"
                    @click="changeCollapse(false)"
                    src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/viis/viis%E5%88%87%E5%9B%BE/%E5%B7%A6%E4%BE%A7%E5%AF%BC%E8%88%AA%E6%A0%8F%E5%92%8C%E9%A1%B6%E9%83%A8%E5%AF%BC%E8%88%AA%E6%A0%8F%E4%B8%80%E7%BA%A7%E8%8F%9C%E5%8D%95%E5%9B%BE%E6%A0%87/top_nav_icon_unfold.png"
                    alt
                />
                <img
                    v-else
                    @click="changeCollapse(true)"
                    src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/viis/viis%E5%88%87%E5%9B%BE/%E5%B7%A6%E4%BE%A7%E5%AF%BC%E8%88%AA%E6%A0%8F%E5%92%8C%E9%A1%B6%E9%83%A8%E5%AF%BC%E8%88%AA%E6%A0%8F%E4%B8%80%E7%BA%A7%E8%8F%9C%E5%8D%95%E5%9B%BE%E6%A0%87/top_nav_icon_shrink.png"
                    alt
                />
            </div>
            <div class="useroptions">
                <div
                    @click="getselectIndex(1)"
                    :class="
                        selectedIndex == 1
                            ? ['notice_icon', 'selected_bg']
                            : ['notice_icon']
                    "
                >
                    <img
                        src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/viis/viis%E5%88%87%E5%9B%BE/%E5%B7%A6%E4%BE%A7%E5%AF%BC%E8%88%AA%E6%A0%8F%E5%92%8C%E9%A1%B6%E9%83%A8%E5%AF%BC%E8%88%AA%E6%A0%8F%E4%B8%80%E7%BA%A7%E8%8F%9C%E5%8D%95%E5%9B%BE%E6%A0%87/top_nav_icon_information.png"
                        alt
                    />
                </div>
                <div
                    @click="getselectIndex(2)"
                    :class="
                        selectedIndex == 2
                            ? ['user_center', 'selected_bg']
                            : ['user_center']
                    "
                >
                    <img
                        src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/viis/viis%E5%88%87%E5%9B%BE/%E5%B7%A6%E4%BE%A7%E5%AF%BC%E8%88%AA%E6%A0%8F%E5%92%8C%E9%A1%B6%E9%83%A8%E5%AF%BC%E8%88%AA%E6%A0%8F%E4%B8%80%E7%BA%A7%E8%8F%9C%E5%8D%95%E5%9B%BE%E6%A0%87/pic_default%20_avatar.png"
                        alt
                    />
                    <span style="padding-left:10px">{{loginName}}</span>
                </div>
                <div
                    @click="getselectIndex(3)"
                    :class="
                        selectedIndex == 3 ? ['exit_icon', 'selected_bg'] : ['exit_icon']
                    "
                >
                    <img
                        src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/viis/viis%E5%88%87%E5%9B%BE/%E5%B7%A6%E4%BE%A7%E5%AF%BC%E8%88%AA%E6%A0%8F%E5%92%8C%E9%A1%B6%E9%83%A8%E5%AF%BC%E8%88%AA%E6%A0%8F%E4%B8%80%E7%BA%A7%E8%8F%9C%E5%8D%95%E5%9B%BE%E6%A0%87/top_nav_icon_quit.png"
                        alt
                    />
                </div>
            </div>
        </div>
        <div class="viisMenu">
            <el-menu
                class="el-menu-vertical-demo"
                unique-opened="true"
                :collapse="menuObj.isCollapse"
                :background-color="menuObj.menuBackground"
                :text-color="menuObj.menuColor"
                active-text-color="#fff5c2"
                :default-active="activeIndex"
            >
                <template v-for="item in tabList" :key="item">
                    <el-menu-item
                        :index="item.index"
                        v-if="item.children.length == 0"
                        @click="$router.push(item.router)"
                    >
                        <img class="tabIcon" :src="selectIcon(item.icon)" alt />
                        <template #title>
                            <span class="cpointer">{{ item.tabName }}</span>
                        </template>
                    </el-menu-item>
                    <el-sub-menu v-if="item.children.length > 0" :index="item.index">
                        <template #title>
                            <img class="tabIcon" :src="selectIcon(item.icon)" alt />
                            <span>{{ item.tabName }}</span>
                        </template>
                        <el-menu-item-group>
                            <el-menu-item
                                v-for="it in item.children"
                                :key="it.index"
                                :index="it.index"
                                @click="$router.push(it.router)"
                            >
                                <span class="cpointer">{{ it.tabName }}</span>
                            </el-menu-item>
                        </el-menu-item-group>
                    </el-sub-menu>
                </template>
            </el-menu>
        </div>
        <div class="viisContainer">
            <div class="componentHeader">
                <el-breadcrumb :separator-icon="ArrowRight">
                    <el-breadcrumb-item :to="{ path: '/' }">
                        <el-icon :size="20">
                            <HomeFilled style="padding-top:10px;box-sizing:border-box" />
                        </el-icon>系统首页
                    </el-breadcrumb-item>
                    <el-breadcrumb-item v-if="$route.path !== '/'">
                        <el-icon :size="20">
                            <FolderOpened style="padding-top:10px;box-sizing:border-box" />
                        </el-icon>
                        {{ $route.name }}
                    </el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <div class="componentContent" id="containerview">

                <!-- <keep-alive include="currentMatch">
                    <router-view v-if="$route.meta.keepAlive"></router-view>
                </keep-alive>
                <router-view v-if="!$route.meta.keepAlive"></router-view> -->
                <router-view></router-view>
            </div>
        </div>
    </div>
</template>

<script>
import qizi from '../assets/icons/qizi.png'
import home from '../assets/icons/home.png'
import bisai from '../assets/icons/bisai.png'
import fxp from '../assets/icons/fxp.png'
import muban from '../assets/icons/muban.png'
import shebei from '../assets/icons/shebei.png'
import shuju from '../assets/icons/shuju.png'
import user from '../assets/icons/user.png'
import wenzhang from '../assets/icons/wenzhang.png'
import xitong from '../assets/icons/xitong.png'
import logo from '../assets/images/v2_r3e9so.png'

import { ArrowRight, HomeFilled, FolderOpened } from '@element-plus/icons'

import { useStore } from 'vuex';
import { useRouter, onBeforeRouteUpdate } from 'vue-router';
import { onMounted, ref, reactive, watch, computed } from 'vue';
export default {
    setup(props) {
        const store = useStore()

        // 映射图标
        let Iconlist = reactive({
            list: new Map([
                ['qizi', qizi],
                ['home', home],
                ['bisai', bisai],
                ['fxp', fxp],
                ['muban', muban],
                ['shebei', shebei],
                ['shuju', shuju],
                ['user', user],
                ['wenzhang', wenzhang],
                ['xitong', xitong],
            ])
        })
        const tabList = ref([
            { tabName: '系统首页', router: '/', index: '1', children: [], icon: 'home' },
            { tabName: '俱乐部管理', router: '/clubManage', index: '2', children: [], icon: 'qizi' },
            { tabName: '用戶管理', router: '/userManage', index: '3', children: [], icon: 'user' },
            {
                tabName: '车辆管理', icon: 'fxp', router: '', index: '4', children: [
                    { tabName: '车辆管理', router: '/carManage', index: '4-1' },
                ]
            },
            {
                tabName: '比赛场次管理', icon: 'bisai', router: '', index: '5', children: [
                    { tabName: '当前场次', router: '/currentMatch', index: '5-1' },
                    { tabName: '历史场次', router: '/historyMatch', index: '5-2' },
                ]
            },
            {
                tabName: '比赛模板管理', icon: 'muban', router: '', index: '6', children: [
                    { tabName: '比赛模板列表', router: '/matchModule', index: '6-1' },
                ]
            },
            {
                tabName: '数据查询', icon: 'shuju', router: '', index: '7', children: [
                    { tabName: '车辆查询', router: '/carSearch', index: '7-1' },
                    { tabName: '选手查询', router: '/playerSearch', index: '7-2' },
                ]
            },
            { tabName: '文章管理', router: '/articleManage', index: '8', children: [], icon: 'wenzhang' },
            {
                tabName: '系统设置', icon: 'xitong', router: '', index: '9', children: [
                    { tabName: '俱乐部设置', router: '/clubSetting', index: '9-1' },
                    { tabName: '系统设置', router: '/systemSetting', index: '9-2' },
                ]
            },

        ])
        // 登录名
        let loginName = ref("")
        // 获取图标对应的图片文件
        const selectIcon = (icon) => {
            return Iconlist.list.get(icon)
        }
        // 是否加载失败，显示骨架屏
        let isempty = ref(false)
        // 左上角三栏是否选中添加背景色
        let selectedIndex = ref(0)
        // 加载router
        const router = useRouter()
        let screenHeight = ref('')
        // mounted周期
        onMounted(() => {
            loginName.value = localStorage.getItem("loginName")
            store.dispatch('getUserMenus').then(res => {
                res.data.forEach(item => {
                    if (item.children == null) {
                        item.children = []
                    }
                })
                tabList.value = res.data
                // 筛选出当前路由
                let currentrouteList = router.options.routes[0].children.filter((item) => {
                    return (item.path == router.options.history.location)
                })
                // setTimeout(() => {
                // 设置当前路由选中状态
                activeIndex.value = currentrouteList[0].meta.depth
                console.log(activeIndex.value);
                // }, 200);
            })
            var explorer = window.navigator.userAgent.toLowerCase();
            // 判断是否是全屏控制路由组件的高度
            if (explorer.indexOf('chrome') > 0) {//webkit
                if (document.body.scrollHeight === window.screen.height) {
                    screenHeight.value = '1020px'
                } else {
                    screenHeight.value = `${document.body.scrollHeight - 60}px`
                }
            } else {//IE 9+  fireFox
                if (window.outerHeight === window.screen.height) {
                    screenHeight.value = '1020px'
                } else {
                    screenHeight.value = `${window.outerHeight - 60}px`
                }
            }


        })
        // 默认选中tab
        let activeIndex = ref('')
        // 切换tab时候触发路由并且改变active显示属性
        const tabChange = (routerpath, index) => {
            activeIndex.value = index
            router.push(router)
        }
        // 控制tab的各种属性
        const menuObj = reactive({
            // 是否折叠
            isCollapse: false,
            menuColor: "white",
            menuBackground: "#24333A",
            menuposition: "240px",
        });
        const changeCollapse = (boolean) => {
            console.log(boolean);
            menuObj.isCollapse = boolean;
            // 控制折叠宽度
            if (boolean) {
                menuObj.menuposition = "65px";
            } else {
                menuObj.menuposition = "240px";
            }
        };
        // 修改个人中心背景显示隐藏
        const getselectIndex = (index) => {
            selectedIndex.value = index;
            switch (index) {
                case 3:
                    localStorage.clear()
                    router.push("/login")
                    break;
            }
        };
        // 路由守卫，当路由在组件内部发生变化时候监听并修改选中tab状态
        onBeforeRouteUpdate((to, from) => {
            console.log(to);
            activeIndex.value = to.meta.depth
        })
        return {
            isempty,
            selectedIndex,
            // menu样式对象
            menuObj,
            changeCollapse,
            getselectIndex,
            logo,
            activeIndex,
            tabChange,
            ArrowRight,
            tabList,
            selectIcon,
            loginName
            // userMenus: computed(() => store.state['karting'].userMenus)

        }
    },
    components: {
        HomeFilled,
        FolderOpened
    }
}
</script>

<style>
.cpointer {
    cursor: pointer;
}
.el-menu-item-group__title {
    padding: 0 !important;
}
.el-menu--inline {
    background: #1d292e;
}
.viisMenu .el-menu-item * {
    vertical-align: middle !important;
}
</style>
<style scoped lang="less">
.viisHome {
    display: grid;
    grid-template-columns: v-bind("menuObj.menuposition") auto;
    grid-template-rows: 60px auto;
    transition: all 0.5s;
}

.viisIcon,
.viisInfo {
    background: v-bind("menuObj.menuBackground");
}
.el-menu-vertical-demo:not(.el-menu--collapse) {
    height: 100%;
    text-align: left;
}
.el-menu {
    height: 100%;
    transition: none;
    border: none;
    a {
        color: white;
        font-size: 14px;
        text-underline: none;
    }
}
.viisContainer {
    height: v-bind("screenHeight");
    overflow-y: scroll;
}
.viisContainer::-webkit-scrollbar {
    display: none;
}
@import "@/assets/less/home.less";
</style>
