<template>
    <div class="loginPage">
        <div class="loginLeft">
            <img class="logoImg" :src="logo" alt />
            <img class="carImg" :src="loginImg" alt />
        </div>
        <div class="loginRight">
            <div class="loginBox">
                <div class="loginTitle">
                    <img :src="logo" alt />
                    <span>计时总后台</span>
                </div>
                <div class="loginForm">
                    <el-form
                        ref="ruleFormUser"
                        :model="ruleForm"
                        :rules="rules"
                        label-width="0px"
                        class="demo-ruleForm"
                    >
                        <el-form-item prop="loginName">
                            <el-input
                                placeholder="手机号/邮箱"
                                class="formInput"
                                v-model="ruleForm.loginName"
                            ></el-input>
                        </el-form-item>
                        <el-form-item prop="password">
                            <el-input
                                type="password"
                                placeholder="登录密码"
                                class="formInput"
                                v-model="ruleForm.password"
                            ></el-input>
                        </el-form-item>
                        <el-form-item prop="code">
                            <div class="yanzhengma">
                                <el-input
                                    placeholder="验证码"
                                    class="formInput"
                                    v-model="ruleForm.code"
                                    @input="checkCode"
                                ></el-input>

                                <div class="code">{{ verify.code }}</div>
                                <div class="codeRefash" @click="getVrityCode">
                                    <img :src="reload" alt />
                                </div>
                                <div class="timeOut">
                                    <span
                                        v-if="!isVality"
                                        style=" font-size: 14px;color: red;"
                                    >{{ timeReturn }}s</span>
                                    <Check v-if="isVality" style="width:1.5rem;color: #5ac983;" />
                                </div>
                            </div>
                        </el-form-item>
                    </el-form>
                </div>
                <div class="loginBtn">
                    <div class="btnItem">
                        <el-switch @change="changeTab" v-model="remberPwd" active-text="记住密码"></el-switch>
                    </div>
                    <div class="btnItem">
                        <el-button size="small" @click="login" type="primary">
                            <span style="cursor:pointer">立即登录</span>
                            <el-icon v-if="isLogin" class="is-loading">
                                <Loading />
                            </el-icon>
                        </el-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import logo from '@/assets/images/v2_r3e9so.png'
import reload from '@/assets/images/reload.png'
import loginImg from '@/assets/images/v2_qx2lxa.png'
import { Loading, Check } from '@element-plus/icons'

import { useStore } from 'vuex';
import { useRouter } from 'vue-router';
import { onMounted, ref, reactive, watch, computed } from 'vue';
import { ElMessage } from 'element-plus'
export default {
    setup(props) {
        // 创建router实例
        const router = useRouter()
        // 创建vuex实例
        const store = useStore()
        // 是否开始登录
        let isLogin = ref(false)
        const ruleFormUser = ref()
        // 记住密码
        let remberPwd = ref(false)
        // 判断验证码到时间
        let isTimeout = ref(false)
        // 倒计时 
        let timeReturn = ref(120)
        // 计时器
        let timer = ref(null)
        // 验证码是否验证成功
        let isVality = ref(false)
        // 验证码和session
        let verify = reactive({
            code: '',
            tempSessionId: ''
        })
        
        // 用户名密码
        let ruleForm = reactive({
            loginName: '',
            password: '',
            code: '',
            tempSessionId: ''
        })
        // 校验规则
        const rules = reactive({
            loginName: [
                {
                    required: true,
                    message: '请输入用户名',
                    trigger: 'blur',
                },
            ],
            password: [
                {
                    required: true,
                    message: '请输入用密码',
                    trigger: 'blur',
                },
            ],
            code: [
                {
                    required: true,
                    message: '请输入验证码',
                    trigger: 'blur',
                },
            ],
        })
        
        const getVrityCode = ()=>{
            timeReturn.value = 120
            isTimeout.value = false
             // 进行倒计时
            clearInterval(timer)
            timer = setInterval(() => {
                if (timeReturn.value == 0) {
                    isTimeout.value = true
                    clearInterval(timer)
                } else {
                    timeReturn.value--
                }
            }, 1000);
            // 获取验证码
            store.dispatch('code').then(res => {
                verify.code = res.data.code
                ruleForm.tempSessionId = res.data.tempSessionId
            })
        }

        // 组件渲染完成之后对应mounted周期    
        onMounted(() => {
            // 获取验证码
            getVrityCode()
            // 如果之前记住密码，现在获取一下
            if (getCookie('loginName') && getCookie('password')) {
                ruleForm.loginName = getCookie('loginName')
                ruleForm.password = getCookie('password')
                remberPwd.value = true
            }
        })
        // 点击登录调用
        const login = () => {
            // 进行校验
            ruleFormUser.value.validate((valid) => {
                if (valid) {
                    if (isTimeout.value) {
                        ElMessage({
                            message: '验证码已经超时，请重新获取验证码',
                            type: 'warning',
                        })
                        return;
                    }
                    if (ruleForm.code !== verify.code) {
                        ElMessage({
                            message: '验证码不正确，请重新输入',
                            type: 'warning',
                        })
                        return;
                    }
                    // loading
                    isLogin.value = true
                    store.dispatch('login', ruleForm).then(res => {
                        console.log(res);
                        if (res.code == 200) {
                            localStorage.setItem("loginName",res.data.loginName)
                            localStorage.setItem('token',res.data.token)
                            isLogin.value = false
                            // 如果点击记住密码、将密码存起来
                            if (remberPwd.value) {
                                setCookie('loginName', ruleForm.loginName, 7); //保存帐号到cookie，有效期7天
                                setCookie('password', ruleForm.password, 7); //保存密码到cookie，有效期7天 
                            }
                            router.push('/')
                        } else {
                            isLogin.value = false
                            ElMessage({
                                message: res.message,
                                type: 'warning',
                            })
                        }

                    })
                }else{
                    return false;
                }
            })

        }

        // 检查code时候与获取的相同
        const checkCode = () => {
            if (ruleForm.code === verify.code) {
                isVality.value = true
            } else {
                isVality.value = false
            }
        }
        // 切换switch状态
        const changeTab = (val) => {
            if (!val) {
                delCookie('loginName')
                delCookie('password')
            }
        }
        // 设置cookie
        const setCookie = (name, value, day) => {
            var date = new Date();
            date.setDate(date.getDate() + day);
            document.cookie = name + '=' + value + ';expires=' + date;
        }

        //获取cookie
        const getCookie = (name) => {
            var reg = RegExp(name + '=([^;]+)');
            var arr = document.cookie.match(reg);
            if (arr) {
                return arr[1];
            } else {
                return '';
            }
        }

        //删除cookie
        const delCookie = (name) => {
            setCookie(name, null, -1);
        }
        return {
            isLogin,
            ruleForm,
            rules,
            loginImg,
            logo,
            reload,
            remberPwd,
            login,
            changeTab,
            verify,
            checkCode,
            timeReturn,
            isTimeout,
            isVality,
            ruleFormUser,
            getVrityCode
        }
    },
    components: {
        Loading,
        Check
    }
}
</script>

<style lang='less' scoped>
.loginPage {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    .loginLeft {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        .carImg {
            width: 100%;
            min-height: 100%;
            // margin-top: -165px;
        }
        .logoImg {
            width: 100px;
            position: absolute;
            top: 30px;
            left: 30px;
            z-index: 999;
        }
    }
    .loginRight {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .loginBox {
            width: 60%;
            height: 55%;
            // border: 1px solid #e8e8e8;
            box-shadow: 0.5px 2px 15px 1px #ccc;
            .loginTitle {
                height: 30%;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 120px;
                    padding-top: 5px;
                }
                span {
                    font-size: 30px;
                    color: #3a62d7;
                }
            }
            .loginForm {
                width: 70%;
                margin: 0 auto;
            }
            .loginBtn {
                width: 70%;
                height: 6 0px;
                margin: 0 auto;
                display: flex;
                .btnItem:first-child {
                    padding-top: 10px;
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                }
                .btnItem:last-child {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                }
            }
        }
    }
}
.formInput {
    margin-top: 15px;
    box-sizing: border-box;
}
.yanzhengma {
    display: grid;
    grid-template-columns: 40% 30% 15% 15%;
    grid-template-rows: 100%;
    .code {
        margin-top: 15px;
        margin-left: 10px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        letter-spacing: 6px;
        background: #eee;
        font-weight: 800;
        border-radius: 5px;
    }
    .timeOut {
        padding-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .codeRefash {
        padding-top: 15px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        img {
            width: 25px;
        }
    }
}

.loginForm::v-deep(.el-input__inner) {
    padding: 25px 10px;
}
</style>
