// 全局背景颜色
@background:white;
// 全局默认深色背景字体颜色
@color_white:white;

.viisHome{
    width: 100%;
    height: 100%;
    background: @background;
    
}
.viisIcon{ 
    display: flex;
    align-items: center;
    justify-content: center;
    color: @color_white;
    z-index: 5;
    box-shadow: 3px -5px 4px .5px #182226;
    transition: all 0.5s;
    font-size: 16px; 
    .longicon{
        padding-top: 5px;
        padding-right: 10px;
        width: 80px;
    }
    .bigLogo{
        width: 45px;
    }
}
.viisInfo{
    
    display: grid;
    grid-template-columns: 60px auto;
    grid-template-rows: 100%;
    position: relative;
    .changeMenuicon{
        transition: all 1s;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            cursor: pointer;
        }
    }
    .useroptions{
        position: absolute;
        right: 0;
        top: 0;
        width: 240px;   
        display: grid;
        grid-template-columns: 60px 120px 60px;
        grid-template-rows: 60px;
        .notice_icon,.user_center,.exit_icon{
            display: flex;
            justify-content: center;
            align-items: center;
            span{
                color: @color_white;
            }
            cursor: pointer;
        }
        .selected_bg{
            background: #182226;
        }
    }
}
.tabIcon{
    width: 20px;
    padding-right: 10px;
}
.viisContainer{
    width: 100%;
    .componentHeader{
        height: 50px;
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
    }
    .componentContent{
        height: calc(100% - 50px);
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }
}